<div class="row">
  <div class="col-xs-12">
    <h2>{{ 'GLOBAL_SEARCH.PROJECTS' | translate }}</h2>
    <clr-datagrid>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.PROJECT_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.OWNER_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.IS_PUBLIC' | translate }}</clr-dg-column>            
      <clr-dg-row *clrDgItems="let p of globalSearch.project_result">
        <clr-dg-cell [ngSwitch]="hasSignedIn">
          <a *ngSwitchCase="true" href="javascript:void(0)" routerLink="/projects" (click)="navigateTo('/projects')" >{{ p.project_name }}</a>
          <ng-template ngSwitchDefault>{{ p.project_name }}</ng-template>
        </clr-dg-cell>
        <clr-dg-cell>{{ p.owner_name }}</clr-dg-cell>
        <clr-dg-cell>{{ (p.is_public ? 'GLOBAL_SEARCH.TRUE' : 'GLOBAL_SEARCH.FALSE') | translate }}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
        {{ 'GLOBAL_SEARCH.SEARCH_FOR' | translate }} {{ globalSearch.project_result ? globalSearch.project_result.length : 0 }} {{ 'GLOBAL_SEARCH.ITEMS' | translate }}
      </clr-dg-footer>
    </clr-datagrid>
    <h2>{{ 'GLOBAL_SEARCH.SERVICES' | translate }}</h2>
    <clr-datagrid>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.SERVICE_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.PROJECT_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.IS_PUBLIC' | translate }}</clr-dg-column>     
      <clr-dg-row *clrDgItems="let s of globalSearch.service_result">
        <clr-dg-cell [ngSwitch]="hasSignedIn">
          <a *ngSwitchCase="true" href="javascript:void(0)" routerLink="/services" (click)="navigateTo('/services')">{{ s.service_name }}</a>
          <ng-template ngSwitchDefault>{{ s.service_name }}</ng-template>
        </clr-dg-cell>
        <clr-dg-cell>{{ s.project_name }}</clr-dg-cell>
        <clr-dg-cell>{{ (s.is_public ? 'GLOBAL_SEARCH.TRUE' : 'GLOBAL_SEARCH.FALSE') | translate }}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
        {{ 'GLOBAL_SEARCH.SEARCH_FOR' | translate }} {{ globalSearch.service_result ? globalSearch.service_result.length : 0 }} {{ 'GLOBAL_SEARCH.ITEMS' | translate }}
      </clr-dg-footer>
    </clr-datagrid>
    <ng-template [ngIf]="hasSignedIn">
      <h2>{{ 'GLOBAL_SEARCH.USERS' | translate }}</h2>
      <clr-datagrid>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.USERNAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.EMAIL' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.ROLE' | translate }}</clr-dg-column>            
        <clr-dg-row *clrDgItems="let u of globalSearch.user_result">
          <clr-dg-cell><a href="javascript:void(0)" routerLink="/user-center" (click)="navigateTo('/user-center')">{{ u.user_name }}</a></clr-dg-cell>
          <clr-dg-cell>{{ u.user_email }}</clr-dg-cell>
          <clr-dg-cell>{{ u.role_name }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
          {{ 'GLOBAL_SEARCH.SEARCH_FOR' | translate }} {{ globalSearch.user_result ? globalSearch.user_result.length : 0 }} {{ 'GLOBAL_SEARCH.ITEMS' | translate }}
        </clr-dg-footer>
      </clr-datagrid>
      <h2>{{ 'GLOBAL_SEARCH.IMAGES' | translate }}</h2>
      <clr-datagrid>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.IMAGE_NAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.PROJECT_NAME' | translate }}</clr-dg-column>     
        <clr-dg-row *clrDgItems="let i of globalSearch.images_name">
          <clr-dg-cell><a href="javascript:void(0)" routerLink="/images" (click)="navigateTo('/images')">{{ i.image_name }}</a></clr-dg-cell>
          <clr-dg-cell>{{ i.project_name }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
          {{ 'GLOBAL_SEARCH.SEARCH_FOR' | translate }} {{ globalSearch.images_name ? globalSearch.images_name.length : 0 }} {{ 'GLOBAL_SEARCH.ITEMS' | translate }}
        </clr-dg-footer>
      </clr-datagrid>
      <h2>{{ 'GLOBAL_SEARCH.NODES' | translate }}</h2>
      <clr-datagrid>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.NODE_NAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.NODE_IP' | translate }}</clr-dg-column>     
        <clr-dg-row *clrDgItems="let n of globalSearch.node_result">
          <clr-dg-cell><a href="javascript:void(0)" routerLink="/nodes" (click)="navigateTo('/nodes')">{{ n.node_name }}</a></clr-dg-cell>
          <clr-dg-cell>{{ n.node_ip }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
          {{ 'GLOBAL_SEARCH.SEARCH_FOR' | translate }} {{ globalSearch.node_result ? globalSearch.node_result.length : 0 }} {{ 'GLOBAL_SEARCH.ITEMS' | translate }}
        </clr-dg-footer>
      </clr-datagrid>
    </ng-template>  
  </div>
</div>