<div class="clr-row">
  <div class="clr-col-12">
    <h2>{{ 'GLOBAL_SEARCH.PROJECTS' | translate }}</h2>
    <clr-datagrid>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.PROJECT_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.OWNER_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.IS_PUBLIC' | translate }}</clr-dg-column>
      <clr-dg-row *clrDgItems="let p of globalSearch.projectResult">
        <clr-dg-cell [ngSwitch]="hasSignedIn">
          <a *ngSwitchCase="true"
             href="javascript:void(0)"
             routerLink="/projects"
             (click)="navigateTo('/projects')">
            {{ p.projectName }}
          </a>
          <ng-template ngSwitchDefault>{{ p.projectName }}</ng-template>
        </clr-dg-cell>
        <clr-dg-cell>{{p.ownerName }}</clr-dg-cell>
        <clr-dg-cell>{{(p.isPublic ? 'GLOBAL_SEARCH.TRUE' : 'GLOBAL_SEARCH.FALSE') | translate }}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination [clrDgPageSize]="5"></clr-dg-pagination>
        {{'GLOBAL_SEARCH.SEARCH_FOR' | translate }}
        {{globalSearch.projectResult.length}}
        {{'GLOBAL_SEARCH.ITEMS' | translate }}
      </clr-dg-footer>
    </clr-datagrid>
    <h2>{{ 'GLOBAL_SEARCH.SERVICES' | translate }}</h2>
    <clr-datagrid>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.SERVICE_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.PROJECT_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'GLOBAL_SEARCH.IS_PUBLIC' | translate }}</clr-dg-column>
      <clr-dg-row *clrDgItems="let s of globalSearch.serviceResult">
        <clr-dg-cell [ngSwitch]="hasSignedIn">
          <a *ngSwitchCase="true" href="javascript:void(0)" routerLink="/services"
             (click)="navigateTo('/services')">{{ s.serviceName }}</a>
          <ng-template ngSwitchDefault>{{ s.serviceName }}</ng-template>
        </clr-dg-cell>
        <clr-dg-cell>{{s.projectName }}</clr-dg-cell>
        <clr-dg-cell>{{(s.isPublic ? 'GLOBAL_SEARCH.TRUE' : 'GLOBAL_SEARCH.FALSE') | translate }}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination [clrDgPageSize]="5"></clr-dg-pagination>
        {{'GLOBAL_SEARCH.SEARCH_FOR' | translate }}
        {{globalSearch.serviceResult.length}}
        {{'GLOBAL_SEARCH.ITEMS' | translate }}
      </clr-dg-footer>
    </clr-datagrid>
    <ng-template [ngIf]="hasSignedIn">
      <h2>{{ 'GLOBAL_SEARCH.USERS' | translate }}</h2>
      <clr-datagrid>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.USERNAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.EMAIL' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.ROLE' | translate }}</clr-dg-column>
        <clr-dg-row *clrDgItems="let u of globalSearch.userResult">
          <clr-dg-cell>
            <a href="javascript:void(0)"
               routerLink="/admin/user-center"
               (click)="navigateTo('/admin/user-center')">
              {{ u.userName }}
            </a>
          </clr-dg-cell>
          <clr-dg-cell>{{u.userEmail}}</clr-dg-cell>
          <clr-dg-cell>{{u.roleName}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination [clrDgPageSize]="5"></clr-dg-pagination>
          {{'GLOBAL_SEARCH.SEARCH_FOR' | translate }}
          {{globalSearch.userResult.length}}
          {{'GLOBAL_SEARCH.ITEMS' | translate}}
        </clr-dg-footer>
      </clr-datagrid>
      <h2>{{ 'GLOBAL_SEARCH.IMAGES' | translate }}</h2>
      <clr-datagrid>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.IMAGE_NAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.PROJECT_NAME' | translate }}</clr-dg-column>
        <clr-dg-row *clrDgItems="let i of globalSearch.imageResult">
          <clr-dg-cell>
            <a href="javascript:void(0)"
               routerLink="/images"
               (click)="navigateTo('/images')">
              {{i.imageName}}
            </a>
          </clr-dg-cell>
          <clr-dg-cell>{{i.projectName}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination [clrDgPageSize]="5"></clr-dg-pagination>
          {{'GLOBAL_SEARCH.SEARCH_FOR' | translate }}
          {{globalSearch.imageResult.length}}
          {{ 'GLOBAL_SEARCH.ITEMS' | translate }}
        </clr-dg-footer>
      </clr-datagrid>
      <h2>{{ 'GLOBAL_SEARCH.NODES' | translate }}</h2>
      <clr-datagrid>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.NODE_NAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'GLOBAL_SEARCH.NODE_IP' | translate }}</clr-dg-column>
        <clr-dg-row *clrDgItems="let n of globalSearch.nodeResult">
          <clr-dg-cell>
            <a href="javascript:void(0)"
               routerLink="/nodes"
               (click)="navigateTo('/nodes')">
              {{n.nodeName }}
            </a>
          </clr-dg-cell>
          <clr-dg-cell>{{n.nodeIp}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination [clrDgPageSize]="5"></clr-dg-pagination>
          {{'GLOBAL_SEARCH.SEARCH_FOR' | translate}}
          {{globalSearch.nodeResult.length}}
          {{'GLOBAL_SEARCH.ITEMS' | translate }}
        </clr-dg-footer>
      </clr-datagrid>
    </ng-template>
  </div>
</div>
