<header-content [isSignIn]="true" [hasSignedIn]="false"></header-content>
<div class="clr-row background-container">
  <div class="clr-col-lg-7 hidden-md-down">
    <div class="left-image-container">
      <div class="clr-row clr-justify-content-around">
        <div class="clr-row circle-container clr-align-content-center">
          <img src="../../../images/service_white.png" alt="Service"/>
          <span class="icon-description">{{ 'DASHBOARD.SERVICE' | translate }}</span>
        </div>
        <div class="clr-row circle-container clr-align-content-center">
          <img src="../../../images/node_white.png" alt="Node"/>
          <span class="icon-description">{{ 'DASHBOARD.NODE' | translate }}</span>
        </div>
        <div class="clr-row circle-container clr-align-content-center">
          <img src="../../../images/project_white.png" alt="Project"/>
          <span class="icon-description">{{ 'DASHBOARD.STORAGE' | translate }}</span>
        </div>
      </div>
      <div class="clr-row clr-justify-content-around clr-align-items-end">
        <img alt="" src="../../../images/columns/1.png"/>
        <img alt="" src="../../../images/columns/2.png"/>
        <img alt="" src="../../../images/columns/3.png"/>
        <img alt="" src="../../../images/columns/4.png"/>
        <img alt="" src="../../../images/columns/5.png"/>
        <img alt="" src="../../../images/columns/6.png"/>
        <img alt="" src="../../../images/columns/7.png"/>
        <img alt="" src="../../../images/columns/8.png"/>
        <img alt="" src="../../../images/columns/9.png"/>
        <img alt="" src="../../../images/columns/10.png"/>
        <img alt="" src="../../../images/columns/11.png"/>
        <img alt="" src="../../../images/columns/6.png"/>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-5 clr-col-md-12 sign-in-background">
    <div class="clr-row sign-in-container">
      <img alt="" src="../../../images/default-user.png" class="image-head">
      <div class="clr-row clr-align-content-center input-container first">
        <img alt="" src="../../../images/login-user.png">
        <lib-input-ex [inputIsRequired]="true"
                      [inputPlaceholder]=" 'ACCOUNT.USERNAME_PLACEHOLDER' | translate"
                      [validatorMessage]="[{key:'required', message:'ACCOUNT.USERNAME_IS_REQUIRED' | translate }]"
                      (commitEvent)="signInUser.username = $event">
        </lib-input-ex>
      </div>
      <div class="clr-row clr-align-content-center input-container">
        <img alt="" src="../../../images/login-password.png">
        <lib-input-ex [inputIsRequired]="true"
                      [inputCategory]="3"
                      [inputPlaceholder]="'ACCOUNT.PASSWORD_PLACEHOLDER' | translate"
                      [validatorMessage]="[{key:'required', message:'ACCOUNT.PASSWORD_IS_REQUIRED' | translate }]"
                      (commitEvent)="signInUser.password = $event">
        </lib-input-ex>
      </div>
      <div *ngIf="curShowVerifyCode"
           class="clr-row clr-align-content-center input-container">
        <img alt="" src="../../../images/login-verify.png">
        <lib-input-ex [inputIsRequired]="true"
                      [toolTipPosition]="'top-right'"
                      [inputPlaceholder]="'ACCOUNT.VERIFY_CODE_PLACEHOLDER' | translate"
                      (commitEvent)="signInUser.captcha = $event">
        </lib-input-ex>
        <a href="javascript: void(0)" (click)="refreshVerifyPicture()">
          <img alt="" style="height: 50px" [src]="verifyPictureUrl">
        </a>
      </div>
      <button [disabled]="signInUser.password === '' || signInUser.password ===''"
              class="btn btn-primary-outline login-class"
              (click)="signIn()">
        {{ 'ACCOUNT.SIGN_IN' | translate }}
      </button>
      <div class="clr-row clr-justify-content-end">
        <button *ngIf="authMode === 'db_auth'" [disabled]="isSignWIP" class="btn btn-link" (click)="signUp()">
          {{ 'ACCOUNT.SIGN_UP' | translate }}
        </button>
        <button *ngIf="authMode === 'db_auth'" [disabled]="isSignWIP" class="btn btn-link"
                (click)="navigateForgotPassword()">
          {{ 'ACCOUNT.FORGOT_PASSWORD' | translate }}?
        </button>
      </div>
    </div>
  </div>
</div>
