fieldset.fieldSet-default {
  margin: 0 2px;
  border: 1px solid silver;
  overflow: hidden;
  padding: 0 20px 20px 20px;
}

legend.legend-default {
  padding: .5em;
  border: 0;
  width: auto;
  margin-left: 30px;
}

span.status-value {
  color: darkblue;
}

span.warning {
  color: darkorange;
}

span.stopped {
  color: gray;
}

span.running {
  color: green;
}

div.detail-container {
  display: flex;
  flex-direction: column;
}

div.detail-line {
  height: 25px;
}

div.utilization-container {
  margin: 20px 0 20px 0;
}

div.scale-line {
  display: flex;
  height: 30px;
  align-items: center;
}

label.margin-left-10 {
  margin-left: 10px;
}

span.margin-left-20 {
  margin-left: 20px;
}

cs-dropdown.margin-left-10 {
  margin-left: 10px;
}

div.action-method {
  margin-top: 10px;
  min-height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

td.change {
  background-color: antiquewhite;
}

div.footer {
  display: flex;
  align-items: center;
}

tr.image-tag-line {
  height: 30px;
}

td.image-name {
  line-height: 30px;
  font-size: 14px;
}

td.image-tag {
  margin: auto;
  font-size: 14px;
  line-height: 30px;
}