fieldset.fieldSet-default {
  margin: 0 2px;
  border: 1px solid silver;
  overflow: hidden;
  padding: 0 20px 20px 20px;
}

legend.legend-default {
  padding: .5em;
  border: 0;
  width: auto;
  margin-left: 30px;
}

span.status-value{
  color: darkblue;
}