<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'" [clrModalClosable]="!isActionInWIP">
  <h3 class="modal-title">{{ "SERVICE.SERVICE_CONTROL" | translate }}</h3>
  <div class="modal-body" style="padding-top: 3px;">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink (click)="actionMethod = 0">
          {{"SERVICE.SERVICE_CONTROL_SCALE" | translate}}
        </button>
        <clr-tab-content *clrIfActive>
          <scale *ngIf="service"
                 [service]="service"
                 [isActionInWIP]="isActionInWIP"
                 (onError)="defaultDispatchErr($event)"
                 (onMessage)="defaultHandleMessage($event)"
                 (onActionIsEnabled)="defaultHandleActionEnabled($event)">
          </scale>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="actionMethod = 1">
          {{"SERVICE.SERVICE_CONTROL_UPDATE" | translate}}
        </button>
        <clr-tab-content *clrIfActive>
          <update *ngIf="service"
                  [service]="service"
                  [isActionInWIP]="isActionInWIP"
                  (onError)="defaultDispatchErr($event)"
                  (onMessage)="defaultHandleMessage($event)"
                  (onAlertMessage)="defaultHandleAlertMessage($event)"
                  (onActionIsEnabled)="defaultHandleActionEnabled($event)">
          </update>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="alertMessage = '';actionMethod = 2">
          {{"SERVICE.SERVICE_CONTROL_LOCATE" | translate}}
        </button>
        <clr-tab-content *clrIfActive>
          <locate *ngIf="service"
                  [service]="service"
                  [isActionInWIP]="isActionInWIP"
                  (onError)="defaultDispatchErr($event)"
                  (onMessage)="defaultHandleMessage($event)"
                  (onActionIsEnabled)="defaultHandleActionEnabled($event)">
          </locate>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="modal-footer footer">
    <button type="button" class="btn" [disabled]="isActionInWIP" (click)="isOpen = false">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="!actionEnable" (click)="actionExecute()">
      {{ 'BUTTON.CONFIRM' | translate }}
    </button>
    <span *ngIf="isActionInWIP" class="spinner spinner-sm"></span>
  </div>
</clr-modal>