


div.scale-line {
  display: flex;
  height: 30px;
  align-items: center;
}

label.margin-left-10 {
  margin-left: 10px;
}

label.disabled{
  color: silver;
}

span.margin-left-20 {
  margin-left: 20px;
}

cs-dropdown.margin-left-10 {
  margin-left: 10px;
}

td.change {
  background-color: antiquewhite;
}

div.footer {
  display: flex;
  align-items: center;
}

tr.image-tag-line {
  height: 30px;
}

td.image-name {
  line-height: 30px;
  font-size: 14px;
}

td.image-tag {
  margin: auto;
  font-size: 14px;
  line-height: 30px;
}