div.modal-body{
  min-height: 400px;
}

div.scale-line {
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: 15px;
}

label.margin-left-10 {
  margin-left: 10px;
}

label.disabled{
  color: silver;
}

span.margin-left-20 {
  margin-left: 20px;
}

cs-dropdown.margin-left-10 {
  margin-left: 10px;
}

div.footer {
  display: flex;
  align-items: center;
}

