<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ "SERVICE.SERVICE_CONTROL" | translate }}</h3>
  <div class="modal-body">
    <fieldset class="fieldSet-default">
      <legend class="legend-default">{{"SERVICE.SERVICE_CONTROL_STATUS" | translate}}</legend>
      <div style="display: flex;flex-direction: column;">
        <div style="height: 25px;">
          <span>{{ 'SERVICE.SERVICE_CONTROL_NAME' | translate }}:
            <span class="status-value">{{service.service_name}}</span>
          </span>
          <span>{{ 'SERVICE.STATUS' | translate }}:
            <span [ngClass]="getStatusClass(service.service_status)" class="status-value">
              {{getServiceStatus(service.service_status) | translate}}</span>
          </span>
          <span>{{ 'SERVICE.SERVICE_CONTROL_INSTANCE' | translate }}:
            <span class="status-value"></span>
          </span>
        </div>
        <div style="height: 25px;">
          <span>{{ 'SERVICE.SERVICE_CONTROL_REASON' | translate }}:
          <span class="status-value">{{reason}}</span>
          </span>
        </div>
        <div style="height: 25px;">
          <span>{{ 'SERVICE.SERVICE_CONTROL_POD' | translate }}:
           <span class="status-value"> </span>
          </span>
          <span>{{ 'SERVICE.SERVICE_CONTROL_POD_STATUS' | translate }}:
            <span class="status-value"> </span>
          </span>
          <span>{{ 'SERVICE.SERVICE_CONTROL_CPU_USAGE' | translate }}:
            <span class="status-value"> </span>
          </span>
          <span>{{ 'SERVICE.SERVICE_CONTROL_MEM_USAGE' | translate }}:
            <span class="status-value"> </span>
          </span>
        </div>
      </div>
    </fieldset>
    <div style="margin: 20px 0 20px 0;display: flex">
      <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_CPU_UTILIZATION_CURRENT'| translate"
                [disabled]="true"
                [simpleFiled]="'50%'">
      </cs-input>
      <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_CPU_UTILIZATION_QUALIFIED'| translate"
                [simpleFiled]="'55%'">
      </cs-input>
    </div>
    <div style="display: flex;height: 30px;align-items: center">
      <input title="" type="radio" id="manually" name="scaleMethod" (change)="setScaleMethod(1)">
      <label style="margin-left: 10px;" for="manually">
        {{"SERVICE.SERVICE_CONTROL_MANUALLY_SCALE"|translate}}
      </label>
      <span *ngIf="scaleModule == 1" style="margin-left: 20px;">
        {{"SERVICE.SERVICE_CONTROL_INSTANCE_NUMBER"|translate}}:
      </span>
      <cs-dropdown *ngIf="scaleModule == 1"
                   class="base-margin-left"
                   [dropdownWidth]="100"
                   [dropdownHideSearch]="true"
                   [dropdownList]="dropDownListNum"
                   (onChange)="scaleNum = $event">
      </cs-dropdown>
    </div>
    <div style="display: flex;height: 30px;align-items: center">
      <input title="" type="radio" id="auto" name="scaleMethod" (change)="setScaleMethod(2)">
      <label style="margin-left: 10px;" for="auto">
        {{"SERVICE.SERVICE_CONTROL_AUTO_SCALE"|translate}}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn"
            (click)="isOpen = false">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="setServiceScale()">
      {{ 'BUTTON.CONFIRM' | translate }}
    </button>
  </div>
</clr-modal>