.base-margin-left {
  margin-left: 10px;
}

div.modal-body{
  min-height: 300px;
}

span.title{
  width: 180px;
  text-align: right;
}

div.dynamic-line-container {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;
}

div.dynamic-line-container input[type='radio'] {
  margin-left: 10px;
}

clr-icon.dynamic-icon {
  color: white;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}