<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ 'SERVICE.VOLUME_CONFIG' | translate }}</h3>
  <div class="modal-body">
    <div *ngFor="let volumeData of curVolumeDataList;let i = index">
      <div class="dynamic-line-container">
        <div class="dynamic-icon-container">
          <clr-icon class="dynamic-icon" shape="minus" (click)="deleteVolumeData(i)"></clr-icon>
        </div>
        <cs-input [inputLabel]="'SERVICE.VOLUME_NAME'| translate"
                  [inputPattern]="patternName"
                  [inputLabelMinWidth]="160"
                  [inputIsRequired]="true"
                  [simpleFiled]="volumeData.volume_name"
                  [inputPlaceholder]="'nfsVolume'"
                  (onCheck)="volumeData.volume_name = $event">
        </cs-input>
        <span class="title">{{"SERVICE.VOLUME_TYPE"|translate}}:</span>
        <cs-dropdown class="base-margin-left"
                     [dropdownWidth]="215"
                     [dropdownList]="volumeTypes"
                     [dropdownDefaultText]="volumeData.volume_type"
                     [dropdownListTextKey]="'name'"
                     (onChange)="changeSelectVolumeType(i,$event)">
        </cs-dropdown>
      </div>
      <div class="dynamic-line-container">
        <cs-input [inputLabel]="'SERVICE.VOLUME_CONTAINER_PATH'| translate"
                  [inputPattern]="patternPath"
                  [simpleFiled]="volumeData.container_path"
                  [inputPlaceholder]="'/data'"
                  [inputIsRequired]="true"
                  (onCheck)="volumeData.container_path = $event">
        </cs-input>
        <input type="radio" title="path" [name]="i" (click)="selectPathOrFile(true,i)" checked>
        {{'SERVICE.VOLUME_PATH'| translate}}
        <input type="radio" title="file" [name]="i" (click)="selectPathOrFile(false,i)">
        {{'SERVICE.VOLUME_FILE'| translate}}
      </div>
      <div *ngIf="volumeData.volume_type == 'nfs'" class="dynamic-line-container">
        <cs-input [inputLabel]="'SERVICE.VOLUME_NFS_SERVER'| translate"
                  [simpleFiled]="volumeData.target_storage_service"
                  [inputPattern]="patternIP"
                  [inputPlaceholder]="'10.0.0.0'"
                  [inputIsRequired]="true"
                  (onCheck)="volumeData.target_storage_service = $event">
        </cs-input>
        <cs-input [inputLabel]="'SERVICE.VOLUME_TARGET_PATH'| translate"
                  [simpleFiled]="volumeData.target_path"
                  [inputPlaceholder]="'/data'"
                  [inputIsRequired]="true"
                  [inputPattern]="patternPath"
                  (onCheck)="volumeData.target_path = $event">
        </cs-input>
      </div>
      <div *ngIf="volumeData.volume_type == 'pvc'" class="dynamic-line-container">
        <span class="title">{{"SERVICE.VOLUME_SELECT_PVC_TITLE" | translate}}:</span>
        <cs-dropdown class="base-margin-left"
                     [dropdownDefaultText]="pvcDropdownDefaultText(i) | translate"
                     [dropdownWidth]="200"
                     [dropdownList]="pvcList"
                     [dropdownMustBeSelect]="true"
                     [dropdownListTextKey]="'name'"
                     (onChange)="changeSelectPVC(i, $event)"
                     (onOnlyClickItem)="createNewPvc(i)">
        </cs-dropdown>
      </div>
    </div>
    <div class="dynamic-line-container">
      <clr-icon class="dynamic-icon" shape="plus" (click)="addNewVolumeData()"></clr-icon>
      <span class="base-margin-left">{{"SERVICE.VOLUME_ADD_VOLUME"|translate}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="confirmVolumeInfo()">
      {{"BUTTON.CONFIRM" | translate}}
    </button>
  </div>
</clr-modal>