div.cs-input-array-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  height: 30px;
}

span.cs-input-array-label {
  margin-top: 10px;
  text-align: right;
  min-width: 180px;
}

span.cs-input-array-des-text {
  min-width: 180px;
  text-align: left;
  margin-left: 10px;
  line-height: 30px;
  color: silver;
  font-style: italic;
}

div.cs-input-array-icon-container {
  display: flex;
  align-items: center;
  flex-basis: 20px;
  height: 100%;
  margin-left: 10px;
}

clr-icon.cs-input-array.plus {
  color: white;
  background: darkblue;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

clr-icon.cs-input-array.minus {
  color: wheat;
  background: darkgreen;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  cursor: pointer;
}

span.cs-input-array-span {
  flex-basis: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: solid 1px silver;
  height: 30px;
  line-height: 30px;
}

span.cs-input-array-span.last {
  margin-left: 10px;
}

label.cs-input-array-container {
  height: 30px;
  flex-basis: 100%;
}

input.cs-input-array-input {
  text-align: left;
  line-height: 30px;
  width: 100%;
}

input.cs-input-array-input.last {
  margin-left: 10px;
}

a.cs-input-array-icon {
  margin-left: 5px;
  flex-basis: 20px;
}

span.asterisk {
  color: #FF0000;
}