version: '2'
services:
  uibuilder7.4:
    build:
      context: ../../
      dockerfile: make/dev/container/uibuilder/Dockerfile
    image: 10.111.25.119/board/dev_uibuilder:7.4
    volumes:
      - ../../src/ui:/board_src
    environment:
      MODE: build
    entrypoint:
      - /entrypoint.sh
  uibuilder-adminserver7.4:
    build:
      context: ../../
      dockerfile: make/dev/container/uibuilder/Dockerfile
    image: 10.111.25.119/board/dev_uibuilder:7.4
    volumes:
      - ../../src/ui-adminserver:/board_src
    environment:
      MODE: build
    entrypoint:
      - /entrypoint.sh
