/* You can add global styles to this file, and also import other style files */
.popover-pointer:before {
  border-right-color: rgba(139, 188, 233, 0.5) !important;
  border-left-color: rgba(139, 188, 233, 0.5) !important;
}

button.signpost-content-header-btn-close {
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: white !important;
  font-weight: bold;
}

button.signpost-content-header-btn-close:hover {
  color: deepskyblue !important;
}