/* You can add global styles to this file, and also import other style files */
@import '~inspurprism/prism-default.css';
.popover-pointer:before {
  border-right-color: rgba(0, 64, 96, 0.8) !important;
  border-left-color: rgba(0, 64, 96, 0.8) !important;
}

button.signpost-content-header-btn-close {
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: white !important;
  font-weight: bold;
}

button.signpost-content-header-btn-close:hover {
  color: deepskyblue !important;
}

button.btn {
  text-transform: none;
}

div.modal-footer{
  align-items: center;
}

/*clr-vertical-nav.clr-vertical-nav button.nav-trigger{*/
  /*background-color: #4a5063;*/
  /*color: white;*/
/*}*/