/* You can add global styles to this file, and also import other style files */
@import '~inspurprism/prism-default.css';
.popover-pointer:before {
  border-right-color: rgba(0, 64, 96, 0.8) !important;
  border-left-color: rgba(0, 64, 96, 0.8) !important;
}

input[type=file]:hover {
  cursor: pointer;
}

input[type=file]:disabled:hover {
  cursor: not-allowed;
}
/*for Chrome,safari*/
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

input[type=file]:disabled::-webkit-file-upload-button {
  cursor: not-allowed;
}

button.signpost-content-header-btn-close {
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: white !important;
  font-weight: bold;
}

button.signpost-content-header-btn-close:hover {
  color: deepskyblue !important;
}

div.signpost-content-header{
  background-color: transparent;
}

button.btn {
  text-transform: none;
}

div.modal-footer{
  align-items: center;
}

div.row{
  margin-left: 0;
  margin-right: 0;
}
