div.step5-container {
  display: flex;
  min-height: 400px; /*fixed height*/
  flex-direction: column;
  margin-top: 30px;
}

div.step5-deploy-container {
  display: flex;
  min-height: 100px;
  align-items: center;
}

div.step5-start-icon {
  border-radius: 5px;
  border: 14px solid transparent;
  border-left: 14px solid white;
  border-right: 0 solid transparent;
  width: 14px;
  height: 14px;
}

span.step5-spinner {
  margin-left: 50px;
}


div.step5-icon-container {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}

div.step5-icon-container.deploy {
  background-color: gray;
  cursor: not-allowed;
}

div.step5-button-container {
  display: flex;
  align-items: center;
}