
div.modal-body-container {
  display: flex;
  height: 420px;
}

.base-margin-left {
  margin-left: 10px;
}

div.base-margin-top {
  margin-top: 5px;
}

.dynamic-icon {
  color: white;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

div.build-method-container {
  min-height: 50px;
  /*box-shadow: 0 0 5px #bbbbbb;*/
  align-items: center;
  display: flex;
  justify-content: center;
}

div.from-temp-container {
  padding: 0 10px;
}

div.from-docker-file-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

div.create-image-container {
  display: flex;
  flex-direction: column;
  min-width: 470px;
  padding: 10px 0 10px 10px;
  overflow-y: auto;
  margin-bottom: 20px;
}

div.line-container {
  display: flex;
  width: 100%;
  height: 30px;
}

div.line-container.end {
  justify-content: flex-end;
}

label.base-text {
  min-width: 180px;
  text-align: right;
}

div.console-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 10px;
  height: 100%;
  overflow-x: hidden;
}

input.upload-file-input {
  font-size: 10px;
  margin-left: 10px;
  width: 150px;
}

legend.legend-default {
  padding: .5em;
  border: 0;
  width: auto;
  margin-left: 30px;
}

button.default-primary {
  font-size: 10px;
}

div.file-list {
  margin-left: 190px;
  font-size: 10px;
}

span.file-title {
  color: blue;
  font-style: italic;
}

div.build-btn-container {
  height: 50px;
  display: flex;
  align-items: center;
}

div.file-info-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

button.close {
  width: 30px;
  border: none;
  cursor: pointer;
}

button.close.disabled {
  cursor: not-allowed;
}

div.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.title {
  font-size: 18px;
  min-width: 190px;
}

div.modal-body-reset-position{
  margin-top: -20px;
  border: solid 1px gray;
  border-radius: 5px;
  overflow-y: auto;
}

div.base-image-container {
  display: flex;
  flex-direction: column;
}

div.base-image-source-container {
  height: 30px;
  display: flex;
  line-height: 30px;
}

input.base-image-radio {
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

label.base-image-source {
  cursor: pointer;
  margin-right: 3px;
  margin-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.board-registry-container {
  display: flex;
  line-height: 30px;
  align-items: center;
  margin-left: 5px;
}

lib-dropdown-ex.margin-left-5{
  margin-left: 5px;
}

lib-dropdown-ex.margin-left-100{
  margin-left: 100px;
}

lib-input-ex.margin-left-180{
  margin-left: 180px;
}

label.tar-package-name {
  margin-left: 10px;
  color: darkblue;
  font-weight: bold;
}

span.waiting{
  font-size: 16px;
  color: blue;
  font-style: italic;
  margin-left: auto;
}
