<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'lg'" [clrModalClosable]="false" [clrModalPreventClose]="true">
  <div class="modal-title title-container">
    <span class="title">{{ "IMAGE.CREATE_IMAGE_TITLE" | translate }}</span>
    <clr-alert class="alert-info-danger" [(clrAlertClosed)]="!isNewImageAlertOpen" [clrAlertType]="newImageAlertType">
      <div class="alert-item">
        <span class="alert-text">{{newImageErrMessage | translate}}{{newImageErrReason}}</span>
      </div>
    </clr-alert>
    <button class="close"
            [ngClass]="{'disabled':isBuildImageWIP}"
            (click)="isOpen = false"
            [disabled]="isBuildImageWIP">X
    </button>
  </div>
  <div class="modal-body modal-body-reset-position">
    <div class="modal-body-container" [ngSwitch]="imageBuildMethod">
      <div class="create-image-container">
        <div class="btn-group build-method-container">
          <button class="btn"
                  [disabled]="isBuildImageWIP"
                  [ngClass]="{'btn-primary':imageBuildMethod == 0}"
                  (click)="resetBuildMethod(0)">
            {{"IMAGE.CREATE_IMAGE_FROM_TEMP" | translate}}
          </button>
          <button class="btn"
                  [disabled]="isBuildImageWIP"
                  [ngClass]="{'btn-primary':imageBuildMethod == 1}"
                  (click)="resetBuildMethod(1)">
            {{"IMAGE.CREATE_IMAGE_FROM_FILE" | translate}}
          </button>
        </div>
        <ng-template [ngSwitchCase]="0">
          <div class="from-temp-container">
            <div class="line-container">
              <label class="base-text">{{"IMAGE.CREATE_IMAGE_SELECT_IMAGE_TEMP" | translate}}:</label>
              <cs-dropdown class="base-margin-left"
                           [dropdownDisabled]="isBuildImageWIP"
                           [dropdownWidth]="230"
                           [dropdownDefaultText]="'Docker File Template'"
                           [dropdownList]="imageTemplateList"
                           [dropdownListTextKey]="'name'">
              </cs-dropdown>
            </div>
            <cs-input [inputIsRequired]="true"
                      [inputPattern]="patternNewImageName"
                      [inputLabel]="'IMAGE.CREATE_IMAGE_NEW_IMAGE_NAME'|translate"
                      [customerValidatorAsyncFunc]="checkImageNameFun"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="customerNewImage.image_name"
                      (onCheck)="customerNewImage.image_name = $event;updateFileListAndPreviewInfo()">
            </cs-input>
            <cs-input [inputIsRequired]="true"
                      [inputPattern]="patternNewImageTag"
                      [inputLabel]="'IMAGE.CREATE_IMAGE_IMAGE_TAG'|translate"
                      [customerValidatorAsyncFunc]="checkImageTagFun"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="customerNewImage.image_tag"
                      (onCheck)="customerNewImage.image_tag = $event;updateFileListAndPreviewInfo()">
            </cs-input>
            <div class="base-image-container base-margin-top">
              <div class="base-image-source-container">
                <label class="base-text">{{"IMAGE.CREATE_IMAGE_BASE_IMAGE" | translate}}:
                  <span style="color: red">*</span>
                </label>
                <input type="radio"
                       class="base-image-radio"
                       name="baseImageSource"
                       id="radFromDocker"
                       [value]="1"
                       [disabled]="isBuildImageWIP"
                       [(ngModel)]="baseImageSource"
                       (click)="cleanBaseImageInfo(false)"
                       checked>
                <label for="radFromDocker" class="base-image-source">Docker Hub</label>
                <input type="radio"
                       class="base-image-radio"
                       name="baseImageSource"
                       id="radFromBoard"
                       [value]="2"
                       [disabled]="isBuildImageWIP"
                       [(ngModel)]="baseImageSource"
                       (click)="cleanBaseImageInfo(true)">
                <label for="radFromBoard" class="base-image-source">Board Registry</label>
              </div>
              <cs-input *ngIf="baseImageSource == 1"
                        class="margin-left-180"
                        [inputIsRequired]="true"
                        [inputLabel]="'*'"
                        [inputPattern]="patternBaseImage"
                        [inputType]="2"
                        [disabled]="isBuildImageWIP"
                        [simpleFiled]="customerNewImage.image_dockerfile.image_base"
                        (onCheck)="customerNewImage.image_dockerfile.image_base = $event;getDockerFilePreviewInfo()">
              </cs-input>
              <div *ngIf="baseImageSource == 2" class="board-registry-container">
                <cs-dropdown class="margin-left-120"
                             [dropdownWidth]="200"
                             [dropdownList]="imageList"
                             [dropdownDisabled]="isBuildImageWIP"
                             [dropdownDefaultText]="'IMAGE.CREATE_IMAGE_BASE_IMAGE_SELECT' | translate"
                             [dropdownListTextKey]="'image_name'"
                             (onChange)="setBaseImage($event)">
                </cs-dropdown>
                <span *ngIf="!selectedImage && !imageDetailList" class="spinner spinner-sm"></span>
                <cs-dropdown *ngIf="selectedImage"
                             class="margin-left-5"
                             [dropdownWidth]="100"
                             [dropdownDisabled]="isBuildImageWIP"
                             [dropdownList]="imageDetailList"
                             [dropdownDefaultText]="imageDetailList[0]?.image_tag"
                             [dropdownListTextKey]="'image_tag'"
                             (onChange)="setBaseImageDetail($event)">
                </cs-dropdown>
              </div>
            </div>
            <cs-input [inputPattern]="patternEntryPoint"
                      [inputLabel]="'IMAGE.CREATE_IMAGE_IMAGE_ENTRYPOINT'|translate"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="customerNewImage.image_dockerfile.image_entrypoint"
                      (onCheck)="customerNewImage.image_dockerfile.image_entrypoint = $event;getDockerFilePreviewInfo()">
            </cs-input>
            <cs-input [inputType]="1"
                      [inputLabel]="'IMAGE.CREATE_IMAGE_IMAGE_ENV'|translate"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="envsDescription"
                      (onEdit)="isOpenEnvironment = true"></cs-input>
            <cs-input-array [inputArraySource]="imageVolume"
                            [inputArrayPattern]="patternVolume"
                            [disabled]="isBuildImageWIP"
                            [inputArrayLabelText]="'IMAGE.CREATE_IMAGE_IMAGE_VOLUME'|translate"
                            (onCheck)="getDockerFilePreviewInfo()"
                            (onMinus)="getDockerFilePreviewInfo()"></cs-input-array>
            <cs-input-array [inputArraySource]="imageRun"
                            [inputArrayPattern]="patternRun"
                            [disabled]="isBuildImageWIP"
                            [inputArrayLabelText]="'IMAGE.CREATE_IMAGE_IMAGE_RUN'|translate"
                            (onCheck)="getDockerFilePreviewInfo()"
                            (onMinus)="getDockerFilePreviewInfo()"></cs-input-array>
            <cs-input-array [inputArraySource]="imageExpose"
                            [inputArrayPattern]="patternExpose"
                            [disabled]="isBuildImageWIP"
                            [inputArrayLabelText]="'IMAGE.CREATE_IMAGE_IMAGE_EXPOSE'|translate"
                            (onCheck)="getDockerFilePreviewInfo()"
                            (onMinus)="getDockerFilePreviewInfo()"></cs-input-array>
            <cs-input [inputPattern]="patternCopyPath"
                      [inputLabel]="'IMAGE.CREATE_IMAGE_UPLOAD_ARCHIVES' | translate"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="uploadCopyToPath"
                      (onCheck)="uploadCopyToPath = $event;updateFileListAndPreviewInfo()">
            </cs-input>
            <div class="line-container base-margin-top">
              <label class="base-text">{{"IMAGE.CREATE_IMAGE_UPLOAD_FILE_LIST" | translate}}:</label>
              ﻿<input type="file"
                      class="upload-file-input"
                      [disabled]="!customerNewImage.image_name|| !customerNewImage.image_tag || isBuildImageWIP || isUploadFileWIP"
                      (change)="uploadFile($event)"
                      accept="*.*">
              <span *ngIf="isUploadFileWIP" class="spinner spinner-sm"></span>
            </div>
            <div *ngIf="isUploadFileWIP" class="line-container base-margin-top">
              <label class="base-text"></label>
              <cs-progress class="base-margin-left" [progressData]="uploadProgressValue"></cs-progress>
            </div>
            <div class="file-list"
                 *ngFor="let file of filesList.get(customerNewImage.image_name)">
              <clr-icon *ngIf="!isBuildImageWIP" class="dynamic-icon" shape="minus" (click)="removeFile(file)"></clr-icon>
              {{file.file_name}}
            </div>
            <cs-input [inputLabel]="'IMAGE.CREATE_IMAGE_COMMAND'|translate"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="customerNewImage.image_dockerfile.image_cmd"
                      (onCheck)="customerNewImage.image_dockerfile.image_cmd = $event;getDockerFilePreviewInfo()">
            </cs-input>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="1">
          <div class="from-docker-file-container">
            <cs-input [inputIsRequired]="true"
                      [inputPattern]="patternNewImageName"
                      [inputLabel]="'IMAGE.CREATE_IMAGE_NEW_IMAGE_NAME'|translate"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="customerNewImage.image_name"
                      (onCheck)="customerNewImage.image_name = $event;downloadDockerFile()">
            </cs-input>
            <cs-input [inputIsRequired]="true"
                      [inputPattern]="patternNewImageTag"
                      [inputLabel]="'IMAGE.CREATE_IMAGE_IMAGE_TAG'|translate"
                      [disabled]="isBuildImageWIP"
                      [simpleFiled]="customerNewImage.image_tag"
                      (onCheck)="customerNewImage.image_tag = $event;downloadDockerFile()">
            </cs-input>
            <div class="line-container base-margin-top">
              <label>{{"IMAGE.CREATE_IMAGE_SELECT_DOCKER_FILE" | translate}}:</label>
            </div>
            <div class="line-container base-margin-top">
              ﻿<input type="file"
                      [disabled]="!customerNewImage.image_name|| !customerNewImage.image_tag || isBuildImageWIP || isUploadFileWIP"
                      (change)="selectDockerFile($event)"
                      accept="*.*">
              <span *ngIf="isUploadFileWIP" class="spinner spinner-sm"></span>
            </div>
            <div *ngIf="selectFromImportFile" class="line-container file-info-container">
              <label>{{"IMAGE.CREATE_IMAGE_SELECTED_FILE_INFO" | translate}}:</label>
              <table class="table table-vertical">
                <tbody>
                <tr>
                  <th><span class="file-title">{{"IMAGE.CREATE_IMAGE_FILE_NAME" | translate}}:</span></th>
                  <td>{{selectFromImportFile?.name}}</td>
                </tr>
                <tr>
                  <th><span class="file-title">{{"IMAGE.CREATE_IMAGE_FILE_SIZE" | translate}}:</span></th>
                  <td>{{selectFromImportFile?.size | size}}</td>
                </tr>
                <tr>
                  <th><span class="file-title">{{"IMAGE.CREATE_IMAGE_FILE_LAST_MODIFY" | translate}}:</span></th>
                  <td>{{selectFromImportFile?.lastModifiedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="console-container">
        <textarea #areaStatus title="" id="areaStatus" class="area-status" readonly>{{consoleText | translate}}</textarea>
        <div class="build-btn-container">
          <button class="btn btn-primary default-primary"
                  [disabled]="isBuildDisabled"
                  (click)="buildImage()">
            {{"IMAGE.CREATE_IMAGE_BUILD_IMAGE" | translate}}
          </button>
          <button class="btn btn-primary default-primary"
                  *ngIf="isBuildImageWIP"
                  [disabled]="cancelButtonDisable"
                  (click)="cancelBuildImage()">
            {{cancelCaption | translate}}
          </button>
          <span *ngIf="isBuildImageWIP" class="spinner spinner-sm"></span>
        </div>
      </div>
    </div>
    <environment-value *ngIf="isOpenEnvironment"
                       [inputEnvsData]="defaultEnvsData"
                       [(isOpen)]="isOpenEnvironment"
                       (onConfirm)="setEnvironment($event)">
    </environment-value>
    <clr-modal [(clrModalOpen)]="cancelInfo.isShow" [clrModalClosable]="false">
      <h3 class="modal-title">{{ cancelInfo.title | translate }}</h3>
      <div class="modal-body">
        <p>{{ cancelInfo.message | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-outline"
                (click)="cancelInfo.isShow  = false">
          {{ 'BUTTON.NO' | translate }}
        </button>
        <button type="button"
                class="btn btn-primary"
                (click)="cancelBuildImageBehavior()">
          {{ 'BUTTON.YES' | translate }}
        </button>
      </div>
    </clr-modal>
  </div>
</clr-modal>