
div.modal-body-container {
  display: flex;
  min-height: 600px;
  border: solid 1px gray;
  border-radius: 5px;
}

.base-margin-left {
  margin-left: 10px;
}

div.base-margin-top {
  margin-top: 5px;
}

.dynamic-icon {
  color: white;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

div.build-method-container {
  min-height: 50px;
  /*box-shadow: 0 0 5px #bbbbbb;*/
  align-items: center;
  display: flex;
  justify-content: center;
}

div.from-temp-container {
  overflow-y: auto;
  padding: 10px;
}

div.from-docker-file-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  flex-basis: 100%;
}

div.create-image-container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  padding: 10px 0 10px 10px;
}

div.line-container {
  display: flex;
  width: 100%;
  height: 30px;
}

label.base-text {
  min-width: 180px;
  text-align: right;
}

div.console-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 10px;
}

div.create-image-area-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

input.upload-file-input {
  font-size: 10px;
  margin-left: 10px;
  width: 150px;
}

legend.legend-default {
  padding: .5em;
  border: 0;
  width: auto;
  margin-left: 30px;
}

textarea.area-command {
  margin-left: 10px;
}

textarea.area-status {
  padding: 0;
  flex-basis: 100%;
  color: black;
  font-size: 11px;
}

button.default-primary {
  font-size: 10px;
}

div.file-list {
  margin-left: 190px;
  font-size: 10px;
}

span.file-title {
  color: blue;
  font-style: italic;
}

div.build-btn-container {
  height: 50px;
}

div.file-info-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

button.close {
  width: 30px;
  border: none;
  cursor: pointer;
}

button.close.disabled {
  cursor: not-allowed;
}

div.title-container {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-content: center;
}

div.modal-body-reset-position{
  margin-top: -20px;
}