<div style="display: flex;flex-wrap: nowrap">
  <div class="section-container split-line">
    <div class="section-image-container">
      <div class="circle">
        <img class="section-image" [src]="serviceIcon" alt="service icon"/>
      </div>
      <span class="section-text">{{ 'DASHBOARD.SERVICE' | translate }}</span>
    </div>
    <div class="section-right-container">
			<span class="stat-panel-title stat-panel-title-font">
				 {{ 'DASHBOARD.PODS' | translate }}:
				 <span class="stat-panel-value-font">{{podCount}}</span></span>
      <span class="stat-panel-title stat-panel-title-font">
				 {{ 'DASHBOARD.CONTAINERS' | translate }}:
				<span class="stat-panel-value-font">{{containerCount}}</span>
			</span>
    </div>
  </div>
  <div class="section-container split-line">
    <div class="section-image-container">
      <div class="circle">
        <img class="section-image" [src]="nodeIcon" alt="node icon"/>
      </div>
      <span class="section-text">{{ 'DASHBOARD.NODE' | translate }}</span>
    </div>
    <div class="section-right-container">
			<span class="stat-panel-title stat-panel-title-font">
				 {{ 'DASHBOARD.MEMORY' | translate }}:
				 <span class="stat-panel-value-font">{{memoryPercent}}</span></span>
      <span class="stat-panel-title stat-panel-title-font">
				 {{ 'DASHBOARD.CPU' | translate }}:
				<span class="stat-panel-value-font">{{cpuPercent}}</span>
			</span>
    </div>
  </div>
  <div class="section-container">
    <div class="section-image-container">
      <div class="circle">
        <img class="section-image" [src]="storageIcon" alt="storage icon"/>
      </div>
      <span class="section-text">{{ 'DASHBOARD.STORAGE' | translate }}</span>
    </div>
    <div class="section-right-container">
			<span class="stat-panel-title stat-panel-title-font">
				 {{ 'DASHBOARD.USAGE' | translate }}:
				 <span class="stat-panel-value-font">{{usageVolume}}</span></span>
      <span class="stat-panel-title stat-panel-title-font">
				 {{ 'DASHBOARD.TOTAL' | translate }}:
				<span class="stat-panel-value-font">{{totalVolume}}</span>
			</span>
    </div>

  </div>
</div>

<div style="display: flex;flex-direction: column">
  <div style="flex-basis: 100%" class="card">
    <div class="card-header">{{'DASHBOARD.SERVICE' | translate }}</div>
    <div class="card-block">
      <div class="card-block-left-container">
        <div style="flex-basis: 100%">
          <clr-dropdown #serviceDropdown>
            <button style="width: 150px" class="btn btn-outline-primary" clrDropdownToggle>
              {{serviceBtnValue}}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu class="card-block-dropdown" >
              <button [ngClass]="{'active':serviceBtnValue == service.serviceName}"
                      class="dropdown-item"
                      (click)="serviceBtnValue = service.serviceName;serviceDropdown.toggleDropdown()"
                      *ngFor="let service of serviceList;">
                {{service.serviceName}}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
        <div class="first-line">
          {{ 'DASHBOARD.PODS' | translate }}:{{podCount}}
        </div>
        <div class="second-line">
          {{ 'DASHBOARD.CONTAINERS' | translate }}:{{containerCount}}
        </div>
      </div>
      <div class="card-block-right-container">
        <div class="select-time-container">
          <time-range-scale (changeScale)="scaleChange($event)" [options]="scaleOptions"></time-range-scale>
        </div>
        <div style="flex-basis: 100%;">
          <div echarts [options]="serviceOptions" style="height: 285px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="flex-basis: 100%" class="card">
    <div class="card-header">{{'DASHBOARD.NODE' | translate }}</div>
    <div class="card-block">
      <div class="card-block-left-container">
        <div style="flex-basis: 100%">
          <clr-dropdown #nodeDropdown>
            <button style="width: 150px" class="btn btn-outline-primary" clrDropdownToggle>
              {{nodeBtnValue}}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu class="card-block-dropdown">
              <button class="dropdown-item"
                      [ngClass]="{'active':nodeBtnValue == service.serviceName}"
                      (click)="nodeBtnValue = service.serviceName;nodeDropdown.toggleDropdown()"
                      *ngFor="let service of serviceList;">
                {{service.serviceName}}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
        <div class="first-line">
          {{ 'DASHBOARD.CPU' | translate }}:{{cpuPercent}}
        </div>
        <div class="second-line">
          {{ 'DASHBOARD.MEMORY' | translate }}:{{memoryPercent}}
        </div>
      </div>
      <div class="card-block-right-container">
        <div class="select-time-container">
          <time-range-scale (changeScale)="scaleChange($event)" [options]="scaleOptions"></time-range-scale>
        </div>
        <div style="flex-basis: 100%;">
          <div echarts [options]="serviceOptions" style="height: 285px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="flex-basis: 100%" class="card">
    <div class="card-header">{{'DASHBOARD.STORAGE' | translate }}</div>
    <div class="card-block">
      <div class="card-block-left-container">
        <div style="flex-basis: 100%">
          <clr-dropdown #storageDropdown>
            <button style="width: 150px" class="btn btn-outline-primary" clrDropdownToggle>
              {{storageBtnValue}}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu class="card-block-dropdown">
              <button class="dropdown-item"
                      [ngClass]="{'active':storageBtnValue == service.serviceName}"
                      (click)="storageBtnValue = service.serviceName;storageDropdown.toggleDropdown()"
                      *ngFor="let service of serviceList;">
                {{service.serviceName}}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
        <div class="first-line">
          {{ 'DASHBOARD.USAGE' | translate }}:{{usageVolume}}
        </div>
        <div class="second-line">
          {{ 'DASHBOARD.TOTAL' | translate }}:{{totalVolume}}
        </div>
      </div>
      <div class="card-block-right-container">
        <div class="select-time-container">
          <time-range-scale (changeScale)="scaleChange($event)" [options]="scaleOptions"></time-range-scale>
        </div>
        <div style="flex-basis: 100%;">
          <div echarts [options]="serviceOptions" style="height: 285px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>