scrape_configs:
  - job_name: 'federate'
    scrape_interval: 15s

    honor_labels: true
    metrics_path: '/federate'

    params:
      'match[]':
        - '{job="prometheus"}'
        - '{job="kube-state-metrics"}'
        - '{job=~"kubernetes.*"}'

    static_configs:
      - targets:
        - '$prometheus_url'
