cs-input.custom-margin-top {

}

div.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  min-height: 350px;
}

div.input-container cs-input {
  margin-top: 10px;
}

div.btn-container {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}