<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ Title | translate }}</h3>
  <div class="modal-body input-container">
    <cs-input [inputIsRequired]="true"
              [inputLabel]="'USER_CENTER.USERNAME' | translate "
              [simpleFiled]="userModel.user_name"
              [disabled]="CurEditModel == 1 || isWorkWIP"
              checkItemPatternEx="username"
              checkItemExistingEx="username"
              [inputMaxlength]="40"
              [inputMinlength]="4"
              [inputPlaceholder]="'USER_CENTER.INPUT_USERNAME' | translate"
              [userID]="userModel.user_id"
              (onCheck)="userModel.user_name = $event">
    </cs-input>
    <cs-input [inputIsRequired]="true"
              [inputLabel]="'USER_CENTER.EMAIL' | translate "
              [simpleFiled]="userModel.user_email"
              [disabled]="CurEditModel == 1 || isWorkWIP"
              [inputFiledType]="3"
              checkItemPatternEx="email"
              checkItemExistingEx="email"
              [userID]="userModel.user_id"
              [inputPlaceholder]="'USER_CENTER.INPUT_EMAIL' | translate "
              (onCheck)="userModel.user_email = $event">
    </cs-input>
    <cs-input *ngIf="CurEditModel == 0"
              [inputIsRequired]="true"
              [inputLabel]="'USER_CENTER.PASSWORD' | translate "
              [simpleFiled]="userModel.user_password"
              [disabled]="CurEditModel == 1 || isWorkWIP"
              [inputFiledType]="2"
              [sourcePassword]="true"
              checkItemPatternEx="password"
              [inputPlaceholder]="'USER_CENTER.INPUT_PASSWORD' | translate "
              (onCheck)="userModel.user_password = $event">
    </cs-input>
    <cs-input *ngIf="CurEditModel == 0"
              [inputIsRequired]="true"
              [inputLabel]="'USER_CENTER.CONFIRM_PASSWORD' | translate "
              [simpleFiled]="userModel.user_confirm_password"
              [disabled]="CurEditModel == 1 || isWorkWIP"
              [inputFiledType]="2"
              [verifyPassword]="true"
              checkItemPatternEx="password"
              [inputPlaceholder]="'USER_CENTER.INPUT_CONFIRM_PASSWORD' | translate "
              (onCheck)="userModel.user_confirm_password = $event">
    </cs-input>
    <cs-input [inputLabel]="'ACCOUNT.REALNAME' | translate "
              [simpleFiled]="userModel.user_realname"
              [disabled]="isWorkWIP"
              (onCheck)="userModel.user_realname = $event">
    </cs-input>
    <cs-input [inputLabel]="'USER_CENTER.COMMENT' | translate "
              [simpleFiled]="userModel.user_comment"
              [disabled]="isWorkWIP"
              (onCheck)="userModel.user_comment = $event">
    </cs-input>
    <div class="btn-container">
      <button type="submit" class="btn btn-primary" [disabled]="isWorkWIP" (click)="submitUser()">
        {{ActionCaption | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="isOpen = false">
        {{'USER_CENTER.CANCEL' | translate}}
      </button>
      <span *ngIf="isWorkWIP" class="spinner spinner-sm"></span>
    </div>
  </div>
</clr-modal>