<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ Title | translate }}</h3>
  <div class="modal-body input-container">
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.USERNAME' | translate"
                  [inputDefaultValue]="userModel.user_name"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  libCheckItemExistingEx="username"
                  libCheckPatternEx="username"
                  [inputMaxlength]="40"
                  [inputMinlength]="4"
                  [inputPlaceholder]="'USER_CENTER.INPUT_USERNAME' | translate"
                  (commitEvent)="userModel.user_name = $event">
    </lib-input-ex>
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.EMAIL' | translate"
                  [inputDefaultValue]="userModel.user_email"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  [inputCategory]="4"
                  libCheckItemExistingEx="email"
                  libCheckPatternEx="email"
                  [inputPlaceholder]="'USER_CENTER.INPUT_EMAIL' | translate"
                  (commitEvent)="userModel.user_email = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="CurEditModel == 0"
                  [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.PASSWORD' | translate "
                  [inputDefaultValue]="userModel.user_password"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  [inputCategory]="3"
                  [sourcePassword]="true"
                  libCheckPatternEx="password"
                  [inputPlaceholder]="'USER_CENTER.INPUT_PASSWORD' | translate "
                  (commitEvent)="userModel.user_password = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="CurEditModel == 0"
                  [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.CONFIRM_PASSWORD' | translate "
                  [inputDefaultValue]="userModel.user_confirm_password"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  [inputCategory]="3"
                  [verifyPassword]="true"
                  [inputPlaceholder]="'USER_CENTER.INPUT_CONFIRM_PASSWORD' | translate "
                  (commitEvent)="userModel.user_confirm_password = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'ACCOUNT.REALNAME' | translate "
                  [inputDefaultValue]="userModel.user_realname"
                  [inputDisabled]="isWorkWIP"
                  [inputMaxlength]="20"
                  (commitEvent)="userModel.user_realname = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'USER_CENTER.COMMENT' | translate "
                  [inputDefaultValue]="userModel.user_comment"
                  [inputDisabled]="isWorkWIP"
                  [inputMaxlength]="50"
                  (commitEvent)="userModel.user_comment = $event">
    </lib-input-ex>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isWorkWIP" (click)="isOpen = false">
      {{'USER_CENTER.CANCEL' | translate}}
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="isWorkWIP" (click)="submitUser()">
      {{ActionCaption | translate }}
    </button>
    <span *ngIf="isWorkWIP" class="spinner spinner-sm"></span>
  </div>
</clr-modal>
