<clr-header [class.signInBackground]="isSignIn"  [class.signInForecolor]="isSignIn">
  <app-change-password *ngIf="showChangePassword" [(isOpen)]="showChangePassword"></app-change-password>
  <app-user-setting *ngIf="showAccountSetting" [(isOpen)]="showAccountSetting"></app-user-setting>
  <div class="branding">
    <img *ngIf="isMipsEnv || isArmEnv" alt="" title="Mips platform" class="mips-logo" [src]="mipsLogoUrl"/>
    <a href="javascript:void(0)" class="nav-link" (click)="clickLogoAction()">
      <img [src]="brandLogoUrl" alt="board-logo"/>
    </a>
  </div>
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="{{ 'HEAD_NAV.INPUT_FOR_SEARCHING' | translate }}..." (keyup.enter)="doSearch($event)" name="searchContent" value="{{searchContent}}">
    </label>
  </form>
  <div class="header-actions" [class.signInForecolor]="isSignIn">
    <clr-dropdown [clrCloseMenuOnItemClick]="true">
      <button class="btn btn-link" clrDropdownToggle>
        {{ currentLang | translate }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu [clrPosition]="'bottom-right'">
        <a href="javascript:void(0)" (click)="changLanguage('en-us')" clrDropdownItem>{{ 'HEAD_NAV.LANG_EN_US' | translate }}</a>
        <a href="javascript:void(0)" (click)="changLanguage('zh-cn')" clrDropdownItem>{{ 'HEAD_NAV.LANG_ZH_CN' | translate }}</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <clr-dropdown *ngIf="hasSignedIn"  [clrCloseMenuOnItemClick]="true">
      <button class="btn btn-link" clrDropdownToggle>
        {{ currentUser.userName }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu [clrPosition]="'bottom-right'">
        <a href="javascript:void(0)" *ngIf="authMode === 'db_auth' || currentUser.userName === 'boardadmin'" clrDropdownItem (click)="showAccountSetting = true">{{ 'HEAD_NAV.ACCOUNT_SETTINGS' | translate }}</a>
        <a href="javascript:void(0)" *ngIf="authMode === 'db_auth' || currentUser.userName === 'boardadmin'" clrDropdownItem (click)="showChangePassword = true">{{ 'HEAD_NAV.CHANGE_PASSWORD' | translate }}</a>
        <a href="javascript:void(0)" clrDropdownItem (click)="logOut()">{{ 'HEAD_NAV.LOG_OUT' | translate }}</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
