:host >>> .header {
  background-color: #004a70;
}

.signInBackground {
  background-color: #ffffff;
}

.signInForecolor input[type='text'] {
  color: black;
}

.signInForecolor >>> .dropdown > .dropdown-toggle {
  color: black;
}

form.search label:before{
  cursor: auto;
}

clr-icon.main-menu {
  height: 32px;
  width: 32px;
  color: white;
}

img.mips-logo {
  margin: auto;
  height: 42px;
  border-radius: 3px;
  box-shadow: 0 0 10px #ff1211;
}
