<clr-modal [(clrModalOpen)]="isOpenServiceDetail" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ curService?.serviceName }} {{ "SERVICE.SERVICE_DETAIL" | translate }}</h3>
  <div class="modal-body" >
    <div *ngFor="let u of urlList; let i = index">
      <span><b>{{urlList.length > 1 ? 'Service' + (i+1) : 'Service'}}:</b></span>
      <a [href]="u.url" target="_blank">{{ u.url }}</a>
    </div>
    <span class="dns"><b>DNS:</b>{{dns}}</span>
    <clr-tabs>
      <clr-tab *ngIf="curService.isNormalNode">
        <button clrTabLink>{{"SERVICE.SERVICE_DETAIL_SERVICE_INFO" | translate}}</button>
        <clr-tab-content *clrIfActive>
          <app-cs-highlight *ngIf="serviceDetail" [language]="'json'" [code]="serviceDetail.res | json"></app-cs-highlight>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>
          {{"SERVICE.SERVICE_DETAIL_DEPLOYMENT_FILE" | translate}}
        </button>
        <clr-tab-content  *clrIfActive>
          <app-cs-highlight
             *ngIf="deploymentYamlFile.length > 0"
             [language]="'yaml'"
             [code]="deploymentYamlFile">
          </app-cs-highlight>
        </clr-tab-content>
      </clr-tab>
      <clr-tab *ngIf="curService.isNotEdgeNode">
        <button clrTabLink (click)="getServiceYamlFile()">
          {{"SERVICE.SERVICE_DETAIL_SERVICE_FILE" | translate}}
        </button>
        <clr-tab-content *clrIfActive>
          <app-cs-highlight *ngIf="serviceYamlFile.length > 0" [language]="'yaml'" [code]="serviceYamlFile"></app-cs-highlight>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-primary"
            (click)="isOpenServiceDetail = false">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>
