<clr-modal [(clrModalOpen)]="isOpenServiceDetail" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ serviceName }} {{ "SERVICE.SERVICE_DETAIL" | translate }}</h3>
  <div class="modal-body">
    <div *ngFor="let u of urlList; let i = index">
      <span>{{i == 0 ? 'URL:' : ''}}</span>
      <a [href]="u.route" target="_blank">{{ u.route }}</a>
    </div>
    <textarea title="" rows="5" readonly>{{ serviceDetail }}</textarea>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-primary"
            (click)="isOpenServiceDetail = false">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>