<clr-modal [(clrModalOpen)]="isOpenServiceDetail" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ curService?.service_name }} {{ "SERVICE.SERVICE_DETAIL" | translate }}</h3>
  <div class="modal-body">
    <div *ngFor="let u of urlList; let i = index">
      <span>{{i == 0 ? 'URL:' : ''}}</span>
      <a [href]="u.route" target="_blank">{{ u.route }}</a>
    </div>
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>{{"SERVICE.SERVICE_DETAIL_SERVICE_INFO" | translate}}</button>
        <clr-tab-content *clrIfActive>
          <cs-highlight [language]="'json'" [code]="serviceDetail | json"></cs-highlight>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="getDeploymentYamlFile()">
          {{"SERVICE.SERVICE_DETAIL_DEPLOYMENT_FILE" | translate}}
        </button>
        <clr-tab-content  *clrIfActive>
          <cs-highlight  [language]="'yaml'" [code]="deploymentYamlFile"></cs-highlight>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="getServiceYamlFile()">
          {{"SERVICE.SERVICE_DETAIL_SERVICE_FILE" | translate}}
        </button>
        <clr-tab-content *clrIfActive>
          <cs-highlight [language]="'yaml'" [code]="serviceYamlFile"></cs-highlight>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-primary"
            (click)="isOpenServiceDetail = false">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>