<div style="display: flex;">
  <button style="margin-left: auto" class="btn btn-primary" (click)="addNodeAction()">
    {{"Node.Node_List_Add" | translate}}
  </button>
</div>
<h3 *ngIf="nodeLists.length === 0">{{"Node.Node_List_Empty" | translate}}</h3>
<div class="card-container">
  <div *ngFor="let node of nodeLists.data" class="card">
    <img style="margin-bottom: 10px;" [alt]="" src="../../../../assets/images/image002.png">
    <span class="card-name" [style.color]="node.isMaster ?'black': 'dodgerblue'">
      <b>{{node.ip}}</b>
    </span>
    <span class="card-title">{{node.creationTime * 1000 |date:'short'}}</span>
    <span class="card-title">{{getStatus(node.status) | translate}}</span>
    <div class="card-action-container">
      <a *ngIf="node.origin == 1" href="javascript:void(0)">
        <clr-icon shape="info" class="is-solid" (click)="showLog(node)"></clr-icon>
      </a>
      <a *ngIf="!node.isMaster && !node.isEdge" href="javascript:void(0)">
        <clr-icon shape="trash" (click)="removeNode(node)"></clr-icon>
      </a>
      <span *ngIf="node.isMaster" class="label label-info">
        {{"Node.Node_List_Master_Node" | translate}}
      </span>
      <span *ngIf="node.isEdge" class="label label-light-blue">
        {{"Node.Node_List_Edge_Node" | translate}}
      </span>
    </div>
  </div>
</div>
