<div class="control-container">
  <div class="info-container">
    <span>{{'NodeControl.NodeIp' | translate}}:</span>
    <span><b>{{nodeControlStatus.nodeIp}}</b></span>
    <span>{{'NodeControl.NodeName' | translate}}:</span>
    <span><b>{{nodeControlStatus.nodeName}}</b></span>
  </div>
  <div class="info-container">
    <span>{{'NodeControl.NodePhase' | translate}}:</span>
    <span [ngStyle]="phaseStyle">{{nodeControlStatus.nodePhase}}</span>
    <span>{{'NodeControl.NodeSchedulable' | translate}}:</span>
    <input type="checkbox" clrToggle disabled name="options"
           [ngModel]="!nodeControlStatus.nodeUnschedulable"/>
  </div>
</div>
<clr-datagrid (clrDgRefresh)="retrieve($event)">
  <clr-dg-column>{{ 'NodeControl.ProjectName' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NodeControl.ServiceInstanceName' | translate }}</clr-dg-column>
  <clr-dg-row *ngFor="let serviceInstance of serviceInstanceList">
    <clr-dg-cell>{{serviceInstance.projectName}}</clr-dg-cell>
    <clr-dg-cell>{{serviceInstance.serviceInstanceName}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    {{"DATAGRID.TOTAL" | translate}}{{pagination.totalItems}}{{"DATAGRID.ITEMS" | translate}}
    <clr-dg-pagination #pagination
                       [clrDgTotalItems]="nodeControlStatus.serviceInstances.length"
                       [(clrDgPage)]="curPageIndex"
                       [clrDgPageSize]="curPageSize">
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


