# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.DS_Store
bin
src/apiserver/apiserver
src/apiserver/VERSION
src/tokenserver/tokenserver
src/adminserver/adminserver
src/ui/node_modules
src/ui/.vscode/**
src/ui/.idea/**
src/ui/proxy.config.json*
src/ui/dist
src/collector/cmd/cmd
src/gogs/gogs
.idea/
make/config
tools/swagger
!tools/swagger/*.sh
src/apiserver/*.py
make/templates/apiserver/kvmregistry/kvmregistry

src/apiserver/swagger
*.exe~
*.exe
src/apiserver/*.tmp
src/apiserver/*.zip
__pycache__/
