<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'" (click)="isAlertClose = true">
  <h3 class="modal-title">{{ 'HEAD_NAV.CHANGE_PASSWORD' | translate }}</h3>
  <div class="modal-body input-container">
    <div class="hide-error-msg">
      <clr-alert [clrAlertType]="'alert-danger'"
                 [clrAlertSizeSmall]="true"
                 [(clrAlertClosed)]="isAlertClose">
        <div class="alert-item">
          <span class="alert-text">{{errMessage | translate}}</span>
        </div>
      </clr-alert>
    </div>
    <cs-input [inputIsRequired]="true"
              [inputLabel]="'HEAD_NAV.OLD_PASSWORD' | translate "
              [simpleFiled]="curPassword"
              [inputFiledType]="2"
              [inputPlaceholder]="'HEAD_NAV.OLD_PASSWORD' | translate "
              [disabled]="isWorkWip"
              (onCheck)="curPassword = $event">
    </cs-input>
    <cs-input [inputIsRequired]="true"
              [inputLabel]="'HEAD_NAV.NEW_PASSWORD' | translate "
              [simpleFiled]="newPassword"
              [inputFiledType]="2"
              [sourcePassword]="true"
              [disabled]="isWorkWip"
              checkItemPatternEx="password"
              [inputPlaceholder]="'HEAD_NAV.NEW_PASSWORD' | translate "
              (onCheck)="newPassword = $event">
    </cs-input>
    <cs-input [inputIsRequired]="true"
              [inputLabel]="'HEAD_NAV.NEW_PASSWORD_CONFIRM' | translate "
              [simpleFiled]="newPasswordConfirm"
              [inputFiledType]="2"
              [verifyPassword]="true"
              [disabled]="isWorkWip"
              [inputPlaceholder]="'HEAD_NAV.NEW_PASSWORD_CONFIRM' | translate "
              (onCheck)="newPasswordConfirm = $event">
    </cs-input>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isWorkWip" (click)="isOpen = false">
      {{"BUTTON.CANCEL" | translate}}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isWorkWip" (click)="submitChangePassword()">
      {{"BUTTON.OK" | translate }}
    </button>
    <span *ngIf="isWorkWip" class="spinner spinner-sm"></span>
  </div>
</clr-modal>