<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'" (click)="isAlertClose = true">
  <h3 class="modal-title">{{ 'HEAD_NAV.CHANGE_PASSWORD' | translate }}</h3>
  <div class="modal-body">
    <div class="hide-error-msg">
      <clr-alert [clrAlertType]="'alert-danger'"
                 [clrAlertSizeSmall]="true"
                 [(clrAlertClosed)]="isAlertClose">
        <div class="alert-item">
          <span class="alert-text">{{errMessage | translate}}</span>
        </div>
      </clr-alert>
    </div>
    <form #changePasswordForm="ngForm" (ngSubmit)="submitChangePassword()">
      <div class="form-group">
        <label for="oldPassword">{{ 'HEAD_NAV.OLD_PASSWORD' | translate }}:</label>
        <label for="oldPassword" aria-haspopup="true" role="tooltip"
               class="tooltip tooltip-validation tooltip-md tooltip-top-left"
               [class.invalid]="InputOldPassword.invalid && (InputOldPassword.dirty || InputOldPassword.touched)">
          <input type="password"
                 id="oldPassword"
                 name="oldPassword"
                 placeholder="{{ 'HEAD_NAV.OLD_PASSWORD' | translate }}"
                 #InputOldPassword="ngModel"
                 [(ngModel)]="curPassword"
                 required
                 validate-onblur>
          <span class="tooltip-content"
                style="display: block;z-index: 10"
                *ngIf="InputOldPassword.errors && InputOldPassword.errors.required">
                {{ 'USER_CENTER.PASSWORD_IS_REQUIRED' | translate }}
          </span>
        </label>
      </div>

      <div class="form-group">
        <label for="newPassword">{{ 'HEAD_NAV.NEW_PASSWORD' | translate }}:</label>
        <label for="newPassword" aria-haspopup="true" role="tooltip"
               class="tooltip tooltip-validation tooltip-md  tooltip-top-left"
               [class.invalid]="InputNewPassword.invalid && (InputNewPassword.dirty || InputNewPassword.touched)">
          <input type="password"
                 id="newPassword"
                 name="newPassword"
                 placeholder="{{ 'HEAD_NAV.NEW_PASSWORD' | translate }}"
                 #InputNewPassword="ngModel"
                 [(ngModel)]="newPassword"
                 checkItemPattern="password"
                 validateEqual="newPasswordConfirm"
                 reverse="true"
                 required
                 validate-onblur>
          <span class="tooltip-content"
                *ngIf="InputNewPassword.errors && InputNewPassword.errors.required">
            {{ 'USER_CENTER.PASSWORD_IS_REQUIRED' | translate }}
          </span>
          <span class="tooltip-content" style="white-space: normal"
                *ngIf="InputNewPassword.errors && InputNewPassword.errors.checkItemPattern">
            {{ 'USER_CENTER.PASSWORD_FORMAT' | translate }}
          </span>
          <span class="tooltip-content"
                *ngIf="InputNewPassword.errors && InputNewPassword.invalid">
            {{ 'USER_CENTER.PASSWORDS_ARE_NOT_IDENTICAL' | translate }}
            </span>
        </label>
      </div>

      <div class="form-group">
        <label for="newPasswordConfirm">{{ 'HEAD_NAV.NEW_PASSWORD_CONFIRM' | translate }}:</label>
        <label for="newPasswordConfirm" aria-haspopup="true" role="tooltip"
               class="tooltip tooltip-validation tooltip-md tooltip-top-left"
               [class.invalid]="InputNewPasswordConfirm.invalid && (InputNewPasswordConfirm.dirty || InputNewPasswordConfirm.touched)">
          <input type="password"
                 id="newPasswordConfirm"
                 name="newPasswordConfirm"
                 placeholder="{{ 'HEAD_NAV.NEW_PASSWORD_CONFIRM' | translate }}"
                 #InputNewPasswordConfirm="ngModel"
                 validateEqual="newPassword"
                 [(ngModel)]="newPasswordConfirm"
                 reverse="false"
                 required
                 validate-onblur>
          <span class="tooltip-content"
                *ngIf="InputNewPasswordConfirm.errors && InputNewPasswordConfirm.errors.required">
            {{ 'USER_CENTER.PASSWORD_IS_REQUIRED' | translate }}
          </span>
          <span class="tooltip-content"
                *ngIf="InputNewPasswordConfirm.errors && InputNewPasswordConfirm.invalid">
            {{ 'USER_CENTER.PASSWORDS_ARE_NOT_IDENTICAL' | translate }}
          </span>
        </label>
      </div>

      <div class="form-group">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="changePasswordForm.invalid || !isAlertClose">
          {{"BUTTON.OK" | translate }}
        </button>&nbsp;&nbsp;
        <button type="button"
                class="btn btn-default"
                (click)="isOpen = false">
          {{"BUTTON.CANCEL" | translate}}
        </button>
      </div>
    </form>
  </div>
</clr-modal>