<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ 'HEAD_NAV.CHANGE_PASSWORD' | translate }}</h3>
  <div class="modal-body input-container">
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'HEAD_NAV.OLD_PASSWORD' | translate "
                  [inputDefaultValue]="curPassword"
                  [inputCategory]="3"
                  [inputPlaceholder]="'HEAD_NAV.OLD_PASSWORD' | translate "
                  [inputDisabled]="isWorkWip"
                  (commitEvent)="curPassword = $event">
    </lib-input-ex>
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'HEAD_NAV.NEW_PASSWORD' | translate "
                  [inputDefaultValue]="newPassword"
                  [inputCategory]="3"
                  [sourcePassword]="true"
                  [inputDisabled]="isWorkWip"
                  appLibCheckPatternEx="password"
                  [inputPlaceholder]="'HEAD_NAV.NEW_PASSWORD' | translate "
                  (commitEvent)="newPassword = $event">
    </lib-input-ex>
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'HEAD_NAV.NEW_PASSWORD_CONFIRM' | translate "
                  [inputDefaultValue]="newPasswordConfirm"
                  [inputCategory]="3"
                  [verifyPassword]="true"
                  [inputDisabled]="isWorkWip"
                  [inputPlaceholder]="'HEAD_NAV.NEW_PASSWORD_CONFIRM' | translate "
                  (commitEvent)="newPasswordConfirm = $event">
    </lib-input-ex>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isWorkWip" (click)="isOpen = false">
      {{"BUTTON.CANCEL" | translate}}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isWorkWip" (click)="submitChangePassword()">
      {{"BUTTON.OK" | translate }}
    </button>
    <span *ngIf="isWorkWip" class="spinner spinner-sm"></span>
  </div>
</clr-modal>
