<app-status *ngIf="service"
            [service]="service"
            (errorEvent)="errorEvent.emit($event)">
</app-status>
<table class="table">
  <thead>
  <tr>
    <th class="left">{{"SERVICE.SERVICE_CONTROL_IMAGE_NAME"|translate}}</th>
    <th class="left">{{"SERVICE.SERVICE_CONTROL_IMAGE_TAG"|translate}}</th>
    <th class="left">{{"SERVICE.SERVICE_CONTROL_UPDATE_TAG"|translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr class="btn-primary image-tag-line" *ngFor="let imageIndex of imageList">
    <td class="left image-name">{{imageIndex.imageName}}</td>
    <td class="left image-tag">{{imageIndex.imageTag}}</td>
    <td class="left" [ngClass]="{'change':imageIndex.imageTag != imageTagSelected.get(imageIndex.imageName)}">
      <lib-dropdown-ex [dropdownTip]="'SERVICE.SERVICE_CONTROL_LOCATE_SELECT' | translate"
                       [dropdownMinWidth]="150"
                       [dropdownItems]="imageTagList.get(imageIndex.imageName)"
                       [dropdownKey]="'imageTag'"
                       [dropdownDisabled]="isActionInWIP"
                       (dropdownChangeItem)="changeImageTag(imageIndex.imageName,$event)">
      </lib-dropdown-ex>
    </td>
  </tr>
  </tbody>
</table>
