<status *ngIf="service" [service]="service"></status>
<table class="table">
  <thead>
  <tr>
    <th class="left">{{"SERVICE.SERVICE_CONTROL_IMAGE_NAME"|translate}}</th>
    <th class="left">{{"SERVICE.SERVICE_CONTROL_IMAGE_TAG"|translate}}</th>
    <th class="left">{{"SERVICE.SERVICE_CONTROL_UPDATE_TAG"|translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr class="btn-primary image-tag-line" *ngFor="let imageIndex of imageList">
    <td class="left image-name">{{imageIndex.image_name}}</td>
    <td class="left image-tag">{{imageIndex.image_tag}}</td>
    <td class="left" [ngClass]="{'change':imageIndex.image_tag != imageTagSelected.get(imageIndex.image_name)}">
      <lib-dropdown-ex [dropdownTip]="'SERVICE.SERVICE_CONTROL_LOCATE_SELECT' | translate"
                       [dropdownMinWidth]="150"
                       [dropdownItems]="imageTagList.get(imageIndex.image_name)"
                       [dropdownKey]="'image_tag'"
                       [dropdownDisabled]="isActionInWIP"
                       (dropdownChangeItem)="changeImageTag(imageIndex.image_name,$event)">
      </lib-dropdown-ex>
    </td>
  </tr>
  </tbody>
</table>
