<div class="config-container">
  <div class="line-container">
    <span>{{"SERVICE.STEP_3_SERVICE_CONFIG_TITLE"|translate}}:</span>
  </div>
  <div class="line-container">
    <cs-input [inputIsRequired]="true"
              [disabled]="isActionWip"
              [inputPattern]="patternServiceName"
              [inputLabel]="'SERVICE.STEP_3_SERVICE_NAME' | translate"
              [customerValidatorAsyncFunc]="checkServiceNameFun"
              [simpleFiled]="uiData.serviceName"
              [inputPlaceholder]="'SERVICE.STEP_3_SERVICE_OF_NAME'| translate"
              (onCheck)="uiData.serviceName = $event">
    </cs-input>
  </div>
  <div class="line-container">
    <cs-input [inputIsRequired]="true"
              [inputFiledType]="1"
              [inputMin]="1"
              [inputMax]="99"
              [disabled]="isActionWip"
              [inputLabel]="'SERVICE.STEP_3_INSTANCE' | translate"
              [simpleFiled]="uiData.instance"
              (onCheck)="uiData.instance = $event">
    </cs-input>
  </div>
  <div class="line-container">
    <label class="public">{{"SERVICE.STEP_3_PUBLIC" | translate}}:
      <input title=""
             type="checkbox"
             class="base-margin-left"
             [disabled]="isActionWip"
             [checked]="uiData.servicePublic"
             [(ngModel)]="uiData.servicePublic">
    </label>
  </div>
  <div *ngIf="uiData.externalServiceList.length == 0" class="alert alert-warning" role="alert">
    {{"SERVICE.STEP_3_DANGER_MESSAGE" | translate}}
  </div>
  <div *ngFor="let externalService of uiData.externalServiceList;let iIndex = index" class="external-container">
    <div class="line-container">
      <clr-icon *ngIf="iIndex > 0 && !isActionWip" class="plus-icon" shape="minus"
                (click)="removeExternalService(iIndex)"></clr-icon>
      <span>{{"SERVICE.STEP_3_EXTERNAL_SERVICE"|translate}}</span>
    </div>
    <div class="line-container">
      <label>{{"SERVICE.STEP_3_CONTAINER_NAME"|translate}}:</label>
      <cs-dropdown [dropdownList]="uiPreData.containerHavePortList"
                   [dropdownListTextKey]="'name'"
                   [dropdownWidth]="310"
                   [dropdownDisabled]="isActionWip"
                   [dropdownDefaultText]="getContainerDropdownText(iIndex) | translate"
                   (onChange)="setExternalInfo($event, iIndex)">
      </cs-dropdown>
    </div>
    <div class="line-container" *ngIf="externalService.container_name !== ''">
      <label>{{"SERVICE.STEP_3_CONTAINER_PORT"|translate}}:</label>
      <cs-dropdown [dropdownDisabled]="externalService.container_name == '' || isActionWip"
                   [dropdownList]="uiPreData.getPortList(externalService.container_name)"
                   [dropdownWidth]="310"
                   [dropdownDefaultText]="externalService.node_config.target_port.toString()"
                   (onChange)="externalService.node_config.target_port = $event">
      </cs-dropdown>
    </div>
    <div class="line-container" *ngIf="externalService.container_name !== ''">
      <cs-input [inputFiledType]="1"
                [simpleFiled]="externalService.node_config.node_port"
                [disabled]="isActionWip"
                [inputLabel]="'SERVICE.STEP_3_NODE_PORT' | translate"
                [inputIsRequired]="true"
                [inputMin]="30000"
                [inputMax]="32766"
                [inputPlaceholder]="'SERVICE.STEP_3_EXTERNAL_PORT'| translate"
                (onCheck)="setNodePort(iIndex,$event)">
      </cs-input>
    </div>
  </div>
  <div class="line-container">
    <clr-icon class="plus-icon"
              shape="plus"
              [ngClass]="{'disabled':uiPreData.containerHavePortList.length == 0 || isActionWip}"
              (click)="addNewExternalService()">
    </clr-icon>
    <span>{{"SERVICE.STEP_3_EXTERNAL_SERVICE_ADD"|translate}}</span>
  </div>
  <div class="line-container" (click)="showAdvanced = !showAdvanced">
    <div [ngClass]="{'advanced-open':showAdvanced,'advanced-close':!showAdvanced}" class="step-arrow"></div>
    <span>{{"SERVICE.STEP_3_ADVANCED_CONFIG"|translate}}</span>
  </div>
  <div class="line-container" *ngIf="showAdvanced">
    <clr-icon shape="wrench" class="plus-icon" [ngClass]="{'disabled':isActionWip}" (click)="setAffinity()"></clr-icon>
    <span>{{"SERVICE.STEP_3_SET_AFFINITY"|translate}}</span>
  </div>
  <div class="line-container" *ngIf="showAdvanced">
    <div [ngClass]="{'node-selector-close':showNodeSelector,'node-selector-open':!showNodeSelector}">
      <clr-icon shape="caret up" class="plus-icon" [ngClass]="{'disabled':isActionWip}"
                (click)="setNodeSelector()"></clr-icon>
    </div>
    <span>{{"SERVICE.STEP_3_NODE_SELECTOR"|translate}}:</span>
  </div>
  <div class="line-container" *ngIf="showAdvanced && showNodeSelector">
    <label></label>
    <cs-dropdown [dropdownList]="nodeSelectorList"
                 [dropdownListTextKey]="'name'"
                 [dropdownDisabled]="isActionWip"
                 [dropdownWidth]="310"
                 [dropdownPosition]="'top-left'"
                 [dropdownDefaultText]="nodeSelectorDropdownText | translate "
                 [curDropdownItem]="curNodeSelector"
                 (onChange)="uiData.nodeSelector = $event['value']">
    </cs-dropdown>
  </div>
</div>
<div class="button-container">
  <button class="btn btn-default" (click)="cancelBuildService()" [disabled]="isActionWip">
    {{"BUTTON.CANCEL" | translate}}
  </button>
  <button class="btn btn-default" [disabled]="true">
    {{"BUTTON.TEST" | translate}}
  </button>
  <button class="btn btn-default" (click)="backUpStep()" [disabled]="isActionWip">
    {{"BUTTON.BACK" | translate}}
  </button>
  <button class="btn btn-default" (click)="forward()" [disabled]="isActionWip">
    {{"BUTTON.NEXT" | translate}}
  </button>
  <span *ngIf="isActionWip" class="spinner spinner-sm"></span>
</div>
