div.config-content-container {
  display: flex;
  height: 400px;
}

div.base-left-config {
  flex-basis: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
}

div.advance-left-config {
  flex-basis: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
}

div.base-left-config > cs-input,
div.base-left-config > div,
div.base-left-config > config-card-list {
  margin-top: 10px;
}

div.base-right-config {
  flex-basis: 100%;
  margin-left: 10px;
  overflow-y: auto;
  padding: 10px;
}

div.advance-right-config {
  flex-basis: 100%;
  overflow-y: auto;
  padding: 10px;
}

div.button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

div.affinity-container {
  display: flex;
  flex-direction: column;
}

