<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'">
  <fieldset class=" modal-body fieldSet-default">
    <legend class="legend-default">{{"SERVICE.VOLUME_TITLE" | translate}}:</legend>
    <clr-alert (clrAlertClosedChange)="isAlertOpen = false"
               [clrAlertClosed]="!isAlertOpen"
               [clrAlertType]="'alert-danger'">
      <div class="alert-item">
        <span class="alert-text">{{volumeErrMsg | translate}}</span>
      </div>
    </clr-alert>
    <div class="vol-configure-container">
      <cs-input [inputLabel]="'SERVICE.VOLUME_TARGET_STORAGE'| translate"
                [simpleFiled]="volumeDataOrigin.out_medium"
                (onCheck)="volumeDataOrigin.out_medium = $event">
      </cs-input>
      <cs-input [inputLabel]="'SERVICE.VOLUME_TARGET_DIR'| translate"
                [inputPattern]="patternPath"
                [simpleFiled]="volumeDataOrigin.out_path"
                (onCheck)="volumeDataOrigin.out_path=$event">
      </cs-input>
      <cs-input [inputLabel]="'SERVICE.VOLUME_NAME'| translate"
                [inputPattern]="patternName"
                [simpleFiled]="volumeDataOrigin.out_name"
                (onCheck)="volumeDataOrigin.out_name = $event">
      </cs-input>
      <cs-input [inputLabel]="'SERVICE.VOLUME_CONTAINER_DIR'| translate"
                [inputPattern]="patternMountPath"
                [simpleFiled]="volumeDataOrigin.out_mountPath"
                (onCheck)="volumeDataOrigin.out_mountPath = $event">
      </cs-input>
    </div>
    <div class="vol-confirm-container">
      <button class="btn btn-primary vol-confirm"
              [disabled]="!isConfirmEnabled"
              (click)="confirmVolumeInfo()">
        {{"SERVICE.VOLUME_CONFIRM" | translate}}
      </button>
    </div>
  </fieldset>
</clr-modal>