<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ Title | translate }}</h3>
  <div class="modal-body input-container">
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.USERNAME' | translate"
                  [inputDefaultValue]="userModel.userName"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  appLibCheckItemExistingEx="username"
                  appLibCheckPatternEx="username"
                  [inputMaxlength]="35"
                  [inputMinlength]="4"
                  [inputPlaceholder]="'USER_CENTER.INPUT_USERNAME' | translate"
                  (commitEvent)="userModel.userName = $event">
    </lib-input-ex>
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.EMAIL' | translate"
                  [inputDefaultValue]="userModel.userEmail"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  [inputCategory]="4"
                  appLibCheckItemExistingEx="email"
                  appLibCheckPatternEx="email"
                  [inputPlaceholder]="'USER_CENTER.INPUT_EMAIL' | translate"
                  (commitEvent)="userModel.userEmail = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="CurEditModel == 0"
                  [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.PASSWORD' | translate "
                  [inputDefaultValue]="userModel.userPassword"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  [inputCategory]="3"
                  [sourcePassword]="true"
                  appLibCheckPatternEx="password"
                  [inputPlaceholder]="'USER_CENTER.INPUT_PASSWORD' | translate "
                  (commitEvent)="userModel.userPassword = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="CurEditModel == 0"
                  [inputIsRequired]="true"
                  [inputLabel]="'USER_CENTER.CONFIRM_PASSWORD' | translate "
                  [inputDefaultValue]="userModel.userConfirmPassword"
                  [inputDisabled]="CurEditModel == 1 || isWorkWIP"
                  [inputCategory]="3"
                  [verifyPassword]="true"
                  [inputPlaceholder]="'USER_CENTER.INPUT_CONFIRM_PASSWORD' | translate "
                  (commitEvent)="userModel.userConfirmPassword = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'ACCOUNT.REALNAME' | translate "
                  [inputDefaultValue]="userModel.userRealName"
                  [inputDisabled]="isWorkWIP"
                  [inputMaxlength]="20"
                  (commitEvent)="userModel.userRealName = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'USER_CENTER.COMMENT' | translate "
                  [inputDefaultValue]="userModel.userComment"
                  [inputDisabled]="isWorkWIP"
                  [inputMaxlength]="50"
                  (commitEvent)="userModel.userComment = $event">
    </lib-input-ex>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isWorkWIP" (click)="isOpen = false">
      {{'USER_CENTER.CANCEL' | translate}}
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="isWorkWIP" (click)="submitUser()">
      {{ActionCaption | translate }}
    </button>
    <span *ngIf="isWorkWIP" class="spinner spinner-sm"></span>
  </div>
</clr-modal>
