div.card-container {
  border-radius: 3px;
  box-shadow: 0 0 2px #bbbbbb;
  margin: 3px;
  display: flex;
}

div.selected {
  background-color: lightgreen;
}

div.icon-container {
  flex-basis: 26px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

div.name-container {
  flex-basis: 180px;
  background-color: #fafafa;
  height: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
}

div.name-container span {
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

div.name-container span:first-child {
  border-bottom: 1px solid silver;
}

div.value-container {
  flex-basis: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
}

div.value-container span {
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  text-align: center;
}

div.value-container span:first-child {
  border-bottom: 1px solid silver;
}