<div class="card-container" [ngStyle]="containerStyle" (dragstart)="dragStartEvent($event)"
     (drag)="dragEvent()" [draggable]="data.status !== 'end'">
  <div class="icon-container">
    <a *ngIf="data.status !== 'end' && !disabled" href="javascript:void(0)">
      <clr-icon shape="drag-handle"></clr-icon>
    </a>
    <a *ngIf="data.status === 'end' && !disabled" href="javascript:void(0)" (click)="removeFromList()">
      <clr-icon shape="close"></clr-icon>
    </a>
  </div>
  <div class="name-container">
    <span>{{"SERVICE.SERVICE_NAME" | translate}}:</span>
    <span>{{"SERVICE.STATUS" | translate}}:</span>
  </div>
  <div class="value-container">
    <span>{{data.serviceName}}</span>
    <span>{{serviceStatus | translate}}</span>
  </div>
</div>