<div class="select-project-container">
  <span class="filed-text">{{"SERVICE.STEP_TITLE_1"|translate}}:</span>
  <lib-dropdown-ex [dropdownKey]="'projectName'"
                   [dropdownTip]="'SERVICE.STEP_TITLE_1' | translate"
                   [dropdownItems]="projectsList"
                   [dropdownMinWidth]="300"
                   [dropdownActiveItem]="curActiveProject"
                   (dropdownEspecialClick)="clickSelectProject()"
                   (dropdownChangeItem)="changeSelectProject($event)">
    <ng-template libEspecialTemp>
      <span class="especial">{{"SERVICE.STEP_1_CREATE_PROJECT" | translate}}</span>
    </ng-template>
  </lib-dropdown-ex>
  <span class="custom-margin">{{"SERVICE.STEP_1_SELECT_DES"|translate}}</span>
</div>
<button class="btn btn-default" (click)="cancelBuildService()">
  {{"BUTTON.CANCEL"|translate}}
</button>
<button class="btn btn-default" [disabled]="!(stepData.projectId > 0)" (click)="forward()">
  {{"BUTTON.NEXT"|translate}}
</button>
