<div class="clr-row flex-items-xs-right">
  <app-cs-guide *ngIf="isFirstLogin && guideStep == 2"
            [description]="'PROJECT.GUIDE_CREATE_PROJECT'"
            [show]="isFirstLogin && guideStep == 2"
            [position]="'left-middle'"
            (closeGuide)="setGuideNoneStep()"
            (nextStep)="guideNextStep(2)">
  </app-cs-guide>
  <button class="btn btn-primary" (click)="createProject()">{{ 'PROJECT.CREATE_PROJECT' | translate }}</button>
</div>
<clr-datagrid (clrDgRefresh)="retrieve($event)" [clrDgLoading]="isInLoading">
  <clr-dg-column [clrDgField]="'NAME'" [clrDgSortOrder]="descSort">
    <clr-dg-filter [hidden]="true"></clr-dg-filter>
    {{ 'PROJECT.PROJECT_NAME' | translate }}
  </clr-dg-column>
  <clr-dg-column>{{ 'PROJECT.CREATOR' | translate }}</clr-dg-column>
  <clr-dg-column [clrDgField]="'CREATION_TIME'"
                 [clrDgSortOrder]="descSort">
    <clr-dg-filter [hidden]="true"></clr-dg-filter>
    {{ 'PROJECT.CREATION_TIME' | translate }}
  </clr-dg-column>
  <clr-dg-column>{{ 'PROJECT.PUBLICITY' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'PROJECT.COMMENT' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'PROJECT.ACTIONS' | translate }}</clr-dg-column>
  <clr-dg-row *ngFor="let project of projects">
    <clr-dg-cell>{{project.projectName}}</clr-dg-cell>
    <clr-dg-cell>{{project.projectOwnerName}}</clr-dg-cell>
    <clr-dg-cell>{{project.creationTime | date: 'short'}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="tooltip tooltip-right">
        <input type="checkbox"
               title=""
               [checked]="project.projectPublic === 1"
               [disabled]="!isSystemAdminOrOwner(project)"
               (click)="toggleProjectPublic(project, $event)">
        <label [hidden]="isSystemAdminOrOwner(project)" class="tooltip-content">
          {{'ERROR.INSUFFICIENT_PRIVILEGE' | translate}}
        </label>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>{{project.projectComment}}</clr-dg-cell>
    <clr-dg-cell>
      <a href="javascript:void(0)">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger
                    shape="group"
                    class="action"
                    (click)="editProjectMember(project)"
                    [ngClass]="{'disabled':!isSystemAdminOrOwner(project)}">
          </clr-icon>
          <clr-tooltip-content [clrPosition]="'left'"
                               [clrSize]="'md'"
                               [hidden]="isSystemAdminOrOwner(project)">
            {{'ERROR.INSUFFICIENT_PRIVILEGE' | translate}}
          </clr-tooltip-content>
        </clr-tooltip>
      </a>
      <a href="javascript:void(0)">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger
                    shape="trash"
                    class="action"
                    [ngClass]="{'disabled':!isSystemAdminOrOwner(project)}"
                    (click)="confirmToDeleteProject(project)">
          </clr-icon>
          <clr-tooltip-content [clrPosition]="'left'"
                               [clrSize]="'md'"
                               [hidden]="isSystemAdminOrOwner(project)">
            {{'ERROR.INSUFFICIENT_PRIVILEGE' | translate}}
          </clr-tooltip-content>
        </clr-tooltip>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
    <clr-dg-pagination #pagination [clrDgTotalItems]="totalRecordCount" [(clrDgPage)]="pageIndex"
                       [clrDgPageSize]="pageSize"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
