<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'" [clrModalClosable]="false"
           [clrModalPreventClose]="true">
  <h3 class="modal-title">{{ 'SERVICE.VOLUME_CONFIG' | translate }}</h3>
  <div class="modal-body">
    <div *ngFor="let volumeData of volumeList;let i = index">
      <div class="dynamic-line-container">
        <div class="dynamic-icon-container">
          <clr-icon class="dynamic-icon" shape="minus" (click)="deleteVolumeData(i)"></clr-icon>
        </div>
        <lib-dropdown-ex [dropdownLabel]="'SERVICE.VOLUME_TYPE' | translate"
                         [dropdownItems]="volumeTypes"
                         [dropdownKey]="'name'"
                         [dropdownLabelWidth]="160"
                         [dropdownTip]="volumeData.volumeType"
                         [dropdownMinWidth]="300"
                         (dropdownChangeItem)="changeSelectVolumeType(i,$event)">
        </lib-dropdown-ex>
      </div>
      <lib-input-ex [inputLabel]="'SERVICE.VOLUME_NAME'| translate"
                    [inputPattern]="patternName"
                    [inputIsRequired]="true"
                    [inputDefaultValue]="volumeData.volumeName"
                    (commitEvent)="volumeData.volumeName = $event">
      </lib-input-ex>
      <lib-input-ex [inputLabel]="'SERVICE.VOLUME_TARGET_PATH'| translate"
                    [inputDefaultValue]="volumeData.containerPath"
                    [inputPlaceholder]="'/data'"
                    [inputIsRequired]="true"
                    [inputPattern]="patternMountPath"
                    (commitEvent)="volumeData.containerPath = $event">
      </lib-input-ex>
      <div class="dynamic-line-container" *ngIf="volumeData.volumeType == 'nfs'">
        <div class="clr-checkbox-container">
          <input type="checkbox"
                 clrCheckbox
                 [checked]="volumeData.containerPathFlag == 1"
                 (change)="setContainerPathFlag(volumeData, $event)">
          <label>{{"SERVICE.VOLUME_SUB_PATH_FILE" | translate}}:</label>
        </div>
        <lib-input-ex [inputPattern]="patternPath"
                      [inputDefaultValue]="volumeData.containerFile"
                      [inputPlaceholder]="'file.txt'"
                      [inputIsRequired]="volumeData.containerPathFlag == 1"
                      (commitEvent)="volumeData.containerFile = $event">
        </lib-input-ex>
      </div>
      <div *ngIf="volumeData.volumeType == 'nfs'" class="dynamic-line-container">
        <lib-input-ex [inputLabel]="'SERVICE.VOLUME_NFS_SERVER'| translate"
                      [inputDefaultValue]="volumeData.targetStorageService"
                      [inputPattern]="patternIP"
                      [inputPlaceholder]="'10.0.0.0'"
                      [inputIsRequired]="true"
                      [validatorMessage]="[{key:'pattern',message:'SERVICE.VOLUME_NFS_SERVER_FORMAT' | translate}]"
                      (commitEvent)="volumeData.targetStorageService = $event">
        </lib-input-ex>
      </div>
      <lib-input-ex *ngIf="volumeData.volumeType == 'nfs'"
                    [inputLabel]="'SERVICE.VOLUME_PATH'| translate"
                    [inputDefaultValue]="volumeData.targetPath"
                    [inputPattern]="patternMountPath"
                    [inputPlaceholder]="'/data'"
                    [inputIsRequired]="true"
                    (commitEvent)="volumeData.targetPath = $event">
      </lib-input-ex>
      <lib-input-ex *ngIf="volumeData.volumeType == 'nfs' && volumeData.containerPathFlag == 1"
                    [inputLabel]="'SERVICE.VOLUME_FILE'| translate"
                    [inputDefaultValue]="volumeData.targetFile"
                    [inputPattern]="patternPath"
                    [inputPlaceholder]="'file.txt'"
                    (commitEvent)="volumeData.targetFile = $event">
      </lib-input-ex>
      <lib-dropdown-ex *ngIf="volumeData.volumeType == 'pvc'"
                       [dropdownTip]="'SERVICE.VOLUME_SELECT_PVC' | translate"
                       [dropdownLabel]="'SERVICE.VOLUME_SELECT_PVC_TITLE' | translate"
                       [dropdownMinWidth]="300"
                       [dropdownItems]="pvcList"
                       [dropdownIsRequired]="true"
                       [dropdownActiveItem]="getCurActivePvc(i)"
                       [dropdownKey]="'name'"
                       (dropdownEspecialClick)="createNewPvc(i)"
                       (dropdownChangeItem)="changeSelectPVC(i, $event)">
        <ng-template libEspecialTemp>
          <span style="color: blue">{{'SERVICE.VOLUME_CREATE_PVC' | translate}}</span>
        </ng-template>
      </lib-dropdown-ex>
    </div>
    <div class="dynamic-line-container">
      <clr-icon class="dynamic-icon" shape="plus" (click)="addNewVolumeData()"></clr-icon>
      <span class="base-margin-left">{{"SERVICE.VOLUME_ADD_VOLUME"|translate}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modalOpened = false">{{"BUTTON.CANCEL" | translate}}</button>
    <button class="btn btn-primary" (click)="confirmVolumeInfo()">{{"BUTTON.CONFIRM" | translate}}</button>
  </div>
</clr-modal>
