.base-margin-left {
  margin-left: 10px;
}

div.modal-body {
  min-height: 400px;
}

span.title {
  width: 180px;
  text-align: right;
}

span.title.min {
  width: 160px;
}

div.dynamic-line-container {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  align-items: center;
}

div.dynamic-line-container.large-margin {
  margin-bottom: 18px;
}

div.dynamic-line-container lib-input-ex{
  width: 100%;
}

clr-icon.dynamic-icon {
  color: white;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

div.clr-checkbox-container {
  display: flex;
  justify-content: flex-end;
  min-width: 175px;
  align-items: center;
}

div.clr-checkbox-container clr-checkbox {
  width: 24px;
  height: 24px;
}
