<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'">
  <div class="modal-title clr-row clr-align-items-center">
    {{ 'JOB.JOB_CREATE_CONFIG_CONTAINER' | translate }}
    <span *ngIf="isLoading" class="spinner spinner-sm"></span>
  </div>
  <div class="modal-body">
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_CONTAINER_NAME' | translate"
                  [inputIsRequired]="true"
                  [inputPattern]="patternContainerName"
                  [inputDisabled]="isEditModel"
                  [inputDefaultValue]="container.name"
                  [validatorMessage]="[{key:'pattern',message:'SERVICE.STEP_2_CONTAINER_NAME_PATTERN_NSG' | translate}]"
                  (commitEvent)="container.name = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_WORKING_DIR' | translate"
                  [inputPattern]="patternWorkingDir"
                  [inputDefaultValue]="container.workingDir"
                  [inputPlaceholder]="'JOB.JOB_CREATE_WORK_DIRECTOR'| translate"
                  (commitEvent)="container.workingDir = $event"></lib-input-ex>
    <lib-input-ex [inputType]="2"
                  [inputLabel]="'JOB.JOB_CREATE_VOLUME_MOUNTS' | translate"
                  [inputDefaultValue]="volumesDescriptions[0]"
                  [inputPlaceholder]="'JOB.JOB_CREATE_CONFIG_VOLUME_MOUNTS'| translate"
                  (editEvent)="editVolumeMount()"></lib-input-ex>
    <div *ngIf="container.volumeMounts.length > 1" class="volume-info-container">
        <span class="volume-info" *ngFor="let _ of container.volumeMounts; let i = index">
          <span *ngIf="i > 0">{{volumesDescriptions[i]}}</span>
        </span>
    </div>
    <lib-input-ex [inputType]="2"
                  [inputLabel]="'JOB.JOB_CREATE_Env' | translate"
                  [inputDefaultValue]="getEnvsDescription()"
                  [inputPlaceholder]="'JOB.JOB_CREATE_ENVIRONMENT_VARIABLES'| translate"
                  (editEvent)="showEnvironmentValue = true">
    </lib-input-ex>
    <lib-input-array-ex [inputCategory]="'number'"
                        [inputLabel]="'JOB.JOB_CREATE_CONTAINER_PORT' | translate"
                        [inputMax]="65535"
                        [inputMin]="1"
                        [inputArrayDefault]="container.containerPort "
                        [inputPlaceholder]="'[1..65535]'"
                        (commitEvent)="setContainerPort($event)">
    </lib-input-array-ex>
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_COMMAND' | translate"
                  [inputDefaultValue]="container.command"
                  [inputPlaceholder]="'JOB.JOB_CREATE_COMMAND'| translate"
                  (commitEvent)="container.command = $event"></lib-input-ex>
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_CPU_REQUEST' | translate"
                  [inputPattern]="patternCpuRequest"
                  [inputDefaultValue]="container.cpuRequest"
                  [inputPlaceholder]="'eg. 100m'"
                  [validatorAsyncFn]="checkSetCpuRequestFun"
                  [validatorMessage]="[{key:'beyondMaxLimit', message: 'JOB.JOB_CREATE_BEYOND_MAX_VALUE' | translate}]"
                  (commitEvent)="container.cpuRequest = $event"></lib-input-ex>
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_MEMORY_REQUEST' | translate"
                  [inputPattern]="patternMemRequest"
                  [validatorAsyncFn]="checkSetMemRequestFun"
                  [validatorMessage]="[{key:'beyondMaxLimit', message: 'JOB.JOB_CREATE_BEYOND_MAX_VALUE' | translate}]"
                  [inputDefaultValue]="container.memRequest"
                  [inputPlaceholder]="'eg. 100Mi'"
                  (commitEvent)="container.memRequest = $event"></lib-input-ex>
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_CPU_LIMIT' | translate"
                  [inputDefaultValue]="container.cpuLimit"
                  [inputPlaceholder]="'eg. 1024m'"
                  [inputPattern]="patternCpuLimit"
                  (commitEvent)="container.cpuLimit = $event"></lib-input-ex>
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_MEMORY_LIMIT' | translate"
                  [inputDefaultValue]="container.memLimit"
                  [inputPattern]="patternMemLimit"
                  [inputPlaceholder]="'eg. 1024Mi'"
                  (commitEvent)="container.memLimit = $event"></lib-input-ex>
    <lib-input-ex [inputLabel]="'JOB.JOB_CREATE_GPU_LIMIT' | translate"
                  [inputCategory]="2"
                  [validatorFns]="[validContainerGpuLimitFun]"
                  [validatorMessage]="[
                  {key:'resourceRequestInvalid',
                  message: 'JOB.JOB_CREATE_GPU_LIMIT_ERROR' | translate}
                  ]"
                  [inputDefaultValue]="container.gpuLimitValue"
                  (commitEvent)="container.gpuLimitValue = $event"></lib-input-ex>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalOpened = false">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="createNewContainer()">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>
<app-environment-value *ngIf="showEnvironmentValue"
                       [isProvideBindConfigMap]="true"
                       [projectName]="projectName"
                       [inputEnvsData]="getDefaultEnvsData()"
                       (closeNotification)="showEnvironmentValue = false"
                       (confirm)="setEnvironment($event)">
</app-environment-value>
