div.modal-body{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  line-height: 32px;
}

div.volume-info-container {
  display: flex;
  flex-direction: column;
}

span.volume-info {
  margin-left: 195px;
  color: darkblue;
}
