div.modal-body {
  min-height: 450px;
}

textarea {
  padding: 0;
  flex-basis: 100%;
  color: black;
  font-size: 16px;
  line-height: 20px;
  overflow-y: auto;
}

div.input-area-container {
  display: flex;
  flex-direction: column;
}

div.input-area-title {
  display: flex
}

div.line-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

div.line-container cs-input {
  flex-grow: 1;
}

div.line-container cs-dropdown {
  margin-left: 10px;
}

div.line-container clr-checkbox {
  margin-left: 40px;
}

span.env-item-title-no {
  flex-basis: 20px;
  height: 15px;
  text-align: center;
  margin-right: 10px;
}

clr-icon.env-icon {
  color: white;
  background: green;
  flex-basis: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

div.env-title-container {
  display: flex;
  height: 20px;
  width: 100%;
}

span.env-title {
  flex-basis: 50%;
  text-align: center;
  line-height: 20px;
}

div.env-item-add-container {
  display: flex;
  height: 30px;
  margin-top: 7px;
}

div.env-item-add-container span {
  margin-left: 10px;
}
