<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'" [clrModalClosable]="false"
           [clrModalPreventClose]="true">
  <h3 class="modal-title">{{"SERVICE.ENV_TITLE" | translate }}</h3>
  <div class="modal-body">
    <div class="input-area-container">
      <div class="input-area-title">
        <label for="aForm_4">{{"SERVICE.TXT_TITLE" | translate}}:</label>
        <a href="javascript:void(0)" (click)="envTextAddClick()">
          <clr-icon shape="export"></clr-icon>
        </a>
      </div>
      <textarea id="aForm_4" rows="3" [(ngModel)]="envsText" name="text"></textarea>
    </div>
    <div class="env-title-container">
      <span class="env-title">Key</span>
      <span class="env-title">Value</span>
    </div>
    <div *ngFor="let envInfo of envsData;let iEnv = index">
      <div class="line-container">
        <span class="env-item-title-no">{{iEnv + 1}}.</span>
        <clr-icon class="env-icon" shape="minus"
                  *ngIf="!inputFixedKeyList || inputFixedKeyList.indexOf(envInfo.envName) == -1"
                  (click)="envMinusClick(iEnv)">
        </clr-icon>
        <cs-input [inputIsRequired]="true"
                  [inputPattern]="patternEnv"
                  [inputType]="2"
                  [validatorMessage]="inputValidatorMsg"
                  [simpleFiled]="envInfo.envName"
                  (onCheck)="envInfo.envName = $event">
        </cs-input>
        <cs-input [disabled]="bindConfigMap.get(iEnv)"
                  [inputIsRequired]="true"
                  [inputType]="2"
                  [validatorMessage]="inputValidatorMsg"
                  [simpleFiled]="envInfo.envValue"
                  (onCheck)="envInfo.envValue = $event">
        </cs-input>
      </div>
      <div class="line-container" *ngIf="isProvideBindConfigMap">
        <input clrCheckbox
               [id]="iEnv"
               type="checkbox"
               (click)="changeBindConfigMap(iEnv, envInfo, $event)"
               [checked]="bindConfigMap.get(iEnv)">
        <label [for]="iEnv">{{"SERVICE.ENV_BIND_CONFIG_MAP" | translate}}</label>
        <cs-dropdown *ngIf="bindConfigMap.get(iEnv)"
                     [dropdownDefaultText]="getEnvConfigMapDefaltText(iEnv) |translate"
                     [dropdownWidth]="300"
                     [dropdownList]="configMapList"
                     [dropdownMustBeSelect]="envsData[iEnv].envConfigMapName == ''"
                     [dropdownListTextKey]="'name'"
                     (onChange)="changeConfigMap(iEnv,envInfo, $event)">
        </cs-dropdown>
        <cs-dropdown *ngIf="bindConfigMap.get(iEnv) && configMapDetail.get(iEnv) !== undefined"
                     [dropdownDefaultText]="getEnvConfigMapDefaltKeyText(iEnv) |translate"
                     [dropdownWidth]="300"
                     [dropdownMustBeSelect]="envsData[iEnv].envConfigMapKey == ''"
                     [dropdownList]="configMapDetail.get(iEnv).dataList"
                     [dropdownListTextKey]="'key'"
                     (onChange)="changeConfigMapKey(envInfo, $event)">
        </cs-dropdown>
      </div>
    </div>
    <div class="env-item-add-container">
      <clr-icon class="env-icon" (click)="addNewEnv()" shape="plus"></clr-icon>
      <span>{{"SERVICE.ENV_ADD" | translate }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modalOpened = false">{{"BUTTON.CANCEL" | translate }}</button>
    <button class="btn btn-primary" (click)="confirmEnvInfo()">{{"SERVICE.ENV_CONFIRM" | translate }}</button>
  </div>
</clr-modal>
