<div class="clr-row clr-flex-nowrap console-container">
  <div class="clr-row left-info-container">
    <div class="clr-row container-info-container">
      <span>{{'ServiceControlConsole.Status' | translate}}:</span>
      <span [ngStyle]="statusStyle">{{status | translate}}</span>
    </div>
    <div *ngFor="let serviceContainer of serviceDetailInfo.serviceContainers; let i = index"
         class="clr-row clr-flex-column container-info-container"
         [class.active]="curActiveIndex === i">
      <div class="clr-row">
        <span><b>{{'ServiceControlConsole.PodName' | translate}}:</b></span>
        <span>{{serviceContainer.podName}}</span>
      </div>
      <div class="clr-row">
        <span><b>{{'ServiceControlConsole.ContainerName' | translate}}:</b></span>
        <span>{{serviceContainer.containerName}}</span>
      </div>
      <div class="clr-row clr-justify-content-end">
        <a href="javascript: void(0)"
           (click)="buildSocketConnect(serviceContainer, i)">
          <clr-icon shape="connect" class="connect"></clr-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="terminal-container">
    <div #terminalContainer></div>
  </div>
</div>
