<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>value</name>
          <description>Provide value as project name to specify target path.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>extras</name>
          <description>Provide extras as Docker image tag name to push onto registry.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>file_name</name>
          <description>Provide specific file to build Docker image.</description>
          <defaultValue>Dockerfile</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>root@gitserver:/gitserver/repos/board_repo</url>
        <credentialsId>ade70d43-6dfe-4b27-9078-4af76c41175d</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e

cd ~

if [ ! -d &quot;board_repo&quot; ]; then
  
  echo &quot;Clone board repo from git server.&quot;

  git clone root@gitserver:/gitserver/repos/board_repo

fi

cd board_repo

echo &quot;Pull changes from git server.&quot;

git pull


echo &quot;Build image tagged as $extras with $file_name&quot;

echo &quot;docker build -f $value/$file_name -t $extras .&quot;

docker build -f $value/$file_name -t $extras .

#if [ ! -z $docker_username ] &amp;&amp; [ ! -z $docker_password ]; then
 
#  echo &quot;Login docker registry with username and password.&quot;  
  
#  docker login --username $docker_username --password $docker_password $docker_registry

#fi

echo &quot;Push image $extras&quot;

docker tag $extras $docker_registry/$extras

docker push $docker_registry/$extras

echo &quot;Remove pushed image.&quot;

docker rmi $extras</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>