<div *ngFor="let item of FiledArray;let iIndex = index"
     class="cs-input-array-container">
  <label for="fieldInput"
         (click)="changeEditState(item)"
         class="cs-input-array-label">{{iIndex == 0 ? labelText.concat(':') : ""}}</label>
  <div class="cs-input-array-icon-container"
       *ngIf="FiledArray.length > 1 && !disabled">
    <clr-icon
      class="cs-input-array minus"
      shape="minus"
      (click)="onMinusClick(iIndex)"></clr-icon>
  </div>
  <div class="cs-input-array-icon-container"
       *ngIf="iIndex == FiledArray.length - 1 && !disabled">
    <clr-icon
      class="cs-input-array plus"
      shape="plus"
      (click)="onPlusClick()"></clr-icon>
  </div>
  <span *ngIf="item.status == 0"
        (click)="changeEditState(item)"
        class="cs-input-array-span">{{item.value}}</span>
  <input type="text"
         id="fieldInput"
         class="cs-input-array-input"
         *ngIf="item.status == 1"
         [maxlength]="inputMaxlength"
         (keypress)="onInputKeyPress($event,iIndex)"
         [(ngModel)]="item.value">
  <a *ngIf="item.status == 0 && !disabled"
     href="javascript:void(0)"
     class="cs-input-array-icon"
     (click)="onEditClick(iIndex)">
    <clr-icon shape="note"></clr-icon>
  </a>
  <a *ngIf="item.status == 1"
     href="javascript:void(0)"
     class="cs-input-array-icon"
     (click)="onCheckClick(iIndex)">
    <clr-icon shape="check"></clr-icon>
  </a>
  <a *ngIf="item.status == 1"
     href="javascript:void(0)"
     class="cs-input-array-icon"
     (click)="onRevertClick(iIndex)">
    <clr-icon shape="refresh"></clr-icon>
  </a>
</div>
