<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ 'HEAD_NAV.ACCOUNT_SETTINGS' | translate }}</h3>
  <div class="modal-body input-container">
    <cs-input [inputLabel]="'ACCOUNT.USERNAME' | translate "
              [simpleFiled]="curUser.user_name"
              [disabled]="true">
    </cs-input>
    <cs-input [disabled]="true"
              [inputLabel]="'ACCOUNT.EMAIL' | translate "
              [simpleFiled]="curUser.user_email">
    </cs-input>
    <cs-input [inputLabel]="'ACCOUNT.REALNAME' | translate "
              [simpleFiled]="curUser.user_realname"
              [disabled]="isWorkWip"
              (onCheck)="curUser.user_realname = $event">
    </cs-input>
    <cs-input [inputLabel]="'ACCOUNT.COMMENT' | translate"
              [simpleFiled]="curUser.user_comment"
              [disabled]="isWorkWip"
              (onCheck)="curUser.user_comment = $event">
    </cs-input>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isWorkWip" (click)="isOpen = false">
      {{ 'BUTTON.CANCEL' | translate}}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isWorkWip" (click)="submitAccountSetting()">
      {{ "BUTTON.OK" | translate }}
    </button>
    <span *ngIf="isWorkWip" class="spinner spinner-sm"></span>
  </div>
</clr-modal>