<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ 'HEAD_NAV.ACCOUNT_SETTINGS' | translate }}</h3>
  <div class="modal-body input-container">
    <lib-input-ex [inputLabel]="'ACCOUNT.USERNAME' | translate "
                  [inputDefaultValue]="curUser.user_name"
                  [inputDisabled]="true">
    </lib-input-ex>
    <lib-input-ex [inputDisabled]="true"
                  [inputLabel]="'ACCOUNT.EMAIL' | translate "
                  [inputDefaultValue]="curUser.user_email">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'ACCOUNT.REALNAME' | translate "
                  [inputDefaultValue]="curUser.user_realname"
                  [inputDisabled]="isWorkWip"
                  (commitEvent)="curUser.user_realname = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'ACCOUNT.COMMENT' | translate"
                  [inputDefaultValue]="curUser.user_comment"
                  [inputDisabled]="isWorkWip"
                  (commitEvent)="curUser.user_comment = $event">
    </lib-input-ex>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isWorkWip" (click)="isOpen = false">
      {{ 'BUTTON.CANCEL' | translate}}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isWorkWip" (click)="submitAccountSetting()">
      {{ "BUTTON.OK" | translate }}
    </button>
    <span *ngIf="isWorkWip" class="spinner spinner-sm"></span>
  </div>
</clr-modal>
