<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ 'STORAGE.PVC_DETAIL' | translate }}</h3>
  <div class="modal-body">
    <table class="table table-vertical">
      <tbody>
      <tr>
        <th><span>{{"STORAGE.PVC_NAME" | translate}}:</span></th>
        <td>{{curDetail.claim.name}}</td>
        <th><span>{{"STORAGE.PVC_CAPACITY" | translate}}:</span></th>
        <td>{{curDetail.claim.capacity}}</td>
      </tr>
      <tr>
        <th><span>{{"STORAGE.PVC_STATUS" | translate}}:</span></th>
        <td>{{curDetail.claim.statusDescription | translate}}</td>
        <th><span>{{"STORAGE.PVC_ACCESS_MODES" | translate}}:</span></th>
        <td>{{curDetail.claim.accessMode}}</td>
      </tr>
      <tr>
        <th><span>{{"STORAGE.PVC_CREATE_DESIGNATE_PV" | translate}}:</span></th>
        <td>{{curDetail.claim.designatedPv}}</td>
        <th><span>{{"STORAGE.PVC_CLASS" | translate}}:</span></th>
        <td>{{curDetail.claim.class}}</td>
      </tr>
      <tr>
        <th><span>{{"STORAGE.PVC_VOLUME" | translate}}:</span></th>
        <td colspan="3">{{curDetail.volume}}</td>
      </tr>
      <tr>
        <th><span>{{"STORAGE.PVC_EVENT" | translate}}:</span></th>
        <td colspan="3">{{eventDescription}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalOpened = false">{{ 'BUTTON.OK' | translate }}</button>
  </div>
</clr-modal>
