<div class="edit-container-container">
  <span>{{"SERVICE.STEP_3_SELECT_CONTAINER" | translate}}</span>
  <div class="edit-container-one-container"
       *ngFor="let status of containerStatusList;let iStatus = index">
    <div class="edit-container-head-container">
      <clr-icon *ngIf="iStatus == containerStatusList.length - 1 && status == 1"
                class="edit-container-icon"
                shape="plus"
                (click)="modifySelectContainer(iStatus)"></clr-icon>
      <clr-icon *ngIf="iStatus < containerStatusList.length - 1"
                shape="minus"
                class="edit-container-icon"
                (click)="modifySelectContainer(iStatus)"></clr-icon>
      <span class="edit-container-filed-title" [ngStyle]="{'margin-left':status == 0 ?'20px':'0'}">
        {{status == 1 ?('SERVICE.STEP_3_CONTAINER'| translate):('SERVICE.STEP_3_ADD_NEW_CONTAINER'| translate)}}:
      </span>
      <cs-dropdown style="margin-left: 10px"
                   [dropdownWidth]="250"
                   [dropdownList]="step2Output"
                   [dropdownDefaultText]="getSelectImageDefaultText(iStatus) | translate"
                   [dropdownListTextKey]="'image_name'"
                   [dropdownCanSelect]="canChangeSelectImage.bind(selfObject)"
                   (onChange)="changeSelectImage(iStatus, status, $event)">
      </cs-dropdown>
    </div>
    <div *ngIf="status == 1"
         class="edit-container-filed-container">
      <cs-input [inputLabel]="'SERVICE.STEP_3_CONTAINER_NAME' | translate"
                [simpleFiled]="step3Output[iStatus].container_name"
                (onCheck)="step3Output[iStatus].container_name = $event"></cs-input>
      <cs-input [inputLabel]="'SERVICE.STEP_3_WORKING_DIR' | translate"
                [simpleFiled]="step3Output[iStatus].container_workdir"
                (onCheck)="step3Output[iStatus].container_workdir = $event"></cs-input>
      <cs-input [inputType]="1"
                [inputLabel]="'SERVICE.STEP_3_VOLUME_MOUNTS' | translate"
                [simpleFiled]="getVolumesDescription(iStatus)"
                (onEdit)="showVolumeMounts = true"></cs-input>
      <cs-input [inputType]="1"
                [inputLabel]="'SERVICE.STEP_3_Env' | translate"
                [simpleFiled]="getEnvsDescription(iStatus)"
                (onEdit)="showEnvironmentValue = true"></cs-input>
      <cs-input-array [inputArrayType]="1"
                      [labelText]="'SERVICE.STEP_3_CONTAINER_PORT' | translate"
                      [inputArraySource]="step3Output[iStatus].container_ports">
      </cs-input-array>
      <div class="edit-container-area">
        <label for="areaCommand" class="base-text">{{"SERVICE.STEP_3_COMMAND" | translate}}:</label>
        <textarea id="areaCommand"
                  rows="3"
                  class="area-command"
                  (keypress)="shieldEnter($event)"
                  [(ngModel)]="step3Output[iStatus].container_command"></textarea>
      </div>
    </div>
    <environment-value *ngIf="showEnvironmentValue"
                       [inputEnvsData]="getDefaultEnvsData(iStatus)"
                       [(isOpen)]="showEnvironmentValue"
                       (onConfirm)="setEnvironment(iStatus,$event)"></environment-value>
    <volume-mounts *ngIf="showVolumeMounts"
                   [(isOpen)]="showVolumeMounts"
                   (onConfirmEvent)="setVolumeMount($event,iStatus)"></volume-mounts>
  </div>
</div>
<button class="btn btn-default" [disabled]="'disabled'">Test</button>
<button class="btn btn-default" [disabled]="!isCanNextStep" (click)="forward()">Next</button>