div.edit-container-container {
  width: 100%;
  display: flex;
  padding: 15px;
  min-height: 400px; /*fixed height*/
  flex-direction: column;
}

div.edit-container-one-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

div.edit-container-item-container {
  display: flex;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
  align-items: center;
}

div.edit-container-item-icon-container {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

clr-icon.item-icon {
  width: 20px;
  height: 20px;
  color: gray;
}

div.icon-open {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

div.icon-close {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

div.edit-container-filed-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

span.edit-container-title{
  font-style:italic;
  font-size: 14px;
  color: blue;
}

.base-margin-left {
  margin-left: 10px;
}

.drop-down-open {
  transform: rotate(-180deg);
  transition-duration: 0.5s;
}

.drop-down-close {
  transform: rotate(-0deg);
  transition-duration: 0.5s;
}

div.edit-container-area {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

textarea.area-command {
  margin-left: 10px;
}

label.base-text {
  min-width: 180px;
  text-align: right;
}