
div.select-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.image-source-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

div.dynamic-image-source-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

div.dynamic-icon-container {
  flex-basis: 200px;
  display: flex;
  justify-content: flex-end;
}

.dynamic-icon {
  color: white;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

fieldset.fieldSet-default {
  margin: 0 2px;
  border: 1px solid silver;
  border-radius: 5px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

legend.legend-default {
  padding: .5em;
  border: 0;
  width: auto;
  margin-left: 30px;
}

div.create-image-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 0 0 40px 0;
}

label.base-text {
  min-width: 180px;
  text-align: right;
}

div.create-image-line-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: 30px;
}

input.upload-file-input {
  font-size: 10px;
  margin-left: 10px;
}

div.create-image-area-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

div.console-container {
  margin-top: 10px;
  flex-basis: 100%;
  padding: 0 20px 40px 20px;
}

textarea.area-command {
  margin-left: 10px;
}

textarea.area-status {
  padding: 0;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 11px;
}

button.default-primary {
  font-size: 10px;
}

.base-margin-left {
  margin-left: 10px;
}