<div class="select-image-container">
  <div class="image-source-container">
    <span class="base-text">{{"SERVICE.STEP_2_SELECT_IMAGE_SOURCE" | translate}}:</span>
    <div class="btn-group base-margin-left">
      <button class="btn btn-primary">Board registry</button>
      <button class="btn" [disabled]="true">Docker hub</button>
    </div>
  </div>
  <div *ngFor="let selectedImage of imageSelectList;let iImage = index" class="dynamic-image-source-container">
    <div class="dynamic-icon-container">
      <clr-icon class="dynamic-icon" shape="minus" (click)="minusSelectImage(iImage)"></clr-icon>
    </div>
    <cs-dropdown class="base-margin-left"
                 [dropdownWidth]="300"
                 [dropdownList]="imageSourceList"
                 [dropdownDefaultText]="selectedImage.image_name"
                 [dropdownListTextKey]="'image_name'"
                 [dropdownCanSelect]="canChangeSelectImage.bind(selfObject)"
                 (onChange)="changeSelectImage(iImage,$event)"
                 (onOnlyClickItem)="clickSelectImage(iImage,$event)">
    </cs-dropdown>
    <button class="btn btn-default get-tag"
            (click)="setImageDetailList(selectedImage.image_name)"
            *ngIf="imageTagNotReadyList.get(selectedImage.image_name)">
      {{"SERVICE.STEP_2_GET_IMAGE_TAG"|translate}}
    </button>
    <cs-dropdown class="base-margin-left"
                 *ngIf="imageDetailSourceList.get(selectedImage.image_name)"
                 [dropdownWidth]="150"
                 [dropdownDefaultText]="imageDetailSelectList.get(selectedImage.image_name)?.image_tag"
                 [dropdownList]="imageDetailSourceList.get(selectedImage.image_name)"
                 [dropdownListTextKey]="'image_tag'"
                 (onChange)="changeSelectImageDetail(selectedImage.image_name,$event)">
    </cs-dropdown>
  </div>
  <div class="plus-container">
    <clr-icon class="dynamic-icon" shape="plus" (click)="addSelectImage()"></clr-icon>
    <span class="base-margin-left">{{"SERVICE.STEP_2_ADD_NEW_IMAGE_DES"|translate}}</span>
  </div>
</div>
<create-image
  *ngIf="isOpenNewImage"
  [(isOpen)]="isOpenNewImage"
  [projectName]="projectName"
  [projectId]="projectId"
  (onBuildCompleted)="onBuildImageCompleted($event)">
</create-image>
<button class="btn btn-default" (click)="cancelBuildService()">
  {{"BUTTON.CANCEL"|translate}}
</button>
<button class="btn btn-default" [disabled]="!isCanNextStep" (click)="forward()">
  {{"BUTTON.NEXT"|translate}}
</button>
