<div class="select-image-container">
  <div class="image-source-container">
    <span class="base-text">{{"SERVICE.STEP_2_SELECT_IMAGE" | translate}}:</span>
    <div class="btn-group base-margin-left">
      <button class="btn" [ngClass]="{'btn-primary':imageSource == 0}">Board registry</button>
      <button class="btn" [ngClass]="{'btn-primary':imageSource == 1}" [disabled]="true">Docker hub</button>
    </div>
  </div>
  <div *ngFor="let selectedImage of imageSelectList;let iImage = index" class="dynamic-image-source-container">
    <div class="dynamic-icon-container">
      <clr-icon *ngIf="iImage == imageSelectList.length - 1" class="dynamic-icon" shape="plus"
                (click)="modifySelectImage(iImage)"></clr-icon>
      <clr-icon *ngIf="iImage < imageSelectList.length - 1" class="dynamic-icon" shape="minus"
                (click)="modifySelectImage(iImage)"></clr-icon>
    </div>
    <cs-dropdown class="base-margin-left"
                 [width]="300"
                 [list]="imageSourceList"
                 [defaultText]="imageSelectList[iImage].image_name"
                 [textKey]="'image_name'"
                 (onChange)="changeSelectImage(iImage,$event)">
    </cs-dropdown>
    <cs-dropdown class="base-margin-left"
                 [width]="150"
                 [defaultText]="imageDetailSelectList.get(selectedImage.image_name)?.image_tag"
                 [list]="imageDetailSourceList.get(selectedImage.image_name)"
                 [textKey]="'image_tag'"
                 (onChange)="changeSelectImageDetail(selectedImage.image_name,$event)">
    </cs-dropdown>
  </div>
  <fieldset class="fieldSet-default">
    <legend class="legend-default">{{"SERVICE.STEP_2_CREATE_IMAGE" | translate}}:</legend>
    <div style="display: flex;">
      <div class="create-image-container">
        <div class="create-image-line-container">
          <span class="base-text">{{"SERVICE.STEP_2_SELECT_IMAGE_TEMP" | translate}}:</span>
          <cs-dropdown class="base-margin-left"
                       [disabled]="isNeedAutoRefreshImageList"
                       [width]="300"
                       [defaultText]="'Docker File Template'"
                       [list]="imageTemplateList"
                       [textKey]="'name'">
          </cs-dropdown>
        </div>
        <div class="create-image-line-container">
          <label for="inputNewImageName" class="base-text">{{"SERVICE.STEP_2_NEW_IMAGE_NAME" | translate}}:</label>
          <input type="text"
                 id="inputNewImageName"
                 class="base-input"
                 [disabled]="isNeedAutoRefreshImageList"
                 [(ngModel)]="outputData.image_name">
        </div>
        <div class="create-image-line-container">
          <label for="inputNewImageTag" class="base-text">{{"SERVICE.STEP_2_IMAGE_TAG" | translate}}:</label>
          <input type="text"
                 id="inputNewImageTag"
                 class="base-input"
                 [(ngModel)]="outputData.image_tag"
                 [disabled]="isNeedAutoRefreshImageList">
        </div>
        <div class="create-image-line-container">
          <label for="inputBaseImage" class="base-text">{{"SERVICE.STEP_2_BASE_IMAGE" | translate}}:</label>
          <input type="text"
                 id="inputBaseImage"
                 class="base-input"
                 [(ngModel)]="outputData.image_dockerfile.image_base"
                 [disabled]="isNeedAutoRefreshImageList">
        </div>
        <div class="create-image-line-container">
          <label for="inputNewImageEntryPoint" class="base-text">{{"Image EntryPoint" | translate}}:</label>
          <input type="text"
                 id="inputNewImageEntryPoint"
                 class="base-input"
                 [(ngModel)]="outputData.image_dockerfile.image_entrypoint"
                 [disabled]="isNeedAutoRefreshImageList">
        </div>
        <div *ngFor="let volume of imageVolume;let iVolume = index" class="create-image-line-container">
          <label for="inputImageVolume" class="base-text">{{iVolume == 0 ? "Image Volume:" : "" | translate}}</label>
          <input type="text"
                 #inputVolume
                 value="{{volume}}"
                 (change)="imageVolume[iVolume] = inputVolume.value"
                 id="inputImageVolume"
                 class="base-input"
                 [ngStyle]="{'color':iVolume < imageVolume.length - 1 ? 'gray' : 'black'}"
                 [readonly]="iVolume < imageVolume.length - 1 ? 'readonly': ''"
                 [disabled]="isNeedAutoRefreshImageList"
                 style="min-width: 280px">
          <clr-icon *ngIf="iVolume == imageVolume.length - 1 && !isNeedAutoRefreshImageList"
                    class="dynamic-icon"
                    shape="plus"
                    (click)="imageVolume.push('')"></clr-icon>
          <clr-icon *ngIf="iVolume < imageVolume.length - 1 && !isNeedAutoRefreshImageList"
                    class="dynamic-icon"
                    shape="minus"
                    (click)="imageVolume.splice(iVolume,1)"></clr-icon>
        </div>
        <div *ngFor="let run of imageRun;let iRun = index" class="create-image-line-container">
          <label for="inputImageRun" class="base-text">{{iRun == 0 ? "Image Run:" : "" | translate}}</label>
          <input type="text"
                 #inputRun
                 value="{{run}}"
                 (change)="imageRun[iRun] = inputRun.value"
                 id="inputImageRun"
                 class="base-input"
                 [ngStyle]="{'color':iRun < imageRun.length - 1 ? 'gray' : 'black'}"
                 [readonly]="iRun < imageRun.length - 1 ? 'readonly': ''"
                 [disabled]="isNeedAutoRefreshImageList"
                 style="min-width: 280px;">
          <clr-icon *ngIf="iRun == imageRun.length - 1 && !isNeedAutoRefreshImageList"
                    class="dynamic-icon"
                    shape="plus"
                    (click)="imageRun.push('')"></clr-icon>
          <clr-icon *ngIf="iRun < imageRun.length - 1 && !isNeedAutoRefreshImageList"
                    class="dynamic-icon"
                    shape="minus"
                    (click)="imageRun.splice(iRun,1)"></clr-icon>
        </div>
        <div class="create-image-line-container ">
          <label class="base-text">{{"SERVICE.STEP_2_UPLOAD_ARCHIVES" | translate}}:</label>
          ﻿<input type="file"
                  class="base-input"
                  [disabled]="isNeedAutoRefreshImageList"
                  (change)="uploadFile($event)"
                  placeholder="Upload file"
                  accept="*.*">
        </div>
        <div style="margin-left: 200px;font-size: 10px" *ngFor="let file of filesList.get(outputData.image_name)">
          <clr-icon class="dynamic-icon" shape="minus"></clr-icon>{{file.file_name}}
        </div>
        <div class="create-image-area-container">
          <label for="areaCommand" class="base-text">{{"SERVICE.STEP_2_COMMAND" | translate}}:</label>
          <textarea id="areaCommand"
                    class="area-command"
                    [(ngModel)]="outputData.image_dockerfile.image_cmd"
                    [disabled]="isNeedAutoRefreshImageList"></textarea>
        </div>
      </div>
      <div style="margin-top: 10px; flex-basis: 100%;padding: 0 20px 40px 20px;">
        <textarea title="" id="areaStatus" class="area-status">some text</textarea>
        <button class="btn btn-primary default-primary" [disabled]="isNeedAutoRefreshImageList">
          {{"SERVICE.STEP_2_PREVIEW" | translate}}
        </button>
        <button class="btn btn-primary default-primary" [disabled]="isNeedAutoRefreshImageList" (click)="buildImage()">
          {{"SERVICE.STEP_2_BUILD_IMAGE" | translate}}
        </button>
        <span *ngIf="isNeedAutoRefreshImageList" class="spinner spinner-sm"></span>
      </div>
    </div>
  </fieldset>
</div>
<button class="btn btn-default" [disabled]="isNeedAutoRefreshImageList" (click)="forward()">Next</button>
