div.config-container {
  display: flex;
  min-height: 400px; /*fixed height*/
  flex-direction: column;
  margin-top: 30px;
}

div.config-service-info-container {
  display: flex;
  flex-direction: column;
}

div.config-service-info-line {
  display: flex;
  margin-top: 10px;
  align-items: center;
  height: 40px;
}

cs-input.base-input{
  width: 500px;
}

div.step-arrow {
  border: 8px solid transparent;
  border-left: 8px solid black;
  border-right: 0 solid transparent;
  width: 0;
  height: 0;
}

span.instance {
  width: 180px;
  text-align: right;
}

.base-margin-left {
  margin-left: 10px;
}

div.advanced-container {
  display: flex;
  margin-top: 20px;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

div.advanced-item-container {
  display: flex;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
  align-items: center;
}

div.service-container {
  display: flex;
  margin-top: 10px;
  height: 30px;
}

span.service {
  width: 160px;
  text-align: right;
}

div.advanced-item-icon-container {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

clr-icon.advanced-item-icon {
  width: 20px;
  height: 20px;
  color: gray;
}

div.external-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

div.external-line-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

div.external-radio-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 20px;
}

span.external-title {
  width: 180px;
  text-align: right;
}

span.external-title.icon {
  width: 160px;
}

div.advanced-open {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

div.advanced-close {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

div.external-open {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

div.external-close {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

div.collaborative-open {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

div.collaborative-close {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

.plus-icon {
  color: white;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;

}
