<div class="config-container">
  <span>{{"SERVICE.STEP_4_SERVICE_CONFIG_TITLE"|translate}}:</span>
  <div class="config-service-info-container">
    <div class="config-service-info-line">
      <cs-input class="base-input"
                [inputIsRequired]="true"
                [inputPattern]="patternServiceName"
                [inputLabel]="'SERVICE.STEP_4_SERVICE_NAME' | translate"
                [customerValidatorAsyncFunc]="checkServiceNameFun"
                [simpleFiled]="uiData.serviceName"
                (onCheck)="setServiceName($event)">
      </cs-input>
    </div>
    <div class="config-service-info-line">
      <span class="instance">公开性:</span>
      <input title=""
             type="checkbox"
             class="base-margin-left"
             [checked]="uiData.servicePublic"
             [(ngModel)]="uiData.servicePublic">
    </div>
    <div class="config-service-info-line">
      <span class="instance">{{"SERVICE.STEP_4_INSTANCE"|translate}}:</span>
      <cs-dropdown class="base-margin-left"
                   [dropdownWidth]="310"
                   [dropdownDefaultText]="'1'"
                   [dropdownList]="dropDownListNum"
                   (onChange)="uiData.instance = $event">
      </cs-dropdown>
    </div>
  </div>
  <div class="advanced-container" (click)="showAdvanced = !showAdvanced">
    <div [ngClass]="{'advanced-open':showAdvanced,'advanced-close':!showAdvanced}" class="step-arrow"></div>
    <span class="base-margin-left">{{"SERVICE.STEP_4_ADVANCED_CONFIG"|translate}}</span>
  </div>
  <div *ngIf="showAdvanced" class="advanced-item-container" (click)="showExternal = !showExternal">
    <div class="advanced-item-icon-container"
         [ngClass]="{'external-close':showExternal,'external-open':!showExternal}">
      <clr-icon shape="caret up" class="advanced-item-icon"></clr-icon>
    </div>
    <span class="base-margin-left">{{"SERVICE.STEP_4_EXTERNAL_SERVICE"|translate}}:</span>
  </div>
  <div *ngIf="showExternal && showAdvanced">
    <div class="external-container" *ngFor="let externalService of uiData.externalServiceList;let iIndex = index">
      <div class="external-line-container">
        <clr-icon class="plus-icon"
                  shape="minus"
                  (click)="removeContainerInfo(iIndex)">
        </clr-icon>
        <span class="external-title icon">{{"SERVICE.STEP_4_CONTAINER"|translate}}:</span>
        <cs-dropdown class="base-margin-left"
                     [dropdownList]="uiPreData.containerList"
                     [dropdownListTextKey]="'name'"
                     [dropdownWidth]="310"
                     [dropdownDefaultText]="getContainerDropdownText(iIndex) | translate"
                     (onChange)="setExternalInfo($event, iIndex)">
        </cs-dropdown>
      </div>
      <div class="external-line-container">
        <span class="external-title">{{"SERVICE.STEP_4_PORT"|translate}}:</span>
        <cs-dropdown class="base-margin-left"
                     [dropdownDisabled]="externalService.container_name == ''"
                     [dropdownList]="getContainerPorts(externalService.container_name)"
                     [dropdownWidth]="310"
                     [dropdownDefaultText]="getContainerPortDropdownText(iIndex) | translate"
                     (onChange)="externalService.node_config.target_port = $event">
        </cs-dropdown>
      </div>
      <div class="external-line-container">
        <cs-input class="base-input"
                  [inputFiledType]="1"
                  [simpleFiled]="externalService.node_config.node_port"
                  [disabled]="!radNode.checked"
                  [inputLabel]="'SERVICE.STEP_4_NODE_PORT' | translate"
                  [inputMin]="30000"
                  [inputMax]="32766"
                  (onCheck)="setNodePort(iIndex,$event)">
        </cs-input>
        <div class="radio-inline external-radio-container">
          <input #radNode
                 title=""
                 type="radio"
                 [name]="'port' + iIndex"
                 [id]="'radNode' + iIndex"
                 (change)="externalService.load_balancer_config.external_access = ''" checked>
          <label [for]="'radNode' + iIndex"></label>
        </div>
      </div>
      <div class="external-line-container" style="cursor: not-allowed">
        <cs-input class="base-input"
                  [simpleFiled]="externalService.load_balancer_config.external_access"
                  [disabled]="!radExternal.checked"
                  [inputLabel]="'SERVICE.STEP_4_EXTERNAL_ACCESS' | translate"
                  (onCheck)="externalService.load_balancer_config.external_access = $event">
        </cs-input>
        <div class="radio-inline external-radio-container disabled">
          <input #radExternal
                 title=""
                 type="radio"
                 [disabled]="true"
                 [name]="'port' + iIndex"
                 [id]="'radExternal' + iIndex"
                 (change)="externalService.node_config.node_port = 0">
          <label [for]="'radExternal'+ iIndex"></label>
        </div>
      </div>
    </div>
    <clr-icon class="plus-icon"
              shape="plus"
              (click)="addContainerInfo()">
    </clr-icon>
    <span class="base-margin-left">{{"SERVICE.STEP_4_EXTERNAL_SERVICE_ADD"|translate}}</span>
  </div>
  <div *ngIf="showAdvanced" class="advanced-item-container" (click)="showCollaborative = !showCollaborative">
    <div class="advanced-item-icon-container"
         [ngClass]="{'collaborative-close':showCollaborative,'collaborative-open':!showCollaborative}">
      <clr-icon shape="caret up" class="advanced-item-icon"></clr-icon>
    </div>
    <span class="base-margin-left">{{"SERVICE.STEP_4_COLLABORATIVE"|translate}}:</span>
  </div>
  <div *ngIf="showCollaborative && showAdvanced">
    <div style="display: flex;height: 30px;margin-top: 10px;" *ngFor="let obj of collaborativeList; let i = index">
      <clr-icon shape="plus"
                class="plus-icon"
                *ngIf="i === collaborativeList.length - 1"
                (click)="collaborativeList.push({})">
      </clr-icon>
      <clr-icon class="plus-icon"
                shape="minus"
                *ngIf="i < collaborativeList.length - 1"
                (click)="collaborativeList.splice(collaborativeList.indexOf(obj), 1)">
      </clr-icon>
      <span class="service">{{"SERVICE.STEP_4_SERVICE"|translate}}:</span>
      <cs-dropdown class="base-margin-left"
                   [dropdownList]="collaborativeServiceList"
                   [dropdownWidth]="310"
                   [dropdownDefaultText]="'SERVICE.STEP_4_SELECT_SERVICE' | translate">
      </cs-dropdown>
    </div>
  </div>
</div>
<button class="btn btn-default" (click)="cancelBuildService()">
  {{"BUTTON.CANCEL" | translate}}
</button>
<button class="btn btn-default" [disabled]="true">
  {{"BUTTON.TEST" | translate}}
</button>
<button class="btn btn-default" (click)="backUpStep()">
  {{"BUTTON.BACK" | translate}}
</button>
<button class="btn btn-default" [disabled]="!isInputComponentsValid" (click)="forward()">
  {{"BUTTON.NEXT" | translate}}
</button>