<div class="config-container">
  <span>{{"SERVICE.STEP_4_SERVICE_CONFIG_TITLE"|translate}}:</span>
  <div class="config-service-info-container">
    <div class="config-service-info-line">
      <cs-input class="base-input"
                [inputIsRequired]="true"
                [inputPattern]="patternServiceName"
                [inputLabel]="'SERVICE.STEP_4_SERVICE_NAME' | translate"
                [simpleFiled]="step4Output.projectinfo.service_name"
                (onCheck)="setServiceName($event)">
      </cs-input>
    </div>
    <div class="config-service-info-line">
      <span class="instance">{{"SERVICE.STEP_4_INSTANCE"|translate}}:</span>
      <cs-dropdown class="base-margin-left"
                   [dropdownWidth]="310"
                   [dropdownDefaultText]="'1'"
                   [dropdownList]="dropDownListNum"
                   (onChange)="step4Output.deployment_yaml.spec.replicas = $event">
      </cs-dropdown>
    </div>
  </div>
  <div class="advanced-container" (click)="showAdvanced = !showAdvanced">
    <div [ngClass]="{'advanced-open':showAdvanced,'advanced-close':!showAdvanced}" class="step-arrow"></div>
    <span class="base-margin-left">{{"SERVICE.STEP_4_ADVANCED_CONFIG"|translate}}</span>
  </div>
  <div *ngIf="showAdvanced" class="advanced-item-container" (click)="showExternal = !showExternal">
    <div class="advanced-item-icon-container"
         [ngClass]="{'external-close':showExternal,'external-open':!showExternal}">
      <clr-icon shape="caret up" class="advanced-item-icon"></clr-icon>
    </div>
    <span class="base-margin-left">{{"SERVICE.STEP_4_EXTERNAL_SERVICE"|translate}}:</span>
  </div>
  <div *ngIf="showExternal && showAdvanced">
    <div class="external-container" *ngFor="let servicePort of servicePortsArray;let iIndex = index">
      <div class="external-line-container">
        <clr-icon class="plus-icon"
                  shape="minus"
                  (click)="removeContainerInfo(iIndex)">
        </clr-icon>
        <span class="external-title icon">{{"SERVICE.STEP_4_CONTAINER"|translate}}:</span>
        <cs-dropdown class="base-margin-left"
                     [dropdownList]="step3Output"
                     [dropdownListTextKey]="'name'"
                     [dropdownWidth]="310"
                     [dropdownDefaultText]="getContainerDropdownText(iIndex) | translate"
                     (onChange)="setExternalInfo($event, iIndex)">
        </cs-dropdown>
      </div>
      <div class="external-line-container">
        <span class="external-title">{{"SERVICE.STEP_4_PORT"|translate}}:</span>
        <cs-dropdown class="base-margin-left"
                     [dropdownDisabled]="servicePort.name == ''"
                     [dropdownList]="getContainerPorts(servicePort.name)"
                     [dropdownListTextKey]="'containerPort'"
                     [dropdownWidth]="310"
                     [dropdownDefaultText]="getContainerPortDropdownText(iIndex) | translate"
                     (onChange)="servicePort.port = $event.containerPort">
        </cs-dropdown>
      </div>
      <div class="external-line-container">
        <cs-input class="base-input"
                  [inputFiledType]="1"
                  [simpleFiled]="servicePort.nodePort"
                  [disabled]="!radNode.checked"
                  [inputLabel]="'SERVICE.STEP_4_NODE_PORT' | translate"
                  [inputMin]="30000"
                  [inputMax]="32766"
                  (onCheck)="setServiceNodeport($event,iIndex)">
        </cs-input>
        <div class="radio-inline external-radio-container">
          <input #radNode
                 title=""
                 type="radio"
                 [name]="'port' + iIndex"
                 [id]="'radNode' + iIndex"
                 (change)="onRadNodeChange(iIndex)" checked>
          <label [for]="'radNode' + iIndex"></label>
        </div>
      </div>
      <div class="external-line-container">
        <cs-input class="base-input"
                  [simpleFiled]="getExternalPath(iIndex)"
                  [disabled]="!radExternal.checked"
                  [inputLabel]="'SERVICE.STEP_4_EXTERNAL_ACCESS' | translate"
                  (onCheck)="setExternalPath(iIndex,$event)">
        </cs-input>
        <div class="radio-inline external-radio-container">
          <input #radExternal
                 title=""
                 type="radio"
                 [name]="'port' + iIndex"
                 [id]="'radExternal' + iIndex"
                 (change)="onRadExternalpathChange(iIndex)">
          <label [for]="'radExternal'+ iIndex"></label>
        </div>
      </div>
    </div>
    <clr-icon class="plus-icon"
              shape="plus"
              (click)="addContainerInfo()">
    </clr-icon>
    <span class="base-margin-left">{{"SERVICE.STEP_4_EXTERNAL_SERVICE_ADD"|translate}}</span>
  </div>
  <div *ngIf="showAdvanced" class="advanced-item-container" (click)="showCollaborative = !showCollaborative">
    <div class="advanced-item-icon-container"
         [ngClass]="{'collaborative-close':showCollaborative,'collaborative-open':!showCollaborative}">
      <clr-icon shape="caret up" class="advanced-item-icon"></clr-icon>
    </div>
    <span class="base-margin-left">{{"SERVICE.STEP_4_COLLABORATIVE"|translate}}:</span>
  </div>
  <div class="service-container" *ngIf="showCollaborative && showAdvanced">
    <!--<clr-icon class="plus-icon" shape="plus"></clr-icon>-->
    <!--<span class="service">{{"SERVICE.STEP_4_SERVICE"|translate}}:</span>-->
    <!--<cs-dropdown class="base-margin-left"-->
    <!--[dropdownList]="serviceSelectorsArray"-->
    <!--[dropdownListTextKey]="'app'"-->
    <!--[dropdownWidth]="310"-->
    <!--[dropdownDefaultText]="'SERVICE.STEP_4_SELECT_SERVICE' | translate">-->
    <!--</cs-dropdown>-->
  </div>
</div>
<button class="btn btn-default" [disabled]="true">Test</button>
<button class="btn btn-default" (click)="backUpStep()">Back</button>
<button class="btn btn-default" [disabled]="!isInputComponentsValid" (click)="forward()">Next</button>