<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ 'SERVICE.STEP_3_EXTERNAL_SERVICE' | translate }}</h3>
  <div class="modal-body">
    <cs-input [disabled]="true"
              [inputLabel]="'SERVICE.STEP_3_CONTAINER_NAME' | translate"
              [simpleFiled]="curData.cardName">
    </cs-input>
    <cs-input [disabled]="true"
              [inputLabel]="'SERVICE.STEP_3_CONTAINER_PORT' | translate"
              [simpleFiled]="curData.containerPort">
    </cs-input>
    <cs-input [inputIsRequired]="true"
              [inputFiledType]="1"
              [inputLabel]="'SERVICE.STEP_3_NODE_PORT' | translate"
              [inputMax]="32766"
              [inputMin]="30000"
              [simpleFiled]="curData.externalInfo"
              [inputPlaceholder]="'SERVICE.STEP_3_EXTERNAL_PORT'| translate"
              (onCheck)="curData.externalInfo = $event">
    </cs-input>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalOpened = false">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="setExternalPort()">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>