<div id="container"
     class="clr-col-lg-9 clr-col-12">
  <!-- <label for="file-selector">
    <input type="button"
           id="file-btn"
           value="upload your board.cfg"
           class="clr-input">
    <input type="file"
           id="file-selector"
           accept=".cfg">
  </label>
  <button class="btn btn-primary btn-sm">{{ 'CONFIGURATIONPAGE.UPLOAD' | translate }}</button>

  <div class="search d7 search-block">
    <form style="padding-top: 0;">
      <input type="text"
             [placeholder]="'CONFIGURATIONPAGE.SEARCH' | translate">
      <button type="button">
        <clr-icon shape="search"></clr-icon>
      </button>
    </form>
  </div> -->

  <h4>{{'CONFIGURATIONPAGE.HEADER_HELPER' | translate}}</h4>
  <br>

  <div class="btn-group clr-row clr-justify-content-start"
       style="margin-left: 2px;"
       *ngIf="config.tmpExist">
    <div class="radio btn">
      <input type="radio"
             name="btn-group-demo-radios"
             id="btn-demo-radio-1"
             [checked]="config.current == 'cfg'"
             [disabled]="config.current == 'cfg'"
             (click)="getCfg()">
      <label for="btn-demo-radio-1">{{ 'CONFIGURATIONPAGE.CURRENT' | translate }}</label>
    </div>
    <div class="radio btn">
      <input type="radio"
             name="btn-group-demo-radios"
             id="btn-demo-radio-2"
             [checked]="config.current != 'cfg'"
             [disabled]="config.current != 'cfg'"
             (click)="getCfg('tmp')">
      <label for="btn-demo-radio-2">{{ 'CONFIGURATIONPAGE.TEMPORARY' | translate }}</label>
    </div>
    <clr-tooltip>
      <clr-icon clrTooltipTrigger
                shape="info-circle"
                size="32"
                aria-label="Uniq tooltip 3"></clr-icon>
      <clr-tooltip-content clrPosition="bottom-right"
                           clrSize="lg"
                           *clrIfOpen>
        <span *ngIf="config.current == 'cfg'">{{ 'CONFIGURATIONPAGE.CURRENTTIP' | translate }}</span>
        <span *ngIf="config.current != 'cfg'">{{ 'CONFIGURATIONPAGE.TEMPORARYTIP' | translate }}</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </div>

  <div>
    <app-others #others
                id="others"
                [card]="cardList.others"
                [others]="config.others"
                [isInit]="config.isInit"></app-others>
    <app-apiserver #apiserver
                   id="apiserver"
                   [card]="cardList.apiserver"
                   [apiserver]="config.apiserver"></app-apiserver>
    <app-gogits #gogits
                id="gogits"
                [card]="cardList.gogits"
                [gogits]="config.gogits"></app-gogits>
    <app-jenkins #jenkins
                 id="jenkins"
                 [card]="cardList.jenkins"
                 [jenkins]="config.jenkins"
                 [isInit]="config.isInit"></app-jenkins>
    <app-kvm #kvm
             id="kvm"
             [card]="cardList.kvm"
             [kvm]="config.kvm"></app-kvm>
    <app-ldap #ldap
              id="ldap"
              [card]="cardList.ldap"
              [ldap]="config.ldap"
              *ngIf="config.others.authMode == 'ldap_auth'"></app-ldap>
    <app-email #email
               id="email"
               [card]="cardList.email"
               [email]="config.email"
               [isInit]="config.isInit"></app-email>
  </div>

  <div class="btn-container">
    <!-- <button type="button"
            class="btn btn-icon btn-primary"
            aria-label="apply"
            (click)="saveCfg()">
      <clr-icon shape="check"></clr-icon>
      {{ 'CONFIGURATIONPAGE.SAVETOSERVER' | translate }}
    </button> -->

    <button type="button"
            class="btn btn-icon"
            aria-label="file-settings"
            (click)="saveAsCfg()">
      <clr-icon shape="file-settings"></clr-icon>
      {{ 'CONFIGURATIONPAGE.SAVETOLOCAL' | translate }}
    </button>
  </div>

</div>

<clr-modal [(clrModalOpen)]="applyCfgModal"
           [clrModalClosable]="false">
  <h3 class="modal-title">{{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.TITLE' | translate }}</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col clr-align-self-center"
           style="text-align: center;">
        <clr-icon shape="success-standard"
                  class="is-solid is-success"
                  size="36"></clr-icon>
        <span>{{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.SAVE' | translate }}</span>
      </div>
    </div>
    <p>{{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.COMMENT' | translate }}</p>
    <div style="text-align: center"
         *ngIf="loadingFlag">
      <clr-spinner>
        {{ 'INITIALIZATION.TOOLS.LOADING' | translate }}
      </clr-spinner>
      {{ 'INITIALIZATION.TOOLS.LOADING' | translate }}
    </div>
    <form clrForm
          #sshForm="ngForm">
      <clr-input-container>
        <label>{{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.ACCOUNT.NAME' | translate }}</label>
        <input clrInput
               required
               [(ngModel)]="user.username"
               name=sshUsername
               #getSSHUsername="ngModel" />
        <clr-control-error>
          {{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.ACCOUNT.REQUIRED' | translate }}
        </clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label>{{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.ACCOUNT.PASSWORD' | translate }}</label>
        <input clrPassword
               required
               [(ngModel)]="user.password"
               name="sshPassword"
               #getSSHPassword="ngModel" />
        <clr-control-error *clrIfError="'required'">
          {{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.ACCOUNT.REQUIRED' | translate }}
        </clr-control-error>
      </clr-password-container>
      <clr-control-helper>
        {{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.HELPER' | translate }}
      </clr-control-helper>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="cancelApply()">
      {{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.CANCEL' | translate }}
    </button>
    <button type="button"
            class="btn btn-warning"
            [disabled]='!sshForm.valid || disableApply'
            (click)="applyCfg()">
      {{ 'CONFIGURATIONPAGE.SAVECONFIGURATION.APPLY' | translate }}
    </button>
  </div>
</clr-modal>