<div id="container"
     class="clr-col-lg-9 clr-col-12">
  <label for="file-selector">
    <input type="button"
           id="file-btn"
           value="upload your board.cfg"
           class="clr-input">
    <input type="file"
           id="file-selector"
           accept=".cfg">
  </label>
  <button class="btn btn-primary btn-sm">Upload</button>

  <div class="search d7 search-block">
    <form style="padding-top: 0;">
      <input type="text"
             placeholder="search configuration">
      <button type="button">
        <clr-icon shape="search"></clr-icon>
      </button>
    </form>
  </div>

  <div class="btn-group clr-row clr-justify-content-start"
       style="margin-left: 2px;"
       *ngIf="config.tmpExist">
    <div class="radio btn">
      <input type="radio"
             name="btn-group-demo-radios"
             id="btn-demo-radio-1"
             [checked]="config.current == 'cfg'"
             [disabled]="config.current == 'cfg'"
             (click)="getCfg()">
      <label for="btn-demo-radio-1">current config</label>
    </div>
    <div class="radio btn">
      <input type="radio"
             name="btn-group-demo-radios"
             id="btn-demo-radio-2"
             [checked]="config.current != 'cfg'"
             [disabled]="config.current != 'cfg'"
             (click)="getCfg('tmp')">
      <label for="btn-demo-radio-2">temporary config</label>
    </div>
    <clr-tooltip>
      <clr-icon clrTooltipTrigger
                shape="info-circle"
                size="32"
                aria-label="Uniq tooltip 3"></clr-icon>
      <clr-tooltip-content clrPosition="bottom-right"
                           clrSize="lg"
                           *clrIfOpen>
        <span *ngIf="config.current == 'cfg'">Here shows the CURRENT Board config. You can click the button next to get
          the temporary configuration.</span>
        <span *ngIf="config.current != 'cfg'">Here shows the temporary config. You can click the button next to get
          CURRENT Board configuration.</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </div>

  <div>
    <app-others [card]="cardList.others"
                [others]="config.others"
                [isInit]="config.isInit"></app-others>
    <app-apiserver [card]="cardList.apiserver"
                   [apiserver]="config.apiserver"></app-apiserver>
    <app-gogits [card]="cardList.gogits"
                [gogits]="config.gogits"></app-gogits>
    <app-jenkins [card]="cardList.jenkins"
                 [jenkins]="config.jenkins"
                 [isInit]="config.isInit"></app-jenkins>
    <app-kvm [card]="cardList.kvm"
             [kvm]="config.kvm"></app-kvm>
    <app-ldap [card]="cardList.ldap"
              [ldap]="config.ldap"
              *ngIf="config.others.authMode == 'ldap_auth'"></app-ldap>
    <app-email [card]="cardList.email"
               [email]="config.email"
               [isInit]="config.isInit"></app-email>
  </div>

  <div class="btn-container">
    <button type="button"
            class="btn btn-icon btn-primary"
            aria-label="apply"
            (click)="saveCfg()">
      <clr-icon shape="check"></clr-icon>
      Save to server
    </button>

    <button type="button"
            class="btn btn-icon"
            aria-label="file-settings"
            (click)="saveAsCfg()">
      <clr-icon shape="file-settings"></clr-icon>
      Save locally
    </button>
  </div>

</div>

<clr-modal [(clrModalOpen)]="applyCfgModal"
           [clrModalClosable]="false">
  <h3 class="modal-title">Whether the configuration takes effect?</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col clr-align-self-center"
           style="text-align: center;">
        <clr-icon shape="success-standard"
                  class="is-solid is-success"
                  size="36"></clr-icon>
        <span>Save successfully</span>
      </div>
    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;The new configuration has been saved. Do you want the configuration to take effect in
      Board? If so, please enter the account and password of the host machine. Board will take a few minutes to restart
      to update the configuration.</p>
    <form clrForm>
      <clr-input-container>
        <label>Account 账户</label>
        <input clrInput
               required
               [(ngModel)]="user.username"
               #getSSHUsername="ngModel" />
        <clr-control-error>
          This field is required!<br>必填项！
        </clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label>Password 密码</label>
        <input clrPassword
               required
               [(ngModel)]="user.password"
               name="sshPassword"
               #getSSHPassword="ngModel" />
        <clr-control-error *clrIfError="'required'">
          This field is required!<br>必填项！
        </clr-control-error>
      </clr-password-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="cancelApply()">
      Not now
    </button>
    <button type="button"
            class="btn btn-warning"
            (click)="applyCfg()">
      Yes, Do it
    </button>
  </div>
</clr-modal>