<div id="container"
     class="clr-col-lg-9 clr-col-12">
  <!-- <label for="file-selector">
    <input type="button"
           id="file-btn"
           value="upload your board.cfg"
           class="clr-input">
    <input type="file"
           id="file-selector"
           accept=".cfg">
  </label>
  <button class="btn btn-primary btn-sm">{{ 'CONFIGURATIONPAGE.UPLOAD' | translate }}</button>

  <div class="search d7 search-block">
    <form style="padding-top: 0;">
      <input type="text"
             [placeholder]="'CONFIGURATIONPAGE.SEARCH' | translate">
      <button type="button">
        <clr-icon shape="search"></clr-icon>
      </button>
    </form>
  </div> -->

  <h4>{{'CONFIGURATIONPAGE.HEADER_HELPER' | translate}}</h4>
  <br>

  <div class="btn-group clr-row clr-justify-content-start"
       style="margin-left: 2px;"
       *ngIf="config.tmpExist">
    <div class="radio btn">
      <input type="radio"
             name="btn-group-demo-radios"
             id="btn-demo-radio-1"
             [checked]="config.current == 'cfg'"
             [disabled]="config.current == 'cfg'"
             (click)="getCfg()">
      <label for="btn-demo-radio-1">{{ 'CONFIGURATIONPAGE.CURRENT' | translate }}</label>
    </div>
    <div class="radio btn">
      <input type="radio"
             name="btn-group-demo-radios"
             id="btn-demo-radio-2"
             [checked]="config.current != 'cfg'"
             [disabled]="config.current != 'cfg'"
             (click)="getCfg('tmp')">
      <label for="btn-demo-radio-2">{{ 'CONFIGURATIONPAGE.TEMPORARY' | translate }}</label>
    </div>
    <clr-tooltip>
      <clr-icon clrTooltipTrigger
                shape="info-circle"
                size="32"
                aria-label="Uniq tooltip 3"></clr-icon>
      <clr-tooltip-content clrPosition="bottom-right"
                           clrSize="lg"
                           *clrIfOpen>
        <span *ngIf="config.current == 'cfg'">{{ 'CONFIGURATIONPAGE.CURRENTTIP' | translate }}</span>
        <span *ngIf="config.current != 'cfg'">{{ 'CONFIGURATIONPAGE.TEMPORARYTIP' | translate }}</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </div>

  <div class="card-block">
    <form clrForm>

      <div>
        <div class="card-title">
          Board:
        </div>
        <variable-input [label]="'CONFIGURATIONS.BOARD.ARCH_TYPE.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.board.archType"
                        [enumType]="'text'"
                        [enumItem]="{x86_64:'x86_64',ARM64v8:'arm64v8',MIPS:'mips'}"
                        [enumInline]="true"
                        [helper]="'CONFIGURATIONS.BOARD.ARCH_TYPE.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.board.archType = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.BOARD.MODE.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.board.mode"
                        [enumType]="'text'"
                        [enumItem]="{Normal:'normal',Security:'security'}"
                        [enumInline]="true"
                        [helper]="'CONFIGURATIONS.BOARD.MODE.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.board.mode = $event">
        </variable-input>
        <!-- <variable-input
                        [label]="'CONFIGURATIONS.BOARD.ACCESS_PROTOCOL.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.board.accessProtocol"
                        [enumType]="'text'"
                        [enumItem]="{HTTP:'http',HTTPS:'https'}"
                        [enumInline]="true"
                        [helper]="'CONFIGURATIONS.BOARD.ACCESS_PROTOCOL.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.board.accessProtocol = $event">
        </variable-input> -->
        <variable-input [label]="'CONFIGURATIONS.BOARD.HOSTNAME.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.board.hostname"
                        [placeholder]="'CONFIGURATIONS.BOARD.HOSTNAME.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.BOARD.HOSTNAME.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.board.hostname = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.BOARD.API_SERVER_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.board.apiServerPort"
                        [placeholder]="'CONFIGURATIONS.BOARD.API_SERVER_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.BOARD.API_SERVER_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.board.apiServerPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.BOARD.DEVOPS_OPT.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.board.devopsOpt"
                        [enumType]="'text'"
                        [enumItem]="{Gitlab:'gitlab',Gogs:'legacy'}"
                        [enumInline]="true"
                        [helper]="'CONFIGURATIONS.BOARD.DEVOPS_OPT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.board.devopsOpt = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.BOARD.AUTH_MODE.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.board.authMode"
                        [enumType]="'text'"
                        [enumItem]="{Database:'db_auth',LDAP:'ldap_auth'}"
                        [enumInline]="true"
                        [placeholder]="'CONFIGURATIONS.BOARD.AUTH_MODE.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.BOARD.AUTH_MODE.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.board.authMode = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.BOARD.AUDIT_DEBUG.LABEL' | translate"
                        [type]="'boolean'"
                        [defaultValue]="config.board.auditDebug === 'true'"
                        [helper]="'CONFIGURATIONS.BOARD.AUDIT_DEBUG.HELPER' | translate"
                        [showHelper]="'onfocus'"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.board.auditDebug = $event">
        </variable-input>

      </div>

      <hr>

      <div>
        <div class="card-title">
          K8s:
        </div>
        <variable-input [label]="'CONFIGURATIONS.K8S.KUBE_MASTER_IP.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.k8s.kubeMasterIP"
                        [placeholder]="'CONFIGURATIONS.K8S.KUBE_MASTER_IP.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.K8S.KUBE_MASTER_IP.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.k8s.kubeMasterIP = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.K8S.KUBE_HTTP_SCHEME.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.k8s.kubeHttpScheme"
                        [enumType]="'text'"
                        [enumItem]="{HTTP:'http',HTTPS:'https'}"
                        [enumInline]="true"
                        [helper]="'CONFIGURATIONS.K8S.KUBE_HTTP_SCHEME.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.k8s.kubeHttpScheme = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.K8S.KUBE_MASTER_PORT.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.k8s.kubeHttpScheme === 'http' ? 8080 : 6443"
                        [enumType]="'number'"
                        [enumItem]="{'8080':8080,'6443':6443}"
                        [enumInline]="true"
                        [enableCustomItem]="true"
                        [customItemPlaceholder]="'1~65535'"
                        [customItemWidth]="'3.5rem'"
                        [helper]="'CONFIGURATIONS.K8S.KUBE_MASTER_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.k8s.kubeMasterPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.K8S.REGISTRY_IP.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.k8s.registryIP"
                        [placeholder]="'CONFIGURATIONS.K8S.REGISTRY_IP.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.K8S.REGISTRY_IP.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.k8s.registryIP = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.K8S.REGISTRY_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.k8s.registryPort"
                        [placeholder]="'CONFIGURATIONS.K8S.REGISTRY_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.K8S.REGISTRY_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.k8s.registryPort = $event">
        </variable-input>

        <clr-date-container>
          <label>{{'CONFIGURATIONS.K8S.IMAGE_BASELINE_TIME.LABEL' | translate}}</label>
          <input type="date"
                 [(clrDate)]="newDate"
                 style="width: 10.6rem;"
                 newFormLayout="true"
                 (focus)="onFocusBaselineHelper()"
                 (blur)="onBlurBaselineHelper()">
          <clr-control-helper *ngIf="showBaselineHelper">
            {{ 'CONFIGURATIONS.K8S.IMAGE_BASELINE_TIME.HELPER' | translate }}
          </clr-control-helper>
        </clr-date-container>

        <variable-input [label]="'CONFIGURATIONS.K8S.TILLER_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.k8s.tillerPort"
                        [placeholder]="'CONFIGURATIONS.K8S.TILLER_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.K8S.TILLER_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.k8s.tillerPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.K8S.DNS_SUFFIX.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.k8s.dnsSuffix"
                        [placeholder]="'CONFIGURATIONS.K8S.DNS_SUFFIX.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.K8S.DNS_SUFFIX.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.k8s.dnsSuffix = $event">
        </variable-input>
      </div>

      <hr *ngIf="config.board.devopsOpt == 'legacy'">

      <div *ngIf="config.board.devopsOpt == 'legacy'">
        <div class="card-title">
          Gogs:
        </div>

        <variable-input [label]="'CONFIGURATIONS.GOGS.HOST_IP.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.gogs.hostIP"
                        [placeholder]="'CONFIGURATIONS.GOGS.HOST_IP.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GOGS.HOST_IP.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.gogs.hostIP = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.GOGS.HOST_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.gogs.hostPort"
                        [placeholder]="'CONFIGURATIONS.GOGS.HOST_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GOGS.HOST_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.gogs.hostPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.GOGS.SSH_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.gogs.sshPort"
                        [placeholder]="'CONFIGURATIONS.GOGS.SSH_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GOGS.SSH_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.gogs.sshPort = $event">
        </variable-input>
      </div>

      <hr *ngIf="config.board.devopsOpt == 'gitlab'">

      <div *ngIf="config.board.devopsOpt == 'gitlab'">
        <div class="card-title">
          Gitlab:
        </div>
        <variable-input [label]="'CONFIGURATIONS.GITLAB.HOST_IP.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.gitlab.hostIP"
                        [placeholder]="'CONFIGURATIONS.GITLAB.HOST_IP.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GITLAB.HOST_IP.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.gitlab.hostIP = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.GITLAB.HOST_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.gitlab.hostPort"
                        [placeholder]="'CONFIGURATIONS.GITLAB.HOST_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GITLAB.HOST_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.gitlab.hostPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.GITLAB.SSH_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.gitlab.sshPort"
                        [placeholder]="'CONFIGURATIONS.GITLAB.SSH_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GITLAB.SSH_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.gitlab.sshPort = $event">
        </variable-input>
        <!-- <variable-input [label]="'CONFIGURATIONS.GITLAB.ADMIN_TOKEN.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.gitlab.adminToken"
                        [placeholder]="'CONFIGURATIONS.GITLAB.ADMIN_TOKEN.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GITLAB.ADMIN_TOKEN.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.gitlab.adminToken = $event">
        </variable-input> -->
        <variable-input [label]="'CONFIGURATIONS.GITLAB.SSH_USERNAME.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.gitlab.sshUsername"
                        [placeholder]="'CONFIGURATIONS.GITLAB.SSH_USERNAME.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GITLAB.SSH_USERNAME.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.gitlab.sshUsername = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.GITLAB.SSH_PASSWORD.LABEL' | translate"
                        [type]="'password'"
                        [required]="true"
                        [defaultValue]="config.gitlab.sshPassword"
                        [placeholder]="'CONFIGURATIONS.GITLAB.SSH_PASSWORD.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.GITLAB.SSH_PASSWORD.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.gitlab.sshPassword = $event">
        </variable-input>
      </div>

      <hr *ngIf="config.board.devopsOpt == 'legacy'">

      <div *ngIf="config.board.devopsOpt == 'legacy'">
        <div class="card-title">
          Jenkins:
        </div>
        <variable-input [label]="'CONFIGURATIONS.JENKINS.HOST_IP.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.jenkins.hostIP"
                        [placeholder]="'CONFIGURATIONS.JENKINS.HOST_IP.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.JENKINS.HOST_IP.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.jenkins.hostIP = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.JENKINS.HOST_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.jenkins.hostPort"
                        [placeholder]="'CONFIGURATIONS.JENKINS.HOST_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.JENKINS.HOST_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.jenkins.hostPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.JENKINS.NODE_IP.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.jenkins.nodeIP"
                        [placeholder]="'CONFIGURATIONS.JENKINS.NODE_IP.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.JENKINS.NODE_IP.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.jenkins.nodeIP = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.JENKINS.NODE_SSH_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.jenkins.nodeSshPort"
                        [placeholder]="'CONFIGURATIONS.JENKINS.NODE_SSH_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.JENKINS.NODE_SSH_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.jenkins.nodeSshPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.JENKINS.NODE_USERNAME.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.jenkins.nodeUsername"
                        [placeholder]="'CONFIGURATIONS.JENKINS.NODE_USERNAME.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.JENKINS.NODE_USERNAME.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.jenkins.nodeUsername = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.JENKINS.NODE_PASSWORD.LABEL' | translate"
                        [type]="'password'"
                        [required]="true"
                        [defaultValue]="config.jenkins.nodePassword"
                        [placeholder]="'CONFIGURATIONS.JENKINS.NODE_PASSWORD.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.JENKINS.NODE_PASSWORD.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.jenkins.nodePassword = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.JENKINS.NODE_VOLUME.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.jenkins.nodeVolume"
                        [placeholder]="'CONFIGURATIONS.JENKINS.NODE_VOLUME.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.JENKINS.NODE_VOLUME.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.jenkins.nodeVolume = $event">
        </variable-input>
      </div>

      <hr>

      <div>
        <div class="card-title">
          Prometheus:
        </div>
        <variable-input [label]="'CONFIGURATIONS.PROMETHEUS.URL.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.prometheus.url"
                        [placeholder]="'CONFIGURATIONS.PROMETHEUS.URL.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.PROMETHEUS.URL.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.prometheus.url = $event">
        </variable-input>
      </div>

      <hr>

      <div>
        <div class="card-title">
          DB:
        </div>
        <variable-input [label]="'CONFIGURATIONS.DB.DB_PASSWORD.LABEL' | translate"
                        [type]="'password'"
                        [required]="true"
                        [pattern]="passwordPattern"
                        [defaultValue]="config.db.dbPassword"
                        [placeholder]="'CONFIGURATIONS.DB.DB_PASSWORD.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.DB.DB_PASSWORD.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [patternMsg]="'CONFIGURATIONS.DB.DB_PASSWORD.PATTERN_ERROR' | translate"
                        [confirmMsg]="'ACCOUNT.PASSWORDS_ARE_NOT_IDENTICAL' | translate"
                        (commitEvent)="config.db.dbPassword = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.DB.DB_MAX_CONNECTIONS.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="16384"
                        [defaultValue]="config.db.dbMaxConnections"
                        [placeholder]="'CONFIGURATIONS.DB.DB_MAX_CONNECTIONS.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.DB.DB_MAX_CONNECTIONS.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 16384'"
                        (commitEvent)="config.db.dbMaxConnections = $event">
        </variable-input>
        <variable-input *ngIf="config.board.authMode == 'db_auth'"
                        [label]="'CONFIGURATIONS.DB.BOARD_ADMIN_PASSWORD.LABEL' | translate"
                        [type]="'password'"
                        [required]="true"
                        [pattern]="passwordPattern"
                        [defaultValue]="config.db.boardAdminPassword"
                        [placeholder]="'CONFIGURATIONS.DB.BOARD_ADMIN_PASSWORD.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.DB.BOARD_ADMIN_PASSWORD.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [patternMsg]="'CONFIGURATIONS.DB.BOARD_ADMIN_PASSWORD.PATTERN_ERROR' | translate"
                        [confirmMsg]="'ACCOUNT.PASSWORDS_ARE_NOT_IDENTICAL' | translate"
                        (commitEvent)="config.db.boardAdminPassword = $event">
        </variable-input>
      </div>

      <hr *ngIf="false">

      <div *ngIf="false">
        <div class="card-title">
          ES:
        </div>
        <variable-input [label]="'CONFIGURATIONS.ES.MEMORY_IN_MEGABYTES.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="128"
                        [defaultValue]="config.es.memoryInMegabytes"
                        [placeholder]="'CONFIGURATIONS.ES.MEMORY_IN_MEGABYTES.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.ES.MEMORY_IN_MEGABYTES.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 128'"
                        (commitEvent)="config.es.memoryInMegabytes = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.ES.PASSWORD.LABEL' | translate"
                        [type]="'password'"
                        [required]="true"
                        [defaultValue]="config.es.password"
                        [placeholder]="'CONFIGURATIONS.ES.PASSWORD.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.ES.PASSWORD.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.es.password = $event">
        </variable-input>
      </div>

      <hr *ngIf="config.board.authMode == 'ldap_auth'">

      <div *ngIf="config.board.authMode == 'ldap_auth'">
        <div class="card-title">
          LDAP:
        </div>
        <variable-input [label]="'CONFIGURATIONS.LDAP.URL.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.ldap.url"
                        [placeholder]="'CONFIGURATIONS.LDAP.URL.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.LDAP.URL.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.ldap.url = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.LDAP.SEARCHDN.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.ldap.searchdn"
                        [placeholder]="'CONFIGURATIONS.LDAP.SEARCHDN.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.LDAP.SEARCHDN.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.ldap.searchdn = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.LDAP.SEARCH_PWD.LABEL' | translate"
                        [type]="'password'"
                        [required]="true"
                        [defaultValue]="config.ldap.searchPwd"
                        [placeholder]="'CONFIGURATIONS.LDAP.SEARCH_PWD.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.LDAP.SEARCH_PWD.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.ldap.searchPwd = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.LDAP.BASEDN.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.ldap.basedn"
                        [placeholder]="'CONFIGURATIONS.LDAP.BASEDN.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.LDAP.BASEDN.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.ldap.basedn = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.LDAP.FILTER.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.ldap.filter"
                        [placeholder]="'CONFIGURATIONS.LDAP.FILTER.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.LDAP.FILTER.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.ldap.filter = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.LDAP.UID.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.ldap.uid"
                        [placeholder]="'CONFIGURATIONS.LDAP.UID.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.LDAP.UID.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.ldap.uid = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.LDAP.SCOPE.LABEL' | translate"
                        [type]="'enum'"
                        [required]="true"
                        [defaultValue]="config.ldap.scope"
                        [enumType]="'text'"
                        [enumItem]="{Base:'LDAP_SCOPE_BASE','One level':'LDAP_SCOPE_ONELEVEL',Subtree:'LDAP_SCOPE_SUBTREE'}"
                        [enumInline]="true"
                        [helper]="'CONFIGURATIONS.LDAP.SCOPE.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.ldap.scope = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.LDAP.TIMEOUT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="99999"
                        [defaultValue]="config.ldap.timeout"
                        [placeholder]="'CONFIGURATIONS.LDAP.TIMEOUT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.LDAP.TIMEOUT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 99999'"
                        (commitEvent)="config.ldap.timeout = $event">
        </variable-input>
      </div>

      <hr>

      <div>
        <div class="card-title">
          Email:
        </div>
        <variable-input [label]="'CONFIGURATIONS.EMAIL.IDENTITY.LABEL' | translate"
                        [type]="'text'"
                        [defaultValue]="config.email.identity"
                        [placeholder]="'CONFIGURATIONS.EMAIL.IDENTITY.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.EMAIL.IDENTITY.HELPER' | translate"
                        (commitEvent)="config.email.identity = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.EMAIL.SERVER.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.email.server"
                        [placeholder]="'CONFIGURATIONS.EMAIL.SERVER.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.EMAIL.SERVER.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.email.server = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.EMAIL.SERVER_PORT.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="1"
                        [max]="65535"
                        [defaultValue]="config.email.serverPort"
                        [placeholder]="'CONFIGURATIONS.EMAIL.SERVER_PORT.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.EMAIL.SERVER_PORT.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 1'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 65535'"
                        (commitEvent)="config.email.serverPort = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.EMAIL.USERNAME.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.email.username"
                        [placeholder]="'CONFIGURATIONS.EMAIL.USERNAME.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.EMAIL.USERNAME.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.email.username = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.EMAIL.PASSWORD.LABEL' | translate"
                        [type]="'password'"
                        [required]="true"
                        [defaultValue]="config.email.password"
                        [placeholder]="'CONFIGURATIONS.EMAIL.PASSWORD.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.EMAIL.PASSWORD.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.email.password = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.EMAIL.FROM.LABEL' | translate"
                        [type]="'text'"
                        [required]="true"
                        [defaultValue]="config.email.from"
                        [placeholder]="'CONFIGURATIONS.EMAIL.FROM.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.EMAIL.FROM.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        (commitEvent)="config.email.from = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.EMAIL.SSL.LABEL' | translate"
                        [type]="'boolean'"
                        [defaultValue]="config.email.ssl === 'true'"
                        [helper]="'CONFIGURATIONS.EMAIL.SSL.HELPER' | translate"
                        [inputUpdateOn]="'change'"
                        (commitEvent)="config.email.ssl = $event">
        </variable-input>
      </div>

      <hr>

      <div>
        <div class="card-title">
          Token:
        </div>
        <variable-input [label]="'CONFIGURATIONS.TOKEN.CACHE_EXPIRE_SECONDS.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="60"
                        [max]="99999"
                        [defaultValue]="config.token.cacheExpireSeconds"
                        [placeholder]="'CONFIGURATIONS.TOKEN.CACHE_EXPIRE_SECONDS.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.TOKEN.CACHE_EXPIRE_SECONDS.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 60'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 99999'"
                        (commitEvent)="config.token.cacheExpireSeconds = $event">
        </variable-input>
        <variable-input [label]="'CONFIGURATIONS.TOKEN.EXPIRE_SECONDS.LABEL' | translate"
                        [type]="'number'"
                        [required]="true"
                        [min]="60"
                        [max]="99999"
                        [defaultValue]="config.token.expireSeconds"
                        [placeholder]="'CONFIGURATIONS.TOKEN.EXPIRE_SECONDS.PLACEHOLDER' | translate"
                        [helper]="'CONFIGURATIONS.TOKEN.EXPIRE_SECONDS.HELPER' | translate"
                        [requiredMsg]="'ERROR.INPUT_REQUIRED' | translate"
                        [minMsg]="('ERROR.INPUT_MIN_VALUE' | translate)+': 60'"
                        [maxMsg]="('ERROR.INPUT_MAX_VALUE' | translate)+': 99999'"
                        (commitEvent)="config.token.expireSeconds = $event">
        </variable-input>
      </div>

    </form>
  </div>

  <div class="btn-container">
    <button type="button"
            class="btn btn-icon"
            aria-label="file-settings"
            (click)="saveAsCfg()">
      <clr-icon shape="file-settings"></clr-icon>
      {{ 'CONFIGURATIONPAGE.SAVETOLOCAL' | translate }}
    </button>
  </div>

</div>