<div class="profile-container">
  <img alt="" [src]="logoPath">
  <div class="line-container">
    <span class="line-title">{{"PROFILES.VERSION" | translate}}:</span>
    <span>{{version}}</span>
  </div>
  <div class="line-container">
    <span class="line-title">{{"PROFILES.CLUSTER_VERSION" | translate}}:</span>
    <span>{{k8sVersion}}</span>
  </div>
  <div *ngIf="isShowProcessorType" class="line-container">
    <span class="line-title">{{"PROFILES.PROCESSOR_TYPE" | translate}}:</span>
    <span>{{processorType}}</span>
  </div>
  <span class="copyright-custom"><strong>(C)  2017 - 2019    Inspur</strong></span>
</div>
