div.profile-container {
  height: 600px;
  width: 700px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

div.line-container {
  display: flex;
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 30px;
}

span.line-title{
  width: 150px;
}

span.copyright-custom {
  font-size: 12px;
  text-align: center;
}

span.profile-title {
  text-align: center;
  font-size: 20px;
  margin: 30px;
}