<node-detail></node-detail>
<div class="row">
  <div class="col-xs-12">
    <clr-datagrid>
      <clr-dg-column>{{ 'NODE.NODE_NAME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'NODE.NODE_IP' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'NODE.NODE_STATUS' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'NODE.OPERATION' | translate }}</clr-dg-column>
      <clr-dg-row *ngFor="let n of nodes">
        <clr-dg-cell><a href="javascript:void(0)" (click)="openNodeDetail(n.node_name)">{{n.node_name}}</a></clr-dg-cell>
        <clr-dg-cell>{{n.node_ip}}</clr-dg-cell>
        <clr-dg-cell>{{ getStatus(n.status) | translate }}</clr-dg-cell>
        <clr-dg-cell>
          <a *ngIf="n.status === 2" href="javascript:void(0)" (click)="confirmToToggleNodeStatus(n.node_name, n.status)"><clr-icon shape="play"></clr-icon></a>
          <a *ngIf="n.status === 1" href="javascript:void(0)" (click)="confirmToToggleNodeStatus(n.node_name, n.status)"><clr-icon shape="stop"></clr-icon></a>
          <a *ngIf="n.status === 3"><clr-icon shape="no-access"></clr-icon></a>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>{{nodes ? nodes.length : 0}} {{ 'DATAGRID.ITEMS' | translate }}</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>