<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ 'SERVICE.STEP_3_SET_AFFINITY' | translate }}</h3>
  <div class="modal-body">
    <div class="advance-left-config">
      <app-affinity-card-list #affinitySource
                              [title]="'SERVICE.STEP_3_COLLABORATIVE'|translate"
                              [viewModel]="'column'"
                              [acceptDrag]="false"
                              [description]="'SERVICE.STEP_3_AFFINITY_DESCRIPTION' | translate"
                              [disabled]="isActionWip"
                              [affinityCardDataList]="affinitySourceDataList">
      </app-affinity-card-list>
    </div>
    <div class="advance-right-config">
      <a href="javascript:void(0)" (click)="addNewAffinity()">
        <clr-icon shape="plus"></clr-icon>
        {{"SERVICE.STEP_3_AFFINITY_SETTING" | translate}}
      </a>
      <div class="affinity-container" *ngFor="let affinity of uiData.affinityList;let i = index">
        <div class="affinity-group-control">
          <label>
            <input type="radio"
                   [name]="i"
                   [checked]="!affinity.antiFlag"
                   [value]="false"
                   [disabled]="isActionWip"
                   [(ngModel)]="affinity.antiFlag">
            {{"SERVICE.STEP_3_AFFINITY_GROUP" | translate}}
          </label>
          <label>
            <input type="radio"
                   [name]="i"
                   [checked]="affinity.antiFlag"
                   [value]="true"
                   [disabled]="isActionWip"
                   [(ngModel)]="affinity.antiFlag">
            {{"SERVICE.STEP_3_ANTI_AFFINITY_GROUP" | translate}}
          </label>
          <a *ngIf="!isActionWip" [class.disabled]="isActionWip" href="javascript:void(0)"
             (click)="deleteAffinity(i)">
            <clr-icon shape="trash"></clr-icon>
          </a>
        </div>
        <app-affinity-card-list [sourceList]="affinitySource"
                                [acceptDrag]="true"
                                [listMinHeight]="150"
                                [viewModel]="'row'"
                                [listBorder]="true"
                                [cardWidth]="220"
                                [disabled]="isActionWip"
                                [affinityCardDataList]="affinity.services">
        </app-affinity-card-list>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalOpened = false">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>
