<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>value</name>
          <description>Provide service ID to retrieve directory named as.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>extras</name>
          <description>Provide extras for starting service.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>file_name</name>
          <description>Provide configuration file for starting service.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>user_id</name>
          <description>Provide user&apos;s ID who trigger job.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e

curl http://apiserver:8088/api/v1/jenkins-job/$user_id/$BUILD_NUMBER

cd ~

if [ ! -d &quot;board_repo&quot; ]; then

  echo &quot;Clone board repo as it doesn&apos;t exist yet.&quot;

  git clone root@gitserver:/gitserver/repos/board_repo

fi

cd board_repo

echo &quot;Pull changes from repo.&quot;

git pull

echo &quot;CURL $extras with file $value/$file_name&quot;

curl -X PATCH -H &apos;Content-Type: application/yaml&apos; --data-binary @$value/$file_name $extras</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>