<div [ngStyle]="{'width':dropdownWidth + 'px'}" [@check]="animation">
  <div *ngIf="!dropdownList" class="spinner-container">
    <span class="spinner spinner-sm"></span>
  </div>
  <div *ngIf="dropdownList && dropdownList.length == 0" class="spinner-container">
    <span class="no-items">{{"CS_DROPDOWN.NO_ITEMS" | translate}}</span>
  </div>
  <clr-dropdown #csDropdown
                *ngIf="dropdownList && dropdownList.length > 0"
                [clrCloseMenuOnItemClick]="true">
    <div clrDropdownToggle
         class="title-container"
         [style.min-height.px]="getItemTag(item) ? 60 :30"
         [ngClass]="{'disabled':dropdownDisabled}">
      <div class="icon-container">
        <span class="cs-dropdown-title" [ngStyle]="{'font-size':dropdownTitleFontSize + 'px'}"
              [ngClass]="{'disabled':dropdownDisabled}">
          {{ isShowDefaultText? (dropdownDefaultText | translate):(dropdownText| translate)}}
        </span>
        <div *ngIf="dropdownEnabled" class="cs-dropdown-icon" [ngClass]="{'open':active,'close':!active}">
          <clr-icon shape="caret up"></clr-icon>
        </div>
      </div>
      <span *ngIf="getItemTag(curDropdownItem)" class="tag label" [ngClass]="getItemTagClass(curDropdownItem)">
        {{getItemTagDes(curDropdownItem) | translate}}
      </span>
    </div>
    <clr-dropdown-menu #csDropdownMenu
                       [clrPosition]="dropdownPosition"
                       [hidden]="dropdownDisabled"
                       [ngStyle]="{'width':dropdownWidth + 30 + 'px'}">
      <div class="menu-container">
        <div *ngIf="dropdownShowSearch && shownDropdownList.length < dropdownList.length" class="search-container">
          <input title="" type="text"
                 (click)="$event.stopPropagation()"
                 (keyup)="filterExecute($event)">
          <clr-icon shape="search"></clr-icon>
        </div>
        <div *ngIf="dropdownShowSearch && shownDropdownList.length < dropdownList.length" class="dropdown-divider"></div>
        <div class="menu-list-container">
          <div clrDropdownItem
               (click)="changeSelect(item)"
               *ngFor="let item of shownDropdownList;"
               class="dropdown-item-container"
               [ngClass]="getActiveClass(item)"
               [style.min-height.px]="getItemTag(item) ? 60 :30">
            <button [ngClass]="getSpecialClass(item)" class="dropdown-item">
              {{getItemDescription(item) | translate}}
            </button>
            <span *ngIf="getItemTag(item)" class="tag label" [ngClass]="getItemTagClass(item)">
              {{getItemTagDes(item) | translate}}
            </span>
          </div>
        </div>
        <div *ngIf="hasMoreItems" class="dropdown-divider"></div>
        <a *ngIf="hasMoreItems" href="javascript:void(0)" (click)="incShowTimes($event)">
          <span class="badge badge-2">{{filterDropdownList.length - shownDropdownList.length}}</span>
        </a>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>



