<div [ngStyle]="{'width':dropdownWidth + 'px'}">
  <clr-dropdown #csDropdown class="cs-dropdown" [clrCloseMenuOnItemClick]="true" >
    <div class="cs-dropdown-title-container"  [ngClass]="{'disabled':dropdownDisabled}" clrDropdownToggle>
      <span class="cs-dropdown-title"
            [ngStyle]="{'font-size':dropdownTitleFontSize + 'px'}"
            [ngClass]="{'disabled':dropdownDisabled}">
        {{ isShowDefaultText? (dropdownDefaultText | translate):(dropdownText| translate )}}
      </span>
      <span *ngIf="!dropdownList" class="spinner spinner-sm"></span>
      <div class="cs-dropdown-icon-container"
           *ngIf="dropdownList && dropdownList.length > 0 && !dropdownDisabled">
        <div class="cs-dropdown-icon"
             [ngClass]="{'cs-dropdown-open':active,'cs-dropdown-close':!active}">
          <clr-icon shape="caret up" style="height: 20px;width: 20px;color: darkgreen"></clr-icon>
        </div>
      </div>
    </div>
    <clr-dropdown-menu #csDropdownMenu
                       [hidden]="!dropdownList|| dropdownList.length == 0 || dropdownDisabled"
                       [ngStyle]="{'width':dropdownWidth + 30 + 'px'}"
                       class="cs-dropdown-menu">
      <div class="cs-dropdown-menu-container">
        <div *ngIf="dropdownShowItems && dropdownList && dropdownShowItems.length < dropdownList.length"
             class="cs-dropdown-search-container">
          <input title=""
                 type="text"
                 class="cs-dropdown-search"
                 (click)="$event.stopPropagation()"
                 [(ngModel)]="dropdownSearchText">
          <clr-icon shape="search" style="height: 20px;flex-basis: 20px;color: darkgreen"></clr-icon>
        </div>
        <div class="cs-dropdown-menu">
          <button *ngFor="let item of dropdownShowItems;"
                  clrDropdownItem
                  class="dropdown-item cs-dropdown-item"
                  [ngClass]="getItemClass(item)"
                  (click)="changeSelect(item);">
            {{getItemDescription(item) | translate}}
          </button>
          <span class="cs-dropdown-more"
                *ngIf="dropdownShowItems && dropdownList && dropdownShowItems.length < dropdownList.length"
                (click)="incShowTimes($event)">
          more...
        </span>
        </div>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>



