div.card-container {
  border-radius: 3px;
  margin-right: 10px;
  min-height: 50px;
  box-shadow: 0 0 2px #bbbbbb;
  display: flex;
  flex-direction: column;
}

div.selected {
  background-color: lightgreen;
}

b.card-name {
  word-wrap: break-word;
  margin-left: 10px;
}

table {
  margin-top: 0;
}

table th {
  font-weight: bold;
  text-align: right;
}

td.card-external {
  font-size: 16px;
  color: blue;
  font-style: italic;
}

td.card-remove {
  text-align: right;
}