<app-header></app-header>
<div class="content-container background">
  <div class="input-container">
    <div class="system-info">
      {{'ACCOUNT.REGISTER_INFO' | translate}}
    </div>
    <lib-input-ex libCheckItemExistingEx="username"
                  libCheckPatternEx="username"
                  [inputIsRequired]="true"
                  [inputLabel]="'ACCOUNT.USERNAME' | translate"
                  [inputDefaultValue]="user.username"
                  [inputPlaceholder]="'ACCOUNT.INPUT_USERNAME' | translate"
                  [inputMaxlength]="40"
                  [inputMinlength]="4"
                  [inputDisabled]="isSignUpWIP"
                  [validatorMessage]="[{key: 'required', message: 'ACCOUNT.USERNAME_IS_REQUIRED' | translate}]"
                  (commitEvent)="user.username = $event">
    </lib-input-ex>
    <lib-input-ex libCheckPatternEx="password"
                  [inputIsRequired]="true"
                  [inputLabel]="'ACCOUNT.PASSWORD' | translate"
                  [inputDefaultValue]="user.password"
                  [inputCategory]="3"
                  [sourcePassword]="true"
                  [inputPlaceholder]="'ACCOUNT.INPUT_PASSWORD' | translate"
                  [validatorMessage]="[{key: 'required', message: 'ACCOUNT.PASSWORD_IS_REQUIRED' | translate}]"
                  [inputDisabled]="isSignUpWIP"
                  (commitEvent)="user.password = $event">
    </lib-input-ex>
    <lib-input-ex [inputIsRequired]="true"
                  [inputLabel]="'ACCOUNT.CONFIRM_PASSWORD' | translate"
                  [inputCategory]="3"
                  [inputDefaultValue]="user.passwordConfirm"
                  [verifyPassword]="true"
                  [inputPlaceholder]="'ACCOUNT.INPUT_CONFIRM_PASSWORD' | translate "
                  [validatorMessage]="[{key: 'verifyPassword', message: 'ACCOUNT.PASSWORDS_ARE_NOT_IDENTICAL' | translate}]"
                  [inputDisabled]="isSignUpWIP"
                  (commitEvent)="user.passwordConfirm = $event">
    </lib-input-ex>
    <div class="btn-container">
      <!-- <button type="button"
              class="btn btn-default"
              (click)="goBack()">
        返回
      </button> -->
      <button type="button"
              class="btn btn-primary"
              [disabled]="isSignUpWIP"
              (click)="signUp()">
        {{'ACCOUNT.SIGN_UP' | translate}}
      </button>
    </div>
  </div>
</div>

