<clr-main-container>
  <header-content></header-content>
  <div class="content-container background">
    <confirmation-dialog></confirmation-dialog>
    <div class="content-area">
      <form #resetForm="ngForm" (ngSubmit)="sendResetPassRequest()">
        <section class="form-block">
          <div class="form-group group-margin">
            <label for="txtPassword" class="required">{{ 'ACCOUNT.PASSWORD' | translate }}</label>
            <label for="txtPassword"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md"
                   [class.invalid]="passwordInput.invalid && passwordInput.touched">
              <input type="password" id="txtPassword" placeholder="{{ 'ACCOUNT.INPUT_PASSWORD' | translate }}"
                     required checkItemPattern="password"
                     name="password" validateEqual="confirmPassword" reverse="true"
                     [(ngModel)]="signUpModel.password"
                     #passwordInput="ngModel" validate-onblur>
              <span class="tooltip-content" *ngIf="passwordInput.errors && passwordInput.errors.required">
                {{ 'ACCOUNT.PASSWORD_IS_REQUIRED' | translate }}
                </span>
              <span class="tooltip-content" *ngIf="passwordInput.errors && passwordInput.errors.checkItemPattern">
                {{ 'ACCOUNT.PASSWORD_FORMAT' | translate }}
                </span>
              <span class="tooltip-content" *ngIf="passwordInput.invalid">
                {{ 'ACCOUNT.PASSWORDS_ARE_NOT_IDENTICAL' | translate }}
                </span>
            </label>
          </div>
          <div class="form-group">
            <label for="txtConfirmPassword" class="required">{{ 'ACCOUNT.CONFIRM_PASSWORD' | translate }}</label>
            <label for="txtConfirmPassword"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md"
                   [class.invalid]="confirmPasswordInput.invalid && confirmPasswordInput.touched">
              <input type="password" id="txtConfirmPassword" placeholder="{{ 'ACCOUNT.INPUT_CONFIRM_PASSWORD' | translate }}"
                     required validateEqual="password" reverse="false"
                     name="confirmPassword"
                     [(ngModel)]="signUpModel.confirmPassword"
                     #confirmPasswordInput="ngModel" validate-onblur>
              <span class="tooltip-content" *ngIf="confirmPasswordInput.errors && confirmPasswordInput.invalid">
                {{ 'ACCOUNT.PASSWORDS_ARE_NOT_IDENTICAL' | translate }}
                </span>
            </label>
          </div>
          <div class="form-group">
            <label></label>
            <button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">{{ 'BUTTON.OK' | translate }}</button>
            <button type="button"
                    class="btn btn-default"
                    (click)="goBack()">{{ 'ACCOUNT.BACK' | translate }}
            </button>
          </div>
        </section>
      </form>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a href="javascript:void(0)" class="nav-link active">{{ 'ACCOUNT.FORGOT_PASSWORD' | translate }}</a>
      </section>
    </nav>
  </div>
</clr-main-container>