:host{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

div.container-area {
  margin: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

div.container-area lib-input-ex{
  margin-top: 10px;
}

div.button-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 70px;
}
