
  <header-content [isSignIn]="false" [hasSignedIn]="false"></header-content>
  <div class="content-container">
    <div class="container-area">
      <cs-input [inputLabelMinWidth]="160"
                [inputIsRequired]="true"
                [inputFiledType]="2"
                [sourcePassword]="true"
                [inputLabel]="'ACCOUNT.PASSWORD' | translate "
                [simpleFiled]="signUpModel.password"
                [disabled]="sendRequestWIP"
                checkItemPatternEx="password"
                (onCheck)="signUpModel.password = $event">
      </cs-input>
      <cs-input [inputLabelMinWidth]="160"
                [inputIsRequired]="true"
                [inputFiledType]="2"
                [verifyPassword]="true"
                [inputLabel]="'ACCOUNT.CONFIRM_PASSWORD' | translate "
                [simpleFiled]="signUpModel.confirmPassword"
                [disabled]="sendRequestWIP"
                checkItemPatternEx="password"
                (onCheck)="signUpModel.confirmPassword = $event">
      </cs-input>
      <div class="button-container">
        <button [disabled]="sendRequestWIP" class="btn btn-default" (click)="goBack()">
          {{ 'ACCOUNT.BACK' | translate }}
        </button>
        <button [disabled]="sendRequestWIP" class="btn btn-primary" (click)="sendResetPassRequest()">
          {{ 'BUTTON.OK' | translate }}
        </button>
        <span *ngIf="sendRequestWIP" class="spinner spinner-sm"></span>
      </div>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a href="javascript:void(0)" class="nav-link active">{{ 'ACCOUNT.FORGOT_PASSWORD' | translate }}</a>
      </section>
    </nav>
  </div>
