div.container-area {
  margin: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

button.btn-custom-margin,span.custom-margin {
  margin-top: 70px;
}

button.btn-primary.btn-custom-margin{
  margin-left: 170px;
}