cs-input {
  min-width: 480px;
}

div.modal-body {
  min-height: 400px;
}

div.clr-row {
  margin-top: 10px;
}

span.filed-text {
  width: 180px;
  text-align: right;
  margin-right: 10px;
}

a.disabled {
  color: gray;
}

a.disabled:hover {
  cursor: not-allowed;
}

div.log-container {
  max-height: 350px;
  overflow-y: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}
