<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'">
  <div class="modal-title">
    {{job.job_name}}
    <span *ngIf="isLoading" class="spinner spinner-sm"></span>
  </div>
  <div class="modal-body">
    <cs-highlight *ngIf="jobDetail" [language]="'json'" [code]="jobDetail | json"></cs-highlight>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalOpened = false">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>
