<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'" [clrModalClosable]="false"
           [clrModalPreventClose]="true">
  <h3 class="modal-title">{{container.image.imageName}}:{{container.image.imageTag}}</h3>
  <div class="modal-body">
    <lib-input-ex [inputLabel]="'SERVICE.STEP_2_CONTAINER_NAME' | translate"
                  [inputIsRequired]="true"
                  [inputPattern]="patternContainerName"
                  [validatorFns]="[validContainerNameFun]"
                  [inputDefaultValue]="container.name"
                  [validatorMessage]="[
                  {key:'pattern',message:'SERVICE.STEP_2_CONTAINER_NAME_PATTERN_NSG' | translate},
                  {key:'containerNameRepeat',message:'SERVICE.STEP_2_CONTAINER_NAME_REPEAT' | translate}
                  ]"
                  (commitEvent)="container.name = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'SERVICE.STEP_2_WORKING_DIR' | translate"
                  [inputPattern]="patternWorkDir"
                  [inputDefaultValue]="container.workingDir"
                  [inputPlaceholder]="'SERVICE.STEP_2_WORK_DIRECTOR'| translate"
                  (commitEvent)="container.workingDir = $event">
    </lib-input-ex>
    <lib-input-ex [inputType]="2"
                  [inputLabel]="'SERVICE.STEP_2_VOLUME_MOUNTS' | translate"
                  [inputDefaultValue]="getVolumesDescription(0, container)"
                  [inputPlaceholder]="'SERVICE.STEP_2_STORAGE_VOLUME'| translate"
                  (editEvent)="editVolumeMount()">
    </lib-input-ex>
    <div *ngIf="container.volumeMounts.length > 1" class="volume-info-container">
        <span *ngFor="let _ of container.volumeMounts; let i = index">
          <span *ngIf="i > 0">{{getVolumesDescription(i, container)}}</span>
        </span>
    </div>
    <lib-input-ex [inputType]="2"
                  [inputLabel]="'SERVICE.STEP_2_Env' | translate"
                  [inputDefaultValue]="getEnvsDescription()"
                  [inputPlaceholder]="'SERVICE.STEP_2_ENVIRONMENT_VARIABLES'| translate"
                  (editEvent)="editEnvironment()">
    </lib-input-ex>
    <lib-input-array-ex [inputCategory]="'number'"
                        [inputArrayFixed]="fixedContainerPort.get(container)"
                        [inputMin]="1"
                        [inputArrayDefault]="defaultContainerPorts"
                        [inputMax]="65535"
                        [inputPlaceholder]="'[1..65535]'"
                        [validatorFns]="[validContainerPortsFun]"
                        [validatorMessage]="[
                        {key:'containerPortRepeat',message:'SERVICE.STEP_2_CONTAINER_PORT_REPEAT' | translate}
                        ]"
                        [inputLabel]="'SERVICE.STEP_2_CONTAINER_PORT' | translate"
                        (commitEvent)="setContainerPorts($event)">
    </lib-input-array-ex>
    <lib-input-ex [inputLabel]="'SERVICE.STEP_2_COMMAND' | translate"
                  [inputDefaultValue]="container.command"
                  [inputPlaceholder]="'SERVICE.STEP_2_COMMAND'| translate"
                  (commitEvent)="container.command = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="curContainerType === 0"
                  [inputLabel]="'SERVICE.STEP_2_CPU_REQUEST' | translate"
                  [inputPattern]="patternCpuRequest"
                  [inputDefaultValue]="container.cpuRequest"
                  [inputPlaceholder]="'eg. 100m'"
                  [validatorAsyncFn]="checkSetCpuRequestFun"
                  [validatorFns]="[validContainerCpuFun]"
                  [validatorMessage]="[
                  {key:'beyondMaxLimit',message: 'SERVICE.STEP_2_BEYOND_MAX_VALUE' | translate},
                  {key:'resourceRequestInvalid',message: 'SERVICE.STEP_2_CONTAINER_REQUEST_ERROR' | translate}
                  ]"
                  (commitEvent)="container.cpuRequest = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="curContainerType === 0"
                  [inputLabel]="'SERVICE.STEP_2_MEMORY_REQUEST' | translate"
                  [inputPattern]="patternMemRequest"
                  [validatorAsyncFn]="checkSetMemRequestFun"
                  [validatorFns]="[validContainerMemFun]"
                  [inputDefaultValue]="container.memRequest"
                  [inputPlaceholder]="'eg. 100Mi'"
                  [validatorMessage]="[
                  {key:'beyondMaxLimit',message: 'SERVICE.STEP_2_BEYOND_MAX_VALUE' | translate},
                  {key:'resourceRequestInvalid',message: 'SERVICE.STEP_2_CONTAINER_REQUEST_ERROR' | translate}
                  ]"
                  (commitEvent)="container.memRequest = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="curContainerType === 0"
                  [inputLabel]="'SERVICE.STEP_2_CPU_LIMIT' | translate"
                  [inputDefaultValue]="container.cpuLimit"
                  [inputPlaceholder]="'eg. 1024m'"
                  [validatorFns]="[validContainerCpuLimitFun]"
                  [validatorMessage]="[
                  {key:'resourceRequestInvalid',message: 'SERVICE.STEP_2_CONTAINER_REQUEST_ERROR' | translate}
                  ]"
                  [inputPattern]="patternCpuLimit"
                  (commitEvent)="container.cpuLimit = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="curContainerType === 0"
                  [inputLabel]="'SERVICE.STEP_2_MEMORY_LIMIT' | translate"
                  [inputDefaultValue]="container.memLimit"
                  [validatorFns]="[validContainerMemLimitFun]"
                  [validatorMessage]="[
                  {key:'resourceRequestInvalid',message: 'SERVICE.STEP_2_CONTAINER_REQUEST_ERROR' | translate}
                  ]"
                  [inputPattern]="patternMemLimit"
                  [inputPlaceholder]="'eg. 1024Mi'"
                  (commitEvent)="container.memLimit = $event">
    </lib-input-ex>
    <lib-input-ex *ngIf="curContainerType === 0"
                  [inputLabel]="'SERVICE.STEP_2_GPU_LIMIT' | translate"
                  [inputCategory]="2"
                  [validatorFns]="[validContainerGpuLimitFun]"
                  [validatorMessage]="[
                  {key:'resourceRequestInvalid',
                  message: 'SERVICE.STEP_2_CONTAINER_GPU_LIMIT_ERROR' | translate}
                  ]"
                  [inputDefaultValue]="container.gpuLimitValue"
                  (commitEvent)="container.gpuLimitValue = $event">
    </lib-input-ex>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modalOpened = false">{{"BUTTON.CLOSE" | translate}}</button>
  </div>
</clr-modal>

<app-environment-value *ngIf="showEnvironmentValue"
                       [isProvideBindConfigMap]="true"
                       [projectName]="step2Data.projectName"
                       [inputEnvsData]="getDefaultEnvsData()"
                       [inputFixedKeyList]="getDefaultEnvsFixedData()"
                       (closeNotification)="showEnvironmentValue = false"
                       (confirm)="setEnvironment($event)">
</app-environment-value>






