<h1>{{"HELM.REPO_LIST_TITLE" | translate}}</h1>
<clr-datagrid [clrDgLoading]="loadingWIP">
    <clr-dg-column>{{ 'HELM.REPO_LIST_NAME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'HELM.REPO_LIST_URL' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'HELM.REPO_LIST_OPERATION' | translate }}</clr-dg-column>
    <clr-dg-row *clrDgItems="let repo of repoList">
        <clr-dg-cell>{{repo.name}}</clr-dg-cell>
        <clr-dg-cell>{{repo.url}}</clr-dg-cell>
        <clr-dg-cell>
            <a href="javascript:void(0)" (click)="showRepoDetail(repo)">
                <clr-icon shape="info-standard"></clr-icon>
            </a>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        {{"DATAGRID.TOTAL" | translate}}{{repoList.length}}{{"DATAGRID.ITEMS" | translate}}
        <clr-dg-pagination #pagination
                           [clrDgTotalItems]="repoList.length"
                           [clrDgPage]="1"
                           [clrDgPageSize]="repoList.length">
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
