<div class="scale-container">
  <status *ngIf="service" [service]="service"></status>
  <div class="utilization-container" #alertView>
    <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_CPU_UTILIZATION_CURRENT'| translate"
              [inputLabelMinWidth]="230"
              [disabled]="true"
              [simpleFiled]="'50%'">
    </cs-input>
    <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_CPU_UTILIZATION_QUALIFIED'| translate"
              [inputLabelMinWidth]="230"
              [disabled]="isActionInWIP"
              [simpleFiled]="'55%'">
    </cs-input>
  </div>
  <div class="scale-line">
    <input [disabled]="isActionInWIP" title="" type="radio" id="manually" name="scaleMethod" [checked]="scaleModule == 0"
           (change)="setScaleMethod(0)">
    <label class="margin-left-10" for="manually">
      {{"SERVICE.SERVICE_CONTROL_MANUALLY_SCALE"|translate}}
    </label>
    <span *ngIf="scaleModule == 0" class="margin-left-20">
      {{"SERVICE.SERVICE_CONTROL_INSTANCE_NUMBER"|translate}}:
    </span>
    <cs-dropdown *ngIf="scaleModule == 0"
                 style="display: inline-block;"
                 class="margin-left-10"
                 [dropdownDefaultText]="scaleNum.toString()"
                 [dropdownDisabled]="isActionInWIP"
                 [dropdownWidth]="100"
                 [dropdownHideSearch]="true"
                 [dropdownList]="dropDownListNum"
                 (onChange)="scaleNum = $event;actionEnabled()">
    </cs-dropdown>
  </div>
  <div class="scale-line">
    <input title="" type="radio" id="auto" name="scaleMethod" [checked]="scaleModule == 1"
           (change)="setScaleMethod(1)">
    <label class="margin-left-10 disabled" for="auto">
      {{"SERVICE.SERVICE_CONTROL_AUTO_SCALE"|translate}}
    </label>
    <div class="auto-scale-container" *ngIf="scaleModule == 1">
      <div *ngFor="let hpa of autoScaleConfig;">
        <div class="auto-scale-line-container">
          <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_NAME'| translate"
                    [inputLabelMinWidth]="100"
                    [inputIsRequired]="true"
                    [simpleFiled]="hpa.hpa_name"
                    [disabled]="isActionInWIP || hpa.isEdit"
                    (onCheck)="hpa.hpa_name = $event">
          </cs-input>
          <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_TARGET'| translate"
                    [inputLabelMinWidth]="170"
                    [simpleFiled]="hpa.cpu_percent"
                    [inputFiledType]="1"
                    [disabled]="isActionInWIP"
                    (onCheck)="hpa.cpu_percent = $event">
          </cs-input>
        </div>
        <div class="auto-scale-line-container">
          <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_MIN_REPLICAS'| translate"
                    [inputLabelMinWidth]="100"
                    [simpleFiled]="hpa.min_pod"
                    [inputMin]="1"
                    [inputMax]="99"
                    [inputFiledType]="1"
                    [disabled]="isActionInWIP"
                    (onCheck)="hpa.min_pod = $event">
          </cs-input>
          <cs-input [inputLabel]="'SERVICE.SERVICE_CONTROL_MAX_REPLICAS'| translate"
                    [inputLabelMinWidth]="170"
                    [inputFiledType]="1"
                    [inputMin]="1"
                    [inputMax]="99"
                    [disabled]="isActionInWIP"
                    [simpleFiled]="hpa.max_pod"
                    (onCheck)="hpa.max_pod = $event">
          </cs-input>
        </div>
        <div class="auto-scale-delete-container" *ngIf="hpa.isEdit"
             [class.only-delete]="hpa.hpa_status == 1">
          <clr-alert [clrAlertType]="'alert-warning'"
                     [clrAlertClosable]="false"
                     [hidden]="hpa.hpa_status == 1">
            <div class="alert-item">
              <span class="alert-text">
                {{"SERVICE.SERVICE_CONTROL_HPA_DESCRIPTION" | translate}}
              </span>
            </div>
          </clr-alert>
          <a href="javascript:void(0)" [class.disabled]="isActionInWIP">
            <clr-icon shape="trash" (click)="deleteOneHpa(hpa)"></clr-icon>
          </a>
        </div>
      </div>
      <div class="auto-scale-plus-container">
        <clr-icon [class.disabled]="autoScaleConfig.length > 0"
                  (click)="addOneHpa()"
                  class="dynamic-icon" shape="plus"></clr-icon>
        <span>{{"SERVICE.SERVICE_CONTROL_HPA_ADD" | translate}}</span>
      </div>
    </div>
  </div>
</div>