<span class="job-title">{{"JobGuide.Title" | translate}}:</span>
<div class="create-job-method">
  <input title=""
         type="radio"
         id="fromNew"
         name="buildMethod"
         checked
         (click)="setCreateMethod(0)">
  <label for="fromNew">{{"JobGuide.New"|translate}}</label>
</div>
<div class="create-job-method">
  <input title=""
         type="radio"
         name="buildMethod"
         id="fromExistJobs"
         [disabled]="paginationJobs.list.length === 0"
         (click)="setCreateMethod(1)">
  <label for="fromExistJobs">
    {{"JobGuide.FromExists"|translate}}
  </label>
</div>

<div class="card-container-job">
  <div class="card"
       *ngFor="let job of paginationJobs"
       [class.selected]="selectJobId === job.jobId"
       [class.disabled]="createMethod === 0"
       (click)="setSelectedJob(job)">
    <div class="card-header">
      {{job.jobName}}
    </div>
    <div class="card-block">
      <div class="card-text" style="display: flex; flex-direction: column">
        <span>
          <span class="card-title-job">{{"JobGuide.ProjectName"|translate}}:</span>
          {{job.jobProjectName}}
        </span>
        <span>
          <span class="card-title-job">{{"JobGuide.CreationTime"|translate}}:</span>
          {{job.jobCreationTime | date: 'short' }}
        </span>
        <span>
          <span class="card-title-job">{{"JobGuide.OwnerName"|translate}}:</span>
          {{job.jobOwnerName}}
        </span>
        <span>
          <span class="card-title-job">{{"JobGuide.Comment"|translate}}:</span>
          {{job.jobComment}}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="build-btn-container">
  <button class="btn btn-default cancel-build" (click)="cancel()">
    {{"BUTTON.CANCEL"|translate}}
  </button>
  <button class="btn btn-primary" (click)="confirm()">
    {{"BUTTON.CREATE"|translate}}
  </button>
  <span *ngIf="isActionWip" class="spinner spinner-sm"></span>
</div>


