.tag {
  font-size: 14px !important;
  padding: 0px !important;
}

.h1-top a {
  color: #1f2021;
}

pre {
  font-size: 14px !important;
  line-height: 1.4 !important;
  padding-bottom: 0px !important;
}