<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ 'IMAGE.DETAIL_TITLE' | translate }}:{{curImage.image_name}}</h3>
  <div class="modal-body">
    <clr-datagrid [clrDgLoading]="loadingWIP" style="min-width: 100%">
      <clr-dg-column>{{ 'IMAGE.COL_TAG' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'IMAGE.COL_AUTHOR' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'IMAGE.COL_CREATION_TIME' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'IMAGE.COL_SIZE' | translate }}</clr-dg-column>
      <clr-dg-column>{{ 'IMAGE.COL_OPERATION' | translate }}</clr-dg-column>
      <clr-dg-row *clrDgItems="let imageDetail of imageDetailList; let i = index;">
        <clr-dg-cell>{{imageDetail.image_tag}}</clr-dg-cell>
        <clr-dg-cell>{{imageDetail.image_detail.author}}</clr-dg-cell>
        <clr-dg-cell>{{imageDetail.image_detail.created | date:'short'}}</clr-dg-cell>
        <clr-dg-cell>{{imageDetail.image_size_number}}{{imageDetail.image_size_unit}}</clr-dg-cell>
        <clr-dg-cell>
          {{$index}}
          <a href="javascript:void(0)">
            <clr-icon *ngIf="!showDeleteAlert[i]"
                      (click)="showDeleteAlert[i] = true"
                      title="{{'IMAGE.DELETE_IMAGE_ITEM' | translate}}"
                      shape="trash">
            </clr-icon>
            <clr-icon *ngIf="showDeleteAlert[i]" (click)="showDeleteAlert[i] = false" shape="times"></clr-icon>          
            <clr-icon *ngIf="showDeleteAlert[i]" (click)="deleteTag(imageDetail.image_tag)" shape="check"></clr-icon>
          </a>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
        <clr-dg-pagination #pagination [clrDgTotalItems]="imageDetailList.length" [clrDgPageSize]="imageDetailPageSize">
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</clr-modal>