<div class="card">
  <div class="card-header" (click)="toggle()">
    <clr-icon shape="caret down" [@rotateNega90]="card.cardStatus ? 'open' : 'closed'"></clr-icon>
    Api Server
  </div>

  <div class="card-block" [@cardSlide]="card.cardStatus ? 'open' : 'closed'">

    <div class="clr-form clr-form-compact" *ngIf="card.showContent">

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.HOSTNAME.NAME' | translate" [inputIsRequired]="true"
            [inputLabelWidth]='170' [inputDefaultValue]="apiserver.hostname" [inputPlaceholder]="'eg: reg.domain.com'"
            [inputWidth]="'100%'" (editEvent)="onEdit(0)" (commitEvent)="apiserver.hostname = $event"
            class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[0]">
          {{ 'CONFIGURATIONS.API_SERVER.HOSTNAME.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.API_SERVER_PORT.NAME' | translate"
            [inputIsRequired]="true" [inputCategory]="2" [inputLabelWidth]='170'
            [inputDefaultValue]="apiserver.apiServerPort" [inputMin]="1" [inputMax]="65535"
            [inputPlaceholder]="'[1..65535]'" [inputWidth]="'100%'" (editEvent)="onEdit(1)"
            (commitEvent)="apiserver.apiServerPort = $event" class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[1]">
          {{ 'CONFIGURATIONS.API_SERVER.API_SERVER_PORT.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.KUBE_HTTP_SCHEME.NAME' | translate"
            [inputIsRequired]="true" [inputLabelWidth]='170' [inputDefaultValue]="apiserver.kubeHttpScheme"
            [inputPlaceholder]="'http/https'" [inputPattern]="patternHttpScheme"
            [validatorMessage]="[{key:'pattern',message:'receive http/https ONLY'}]" [inputWidth]="'100%'"
            (editEvent)="onEdit(2)" (commitEvent)="apiserver.kubeHttpScheme = $event" class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[2]">
          {{ 'CONFIGURATIONS.API_SERVER.KUBE_HTTP_SCHEME.TIPS' | translate }}
        </clr-control-helper>
      </div>

    <!-- <div class="config-line">
      <label class="input-ex-label ng-star-inserted" style="min-width: 170px; text-align: right;"> K8s网络请求方案:</label>
      <div class="clr-control-container clr-control-inline">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="clr-radio-wrapper">
          <input type="radio" id="vertical-radio1" name="radio-full" value="option1" class="clr-radio" checked>
          <label for="vertical-radio1" class="clr-control-label">http</label>
        </div>
        <div class="clr-radio-wrapper">
          <input type="radio" id="vertical-radio2" name="radio-full" value="option2" class="clr-radio">
          <label for="vertical-radio2" class="clr-control-label">https</label>
        </div>
      </div>
    </div> -->

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.KUBE_MASTER_IP.NAME' | translate"
            [inputIsRequired]="true" [inputLabelWidth]='170' [inputDefaultValue]="apiserver.kubeMasterIp"
            [inputPlaceholder]="'your ip address'" [inputWidth]="'100%'" (editEvent)="onEdit(3)"
            (commitEvent)="apiserver.kubeMasterIp = $event" class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[3]">
          {{ 'CONFIGURATIONS.API_SERVER.KUBE_MASTER_IP.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.KUBE_MASTER_PORT.NAME' | translate"
            [inputIsRequired]="true" [inputCategory]="2" [inputLabelWidth]='170'
            [inputDefaultValue]="apiserver.kubeMasterPort" [inputMin]="1" [inputMax]="65535"
            [inputPlaceholder]="'[1..65535]'" [inputWidth]="'100%'" (editEvent)="onEdit(4)"
            (commitEvent)="apiserver.kubeMasterPort = $event" class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[4]">
          {{ 'CONFIGURATIONS.API_SERVER.KUBE_MASTER_PORT.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.REGISTRY_IP.NAME' | translate" [inputIsRequired]="true"
            [inputLabelWidth]='170' [inputDefaultValue]="apiserver.registryIp" [inputPlaceholder]="'your ip address'"
            [inputWidth]="'100%'" (editEvent)="onEdit(5)" (commitEvent)="apiserver.registryIp = $event"
            class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[5]">
          {{ 'CONFIGURATIONS.API_SERVER.REGISTRY_IP.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.REGISTRY_PORT.NAME' | translate"
            [inputIsRequired]="true" [inputCategory]="2" [inputLabelWidth]='170'
            [inputDefaultValue]="apiserver.registryPort" [inputMin]="1" [inputMax]="65535"
            [inputPlaceholder]="'[1..65535]'" [inputWidth]="'100%'" (editEvent)="onEdit(6)"
            (commitEvent)="apiserver.registryPort = $event" class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[6]">

          {{ 'CONFIGURATIONS.API_SERVER.REGISTRY_PORT.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.API_SERVER.IMAGE_BASELINE_TIME.NAME' | translate"
            [inputLabelWidth]='170' [inputDefaultValue]="apiserver.imageBaselineTime"
            [inputPlaceholder]="'datetime: yyyy-mm-dd HH:mm:ss'" [inputWidth]="'100%'" (editEvent)="onEdit(7)"
            (commitEvent)="apiserver.imageBaselineTime = $event" class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[7]">
          {{ 'CONFIGURATIONS.API_SERVER.IMAGE_BASELINE_TIME.TIPS' | translate }}
        </clr-control-helper>
      </div>

    </div>
  </div>
</div>