.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-item {
  height: 150px;
  width: 300px;
  padding: 15px 20px;
  margin: 15px 0;
  flex-direction: column;
}

.split-line {
  border-right: 1px solid #ccc;
}

.circle {
  border: 2px solid #0079b8;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: flex;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.label {
  width: 150px;
  margin-bottom: 5px;
  font-size: 0.5rem;
}