<h3 style="margin-left: 20px;">System Info:</h3>
<div class="clr-row clr-justify-content-center">
  <div class="resource-item center split-line">
    <div class="circle">
      <clr-icon shape="cpu"
                size="40"
                class="is-highlight"></clr-icon>
    </div>
    <label>CPU: 0%</label>
  </div>
  <div class="resource-item center split-line">
    <div class="circle">
      <clr-icon shape="memory"
                size="40"
                class="is-error"></clr-icon>
    </div>
    <label>Memory used: 0%</label>
    <label>Memory left: 0GB</label>
  </div>
  <div class="resource-item center">
    <div class="circle">
      <clr-icon shape="hard-drive"
                size="40"
                class="is-highlight"></clr-icon>
    </div>
    <label>Storage used: 0GB</label>
    <label>Storage left: 0GB</label>
  </div>
</div>

<div class="btn-group btn-primary clr-row clr-justify-content-end"
     style="margin-right: 10px;">
  <button class="btn btn-danger"
          (click)="confirm('rb')">
    <clr-icon shape="replay-all"></clr-icon>
    restart board
  </button>
  <button class="btn btn-danger"
          (click)="confirm('sb')">
    <clr-icon shape="power"></clr-icon>
    stop board
  </button>
</div>

<h3 style="margin-left: 20px;">Container Info: {{componentList ? componentList.length : 0}} Containers are Running</h3>
<div class="card-columns">
  <div class="card clickable"
       *ngFor="let item of componentList">
    <div class="card-block"
         (click)="getDetail(item)">
      <h3 class="card-title">{{item.name}}</h3>
      <p class="card-text">
        container id: {{item.containerId}}
      </p>
      <p class="card-text">
        created: {{item.created}}
      </p>
      <p class="card-text">
        status: {{item.status}}
      </p>
      <p class="card-text">
        ports: {{item.ports}}
      </p>
      <p class="card-text">
        cpu Rate: {{item.cpuRate}}
      </p>
      <p class="card-text">
        memory Rate: {{item.memRate}}%
      </p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary"
              (click)="getDetail(item)">detail</button>
      <button class="btn btn-warning-outline"
              (click)="confirm('rc', item.containerId)">restart</button>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="showDetail"
           [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">{{modal.name}}</h3>
  <div class="modal-body">
    <div>container id: {{modal.containerId}}</div>
    <div>image: {{modal.image}}</div>
    <div>created: {{modal.created}}</div>
    <div>status: {{modal.status}}</div>
    <div>ports: {{modal.ports}}</div>
    <div>cpu Rate: {{modal.cpuRate}}</div>
    <div>
      memory Usage: {{modal.memUsage}}
      <div class="progress-static labeled">
        <clr-progress-bar [clrValue]="modal.memRate"
                          [clrSuccess]="modal.memRate <= 75"
                          [clrDanger]="modal.memRate > 75"></clr-progress-bar>
        <!-- <div class="progress-meter" data-value="parseInt(modal.memRate)" data-displayval="modal.memRate"></div> -->
        <span>{{modal.memRate}}%</span>
      </div>
    </div>
    <div>network I/O: {{modal.netIO}}</div>
    <div>block I/O: {{modal.blockIO}}</div>
    <div>pid: {{modal.pid}}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning-outline"
            (click)="showDetail = false">restart</button>
    <button class="btn btn-danger"
            (click)="showDetail = false">Stop</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="confirmModal"
           [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">{{confirmType.title}}</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col clr-align-self-center"
           style="text-align: center;">
        <clr-icon shape="warning-standard"
                  class="is-solid is-warning"
                  size="36"></clr-icon>
        <span>{{confirmType.comment}} {{confirmType.containerId}}</span>
      </div>
    </div>
    <form clrForm>
      <clr-input-container>
        <label>Account 账户</label>
        <input clrInput
               required
               [(ngModel)]="user.username"
               #getSSHUsername="ngModel" />
        <clr-control-error>
          This field is required!<br>必填项！
        </clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label>Password 密码</label>
        <input clrPassword
               required
               [(ngModel)]="user.password"
               name="sshPassword"
               #getSSHPassword="ngModel" />
        <clr-control-error *clrIfError="'required'">
          This field is required!<br>必填项！
        </clr-control-error>
      </clr-password-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger"
            (click)="boardControl(confirmType.type, confirmType.containerId)">{{confirmType.button}}</button>
  </div>
</clr-modal>