<service-detail></service-detail>
<service-control *ngIf="isServiceControlOpen"
                 [(isOpen)]="isServiceControlOpen"
                 [service]="serviceControlData">
</service-control>
<service-create-yaml
  *ngIf="isShowServiceCreateYaml"
  (onCancelEvent)="cancelCreateService()">
</service-create-yaml>
<div *ngIf="isNormalStatus">
  <div class="row flex-items-xs-right">
    <cs-guide *ngIf="isFirstLogin && guideStep == 4"
              [description]="'SERVICE.GUIDE_CREATE_SERVICE'"
              [show]="isFirstLogin && guideStep == 4"
              [position]="'left-middle'"
              (onClose)="setGuideNoneStep()"
              (onNextStep)="guideNextStep(4)">
    </cs-guide>
    <button class="btn btn-primary"
            (click)="isBuildServiceWIP = true">
      {{ 'SERVICE.CREATE_SERVICE' | translate }}
    </button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <clr-datagrid (clrDgRefresh)="retrieve()" [clrDgLoading]="isInLoading">
        <clr-dg-column>{{ 'SERVICE.SERVICE_NAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'SERVICE.PROJECT_NAME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'SERVICE.OWNER' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'SERVICE.CREATE_TIME' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'SERVICE.PUBLIC' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'SERVICE.STATUS' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'SERVICE.OPERATION' | translate }}</clr-dg-column>
        <clr-dg-row *ngFor="let service of services">
          <clr-dg-cell>{{service.service_name}}</clr-dg-cell>
          <clr-dg-cell>{{service.service_project_name}}</clr-dg-cell>
          <clr-dg-cell>{{service.service_owner_name}}</clr-dg-cell>
          <clr-dg-cell>{{service.service_creation_time | date: 'short'}}</clr-dg-cell>
          <clr-dg-cell>
            <input type="checkbox"
                   [id]="service.service_name"
                   [checked]="service.service_public === 1"
                   (click)="toggleServicePublic(service, $event)">
            <label [for]="service.service_name"></label>
          </clr-dg-cell>
          <clr-dg-cell>
          <span [ngClass]="getStatusClass(service.service_status)">
            {{ getServiceStatus(service.service_status) | translate }}
          </span>
          </clr-dg-cell>
          <clr-dg-cell>
            <span *ngIf="isActionWIP.get(service.service_id)" class="spinner spinner-sm"></span>
            <a href="javascript:void(0)"
               *ngIf="isServiceInStoppedStatus(service)">
              <clr-icon shape="play"
                        class="action"
                        (click)="toggleService(service)"
                        [ngClass]="{'disabled':!isActionEnable.get(service.service_id)}">
              </clr-icon>
            </a>
            <a href="javascript:void(0)"
               *ngIf="isServiceCanChangePauseStatus(service)">
              <clr-icon shape="pause"
                        class="action"
                        (click)="toggleService(service)"
                        [ngClass]="{'disabled':!isActionEnable.get(service.service_id)}">
              </clr-icon>
            </a>
            <a href="javascript:void(0)">
              <clr-icon shape="trash"
                        class="action"
                        (click)="deleteService(service)"
                        [ngClass]="{'disabled':isServiceCanDeleteStatus(service)}">
              </clr-icon>
            </a>
            <a href="javascript:void(0)"
               (click)="openServiceDetail(service)">
              <clr-icon shape="info-standard"></clr-icon>
            </a>
            <a href="javascript:void(0)">
              <clr-icon shape="wrench"
                        class="action"
                        (click)="openServiceControl(service)"
                        [ngClass]="{'disabled':!isActionEnable.get(service.service_id)}">
              </clr-icon>
            </a>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
          <clr-dg-pagination #pagination [clrDgTotalItems]="totalRecordCount" [(clrDgPage)]="pageIndex"
                             [clrDgPageSize]="pageSize"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>

<div *ngIf="isBuildServiceWIP && !isShowServiceCreateYaml" class="build-service-container">
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromBase"
           name="buildMethod"
           (click)="setCreateServiceMethod(1)">
    <label for="fromBase" class="build-service-text">
      {{"SERVICE.STEP_0_CREATE_WIZARD" | translate}}
    </label>
  </div>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromYamlFile"
           name="buildMethod"
           (click)="setCreateServiceMethod(2)">
    <label for="fromYamlFile" class="build-service-text">
      {{"SERVICE.STEP_0_CREATE_YAML" | translate}}
    </label>
  </div>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromDevOps"
           [disabled]="true"
           name="buildMethod"
           (click)="setCreateServiceMethod(3)">
    <label for="fromDevOps" class="build-service-text-disabled">
      {{"SERVICE.STEP_0_CREATE_DEVOPS" | translate}}
    </label>
  </div>
  <div class="build-btn-container">
    <button class="btn btn-default cancel-build"
            (click)="isBuildServiceWIP = false">
      {{"BUTTON.CANCEL"|translate}}
    </button>
    <button class="btn btn-primary"
            [disabled]="createServiceMethod == 0"
            (click)="createService()">
      {{"BUTTON.CREATE"|translate}}
    </button>
  </div>
</div>