fieldset.fieldSet-default {
  margin: 0 2px;
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 200px;
}

div.service-detail-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

div.service-detail-line-container {
  display: flex;
  height: 30px;
}

span.service-detail-text {
  width: 180px;
  text-align: right;
  line-height: 30px;
}

span.service-detail-service-name {
  line-height: 30px;
  margin-left: 10px;
  width: 100%;
}

a.service-detail-link-text {
  margin-left: 10px;
  line-height: 30px;
  width: 100%;
  font-style: italic;
}

textarea.area-detail {
  padding: 0;
  width: 100%;
  height: 100%;
  color: black;
  margin-top: 10px;
  font-size: 11px;
}