clr-icon.delete.disabled {
  color: silver;
}

clr-icon.delete.disabled:hover {
  cursor: not-allowed;
}

span.warning{
  color: greenyellow;
}

span.stopped{
  color: gray;
}

span.running{
  color: green;
}