<app-service-create-yaml *ngIf="isShowServiceCreateYaml"
                         (cancelEvent)="cancelCreateService()">
</app-service-create-yaml>
<div *ngIf="isNormalStatus">
  <div class="clr-row flex-items-xs-right">
    <app-cs-guide *ngIf="isFirstLogin && guideStep == 4"
                  [description]="'SERVICE.GUIDE_CREATE_SERVICE'"
                  [show]="isFirstLogin && guideStep == 4"
                  [position]="'left-middle'"
                  (closeGuide)="setGuideNoneStep()"
                  (nextStep)="guideNextStep(4)">
    </app-cs-guide>
    <button class="btn btn-primary"
            (click)="isBuildServiceWIP = true">
      {{ 'SERVICE.CREATE_SERVICE' | translate }}
    </button>
  </div>
  <clr-datagrid (clrDgRefresh)="retrieve(false, $event)" [clrDgLoading]="isInLoading">
    <clr-dg-column [clrDgField]="'NAME'"
                   [clrDgSortOrder]="descSort">
      <clr-dg-filter [hidden]="true"></clr-dg-filter>
      {{ 'SERVICE.SERVICE_NAME' | translate }}
    </clr-dg-column>
    <clr-dg-column>{{ 'SERVICE.PROJECT_NAME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'SERVICE.OWNER' | translate }}</clr-dg-column>
    <clr-dg-column [clrDgField]="'CREATION_TIME'"
                   [clrDgSortOrder]="descSort">
      <clr-dg-filter [hidden]="true"></clr-dg-filter>
      {{ 'SERVICE.CREATE_TIME' | translate }}
    </clr-dg-column>
    <clr-dg-column>{{ 'SERVICE.PUBLIC' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'SERVICE.STATUS' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'SERVICE.OPERATION' | translate }}</clr-dg-column>
    <clr-dg-row *ngFor="let service of services">
      <clr-dg-cell>{{service.serviceName}}</clr-dg-cell>
      <clr-dg-cell>{{service.serviceProjectName}}</clr-dg-cell>
      <clr-dg-cell>{{service.serviceOwnerName}}</clr-dg-cell>
      <clr-dg-cell>{{service.serviceCreationTime | date: 'short'}}</clr-dg-cell>
      <clr-dg-cell>
        <div class="tooltip tooltip-right">
          <input type="checkbox"
                 title=""
                 [checked]="service.servicePublic === 1"
                 [disabled]="!isSystemAdminOrOwner(service)"
                 (click)="toggleServicePublic(service, $event)">
          <span [hidden]="isSystemAdminOrOwner(service)" class="tooltip-content">
                {{'ERROR.INSUFFICIENT_PRIVILEGE' | translate}}
              </span>
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
          <span [ngClass]="getStatusClass(service.serviceStatus)">
            {{ getServiceStatus(service.serviceStatus) | translate }}
          </span>
      </clr-dg-cell>
      <clr-dg-cell>
        <span *ngIf="isActionWIP.get(service.serviceId)" class="spinner spinner-sm"></span>
        <a href="javascript:void(0)">
          <clr-tooltip>
            <clr-icon *ngIf="isServiceCanPlay(service)"
                      shape="play"
                      class="action"
                      clrTooltipTrigger
                      (click)="toggleService(service)"
                      [ngClass]="{'disabled':isServiceToggleDisabled(service)}">
            </clr-icon>
            <clr-icon *ngIf="isServiceCanPause(service)"
                      shape="pause"
                      class="action"
                      clrTooltipTrigger
                      (click)="toggleService(service)"
                      [ngClass]="{'disabled':isServiceToggleDisabled(service)}">
            </clr-icon>
            <clr-tooltip-content [hidden]="!isServiceToggleDisabled(service)"
                                 [clrSize]="'md'" [clrPosition]="'left'">
              {{serviceToggleTipMessage(service) | translate}}
            </clr-tooltip-content>
          </clr-tooltip>
        </a>
        <a href="javascript:void(0)">
          <clr-tooltip>
            <clr-icon shape="trash"
                      class="action"
                      clrTooltipTrigger
                      (click)="deleteService(service)"
                      [ngClass]="{'disabled':isDeleteDisable(service)}">
            </clr-icon>
            <clr-tooltip-content [hidden]="!isDeleteDisable(service)"
                                 [clrSize]="'md'" [clrPosition]="'left'">
              {{serviceDeleteTipMessage(service) | translate}}
            </clr-tooltip-content>
          </clr-tooltip>
        </a>
        <a href="javascript:void(0)" (click)="openServiceDetail(service)">
          <clr-icon shape="info-standard"
                    class="action"
                    [ngClass]="{'disabled':service.serviceStatus == 2}">
          </clr-icon>
        </a>
        <a href="javascript:void(0)">
          <clr-tooltip>
            <clr-icon shape="wrench"
                      class="action"
                      clrTooltipTrigger
                      (click)="openServiceControl(service)"
                      [ngClass]="{'disabled':isUpdateDisable(service)}">
            </clr-icon>
            <clr-tooltip-content [hidden]="!isUpdateDisable(service)"
                                 [clrSize]="'md'" [clrPosition]="'left'">
              {{serviceUpdateTipMessage(service) | translate}}
            </clr-tooltip-content>
          </clr-tooltip>
        </a>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
      <clr-dg-pagination #pagination [clrDgTotalItems]="totalRecordCount" [(clrDgPage)]="pageIndex"
                         [clrDgPageSize]="pageSize"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<div *ngIf="isBuildServiceWIP && !isShowServiceCreateYaml" class="build-service-container">
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromBase"
           name="buildMethod"
           (click)="setCreateServiceMethod(1)">
    <label for="fromBase" class="build-service-text">
      {{"SERVICE.STEP_0_CREATE_WIZARD" | translate}}
    </label>
  </div>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromYamlFile"
           name="buildMethod"
           (click)="setCreateServiceMethod(2)">
    <label for="fromYamlFile" class="build-service-text">
      {{"SERVICE.STEP_0_CREATE_YAML" | translate}}
    </label>
  </div>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromDevOps"
           [disabled]="true"
           name="buildMethod"
           (click)="setCreateServiceMethod(3)">
    <label for="fromDevOps" class="build-service-text-disabled">
      {{"SERVICE.STEP_0_CREATE_DEVOPS" | translate}}
    </label>
  </div>
  <div class="build-btn-container">
    <button class="btn btn-default cancel-build"
            (click)="cancelCreateService()">
      {{"BUTTON.CANCEL"|translate}}
    </button>
    <button class="btn btn-primary"
            [disabled]="createServiceMethod == 0"
            (click)="createService()">
      {{"BUTTON.CREATE"|translate}}
    </button>
  </div>
</div>
