<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title">{{ 'NodeControl.Title' | translate }}</h3>
  <div class="modal-body">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>{{'NodeControl.NodeGroupControl' | translate}}</button>
        <clr-tab-content *clrIfActive>
          <app-node-group-control [nodeCurrent]="curNode">
          </app-node-group-control>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{"NodeControl.NodeServiceControl" | translate}}</button>
        <ng-template [(clrIfActive)]="tabServiceControlActive">
          <clr-tab-content>
            <app-node-service-control
              [nodeCurrent]="curNode"
              [(instanceCount)]="serviceInstanceCount">
            </app-node-service-control>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-warning-outline"
            *ngIf="tabServiceControlActive"
            (click)="drainService()"
            [disabled]="btnDrainDisable">
      {{ 'NodeControl.DrainService' | translate }}
    </button>
    <button type="button" class="btn btn-outline" (click)="modalOpened = false">
      {{ 'BUTTON.OK' | translate }}
    </button>
    <span class="spinner spinner-sm" *ngIf="isActionWip"></span>
  </div>
</clr-modal>
