<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title">{{ 'NodeControl.Title' | translate }}</h3>
  <div class="modal-body">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>{{'NodeControl.NodeGroupControl' | translate}}</button>
        <clr-tab-content *clrIfActive>
          <app-node-group-control [nodeCurrent]="curNode">
          </app-node-group-control>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{"NodeControl.NodeServiceControl" | translate}}</button>
        <ng-template [(clrIfActive)]="tabServiceControlActive">
          <clr-tab-content>
            <app-node-service-control
              [nodeCurrent]="curNode"
              (closeEvent)="modalOpened = false"
              [(deletable)]="nodeDeletable"
              [(instanceCount)]="serviceInstanceCount">
            </app-node-service-control>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="modal-footer">
    <a *ngIf="tabServiceControlActive && nodeDeletable && !curNode.isMaster && !curNode.isEdge"
       target="_blank" [href]="adminServerDeleteNodeUrl">
      {{ 'NodeControl.DeleteNode' | translate }}
    </a>
    <clr-tooltip *ngIf="showDeleteNodeTip">
      <a clrTooltipTrigger class="disabled" href="javascript: void(0)">
        {{ 'NodeControl.DeleteNode' | translate }}
      </a>
      <clr-tooltip-content [clrSize]="'md'" [clrPosition]="'left'">
        {{"NodeControl.DeleteNodeTip" | translate}}
      </clr-tooltip-content>
    </clr-tooltip>
    <clr-tooltip *ngIf="tabServiceControlActive && !curNode.isEdge">
      <a href="javascript: void(0)" clrTooltipTrigger>
        <button type="button"
                class="btn btn-warning-outline"
                (click)="drainService()"
                [disabled]="btnDrainDisable">
          {{ 'NodeControl.DrainService' | translate }}
        </button>
      </a>
      <clr-tooltip-content *ngIf="btnDrainDisable" [clrSize]="'md'" [clrPosition]="'left'">
        {{"NodeControl.DrainServiceTip" | translate}}
      </clr-tooltip-content>
    </clr-tooltip>
    <button type="button"
            [disabled]="isActionWip"
            class="btn btn-outline"
            (click)="modalOpened = false">
      {{ 'BUTTON.OK' | translate }}
    </button>
    <span class="spinner spinner-sm" *ngIf="isActionWip"></span>
  </div>
</clr-modal>
