div.control-body {
  display: flex;
  min-height: 200px;
}

div.node-group-list-container {
  flex-basis: 100%;
}

span.comment {
  display: block;
  margin-left: 20px;
}

li.group-list-item {
  line-height: 25px;
  align-items: center;
  margin-bottom: 1px;
}

div.action-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 20px;
  min-height: 60px;
  justify-content: space-around;
}

a.node-control-action.disabled {
  cursor: not-allowed;
  color: silver;
}

clr-icon.action-add {
  transform: rotate(90deg);
  height: 25px;
  width: 25px;
}

clr-icon.action-delete {
  transform: rotate(270deg);
  height: 25px;
  width: 25px;
}

li.group-list-item.active {
  background-color: lightblue;
}

li.group-list-item.active > a{
  color: white;
}

li.group-list-item.disabled:hover {
  cursor: not-allowed;
}

li.group-list-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

li.group-list-item.hidden {
  display: none;
}

span.no-items {
  color: blue;
  margin-left: 20px;
  font-style: italic;
}

ol.node-group-list {
  /*border: solid grey 1px;*/
  border-radius: 5px;
  overflow-y: auto;
  max-height: 200px;
}