<div class="locate-container">
  <app-status *ngIf="service"
              [service]="service"
              (errorEvent)="errorEvent.emit($event)">
  </app-status>
  <lib-dropdown-ex class="locate-dropdown"
                   [dropdownDisabled]="isActionInWIP"
                   [dropdownTip]="dropdownDefaultText | translate"
                   [dropdownMinWidth]="200"
                   [dropdownItems]="nodeSelectorList"
                   (dropdownChangeItem)="setNodeSelector($event)">
  </lib-dropdown-ex>
</div>

