div.setting-container {
  display: flex;
  flex-direction: column;
}

div.setting-line {
  border-bottom: 2px solid darkgrey;
  margin-left: 30px;
  width: 200px;
  margin-top: 10px;
}

div.k8s-proxy-container {
  margin-left: 30px;
  display: flex;
  margin-top: 10px;
}

div.k8s-proxy {
  border: 1px solid silver;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
}

div.k8s-proxy:hover {
  cursor: pointer;
}

div.k8s-proxy.start:hover {
  background-color: #729970;
}

div.k8s-proxy.start.selected {
  color: white;
  background-color: #2e9919;
}

div.k8s-proxy.stop {
  margin-left: 10px;
}

div.k8s-proxy.stop:hover {
  background-color: #ff9764;
}

div.k8s-proxy.stop.selected {
  color: white;
  background-color: #ff551b;
}

span.setting-title {
  margin-top: 30px;
  margin-left: 30px;
}
