<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ 'STORAGE.PV_CREATE' | translate }}</h3>
  <div class="modal-body">
    <div class="pv-section-container"><span>Basic</span></div>
    <div class="dynamic-line-container">
      <lib-input-ex [inputIsRequired]="true"
                    [inputDisabled]="isCreateWip"
                    [validatorAsyncFn]="checkPvNameFun"
                    [inputLabel]="'STORAGE.PV_NAME' | translate"
                    [inputDefaultValue]="newPersistentVolume.name"
                    [inputMaxlength]="50"
                    [inputPattern]="namePattern"
                    [validatorMessage]="[
                    {key: 'pattern', message: 'STORAGE.PV_CREATE_NAME_PATTERN' | translate},
                    {key: 'pvNameExists', message :'STORAGE.PV_NAME_EXIST' | translate}]"
                    (commitEvent)="newPersistentVolume.name = $event">
      </lib-input-ex>
      <lib-input-ex [inputIsRequired]="true"
                    [inputLabel]="'STORAGE.PV_CAPACITY' | translate"
                    [inputPlaceholder]="'eg. 5'"
                    [inputMin]="0.1"
                    [inputCategory]="2"
                    [inputDisabled]="isCreateWip"
                    [inputDefaultValue]="newPersistentVolume.capacity"
                    (commitEvent)="newPersistentVolume.capacity = $event">
      </lib-input-ex>
      (Gi)
    </div>
    <div class="dynamic-line-container">
      <lib-dropdown-ex [dropdownLabel]="'STORAGE.PV_TYPE'|translate"
                       [dropdownDisabled]="isCreateWip"
                       [dropdownItems]="storageTypeList"
                       [dropdownKey]="'name'"
                       [dropdownMinWidth]="260"
                       [dropdownTip]="newPersistentVolume.typeDescription"
                       (dropdownChangeItem)="changeSelectType($event)">
      </lib-dropdown-ex>
    </div>
    <div class="dynamic-line-container">
      <lib-dropdown-ex [dropdownTip]="'STORAGE.PV_CREATE_SELECT_ACCESS_MODE'|translate"
                       [dropdownMinWidth]="260"
                       [dropdownIsRequired]="true"
                       [dropdownDisabled]="isCreateWip"
                       [dropdownItems]="accessModeList"
                       [dropdownLabel]="'STORAGE.PV_ACCESS_MODES'|translate"
                       (dropdownChangeItem)="changeAccessMode($event)">
      </lib-dropdown-ex>
      <label *ngIf="newPersistentVolume.accessMode =='ReadOnlyMany'" class="alert warning warning-info">
        {{"STORAGE.PV_WARNING_READ_ONLY_MANY" | translate}}
      </label>
      <label *ngIf="newPersistentVolume.accessMode =='ReadWriteMany'" class="alert warning warning-info">
        {{"STORAGE.PV_WARNING_READ_WRITE_MANY" | translate}}
      </label>
    </div>
    <div class="dynamic-line-container">
      <lib-dropdown-ex [dropdownTip]="'STORAGE.PV_CREATE_SELECT_RECLAIM'|translate"
                       [dropdownLabel]="'STORAGE.PV_RECLAIM' | translate"
                       [dropdownIsRequired]="true"
                       [dropdownDisabled]="isCreateWip"
                       [dropdownMinWidth]="260"
                       [dropdownItems]="reclaimModeList"
                       (dropdownChangeItem)="newPersistentVolume.reclaim = $event">
      </lib-dropdown-ex>
      <label *ngIf="newPersistentVolume.reclaim =='Recycle' || newPersistentVolume.reclaim =='Delete'"
             class="alert warning warning-info">
        {{"STORAGE.PV_WARNING_RECLAIM" | translate}}
      </label>
    </div>
    <div class="pv-section-container"><span>Advanced</span></div>
    <div [ngSwitch]="newPersistentVolume.typeDescription">
      <ng-container *ngSwitchCase="'NFS'">
        <div class="dynamic-line-container">
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_NFS_SERVER' | translate"
                        [inputDefaultValue]="nfsPersistentVolume.options.server"
                        (commitEvent)="nfsPersistentVolume.options.server = $event">
          </lib-input-ex>
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_NFS_PATH' | translate"
                        [inputDefaultValue]="nfsPersistentVolume.options.path"
                        (commitEvent)="nfsPersistentVolume.options.path = $event">
          </lib-input-ex>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'RBD'">
        <div class="dynamic-line-container">
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_USER' | translate"
                        [inputDefaultValue]="rbdPersistentVolume.options.user"
                        (commitEvent)="rbdPersistentVolume.options.user = $event">
          </lib-input-ex>
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_KEYRING' | translate"
                        [inputPattern]="patternKeyring"
                        [inputDefaultValue]="rbdPersistentVolume.options.keyring"
                        (commitEvent)="rbdPersistentVolume.options.keyring = $event">
          </lib-input-ex>
        </div>
        <div class="dynamic-line-container">
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_POOL' | translate"
                        [inputDefaultValue]="rbdPersistentVolume.options.pool"
                        (commitEvent)="rbdPersistentVolume.options.pool = $event">
          </lib-input-ex>
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_IMAGE' | translate"
                        [inputDefaultValue]="rbdPersistentVolume.options.image"
                        (commitEvent)="rbdPersistentVolume.options.image = $event">
          </lib-input-ex>
        </div>
        <div class="dynamic-line-container">
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_MONITORS' | translate"
                        [inputType]="2"
                        [inputDefaultValue]="rbdPersistentVolume.options.monitors"
                        (editEvent)="editMonitors()">
          </lib-input-ex>
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_FS_TYPE' | translate"
                        [inputPlaceholder]="'eg. ext4'"
                        [inputDefaultValue]="rbdPersistentVolume.options.fstype"
                        (commitEvent)="rbdPersistentVolume.options.fstype = $event">
          </lib-input-ex>
        </div>
        <div class="dynamic-line-container">
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_SECRET' | translate"
                        [inputDefaultValue]="rbdPersistentVolume.options.secretname"
                        (commitEvent)="rbdPersistentVolume.options.secretname = $event">
          </lib-input-ex>
          <lib-input-ex [inputIsRequired]="true"
                        [inputDisabled]="isCreateWip"
                        [inputLabel]="'STORAGE.PV_SECRET_NAMESPACE' | translate"
                        [inputDefaultValue]="rbdPersistentVolume.options.secretnamespace"
                        (commitEvent)="rbdPersistentVolume.options.secretnamespace = $event">
          </lib-input-ex>
        </div>
        <pv-monitors [(isOpen)]="isEditPvMonitors"
                     [monitorText]="rbdPersistentVolume.options.monitors"
                     (onCommitMonitorText)="rbdPersistentVolume.options.monitors = $event">
        </pv-monitors>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isCreateWip" (click)="modalOpened = false">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isCreateWip" (click)="createNewPv()">
      {{ 'BUTTON.CREATE' | translate }}
    </button>
    <span *ngIf="isCreateWip" class="spinner spinner-sm"></span>
  </div>
</clr-modal>
