.scale-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin: 5px;
}

div.scale-block-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  height: 1px;
  background-color: #bbbbbb;
}

.scale-text-container {
  font-size: 10px;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.scale-text {
  margin-left: 7px;
  cursor: pointer;
}

.scale-text.disabled {
  cursor: not-allowed;
}

.normal-block {
  height: 10px;
  margin-top: -3px;
  cursor: pointer;
  width: 10px;
}

.normal-block.disabled {
  height: 0;
  margin-top: -3px;
  cursor: not-allowed;
  width: 0;
}

.left-block {
  border-left: solid 1px #bbbbbb;
}

.left-block.active {
  height: 14px;
  width: 14px;
  margin-top: -6px;
  border: solid 1px #bbbbbb;
  background: blue;
  border-radius: 7px;
}

.left-block.disabled {
  background: #bbbbbb;
}

.middle-block {
  margin-left: 10px;
  border-left: solid 1px #bbbbbb;
}

.middle-block.active {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  margin-top: -6px;
  border: solid 1px #bbbbbb;
  background: blue;
}

.middle-block.disabled {
  background: #bbbbbb;
}

.right-block {
  border-right: solid 1px #bbbbbb;
}

.right-block.active {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  margin-top: -6px;
  border: solid 1px #bbbbbb;
  background: blue;
}

.right-block.disabled {
  background: #bbbbbb;
}