.trash {
  cursor: pointer;
}

.trash:hover {
  color: blue;
}

.edit {
  margin-left: 10px;
  cursor: pointer;
}

.edit:hover {
  color: blue;
}

.user-list-head {
  justify-content: flex-end;
  display: flex;
  flex-basis: 100%;
  height: 40px;
}

.text-with-omit{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

clr-icon.enabled{
  cursor: not-allowed;
  color: silver;
}

clr-icon.enabled:hover{
  color: silver !important;
}