div.modal-body{
  height: 440px;
}

div.alert {
  height: 30px;
  line-height: 30px;
}

div.alert-item{
  margin-left: 5px;
}

div.logs-container {
  background-color: black;
  overflow-y: auto;
  min-height: 280px;
  max-height: 400px;
  margin-top: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 3px;
}

div.modal-footer {
  align-items: center;
}
