<clr-main-container>
  <header-content></header-content>
  <div class="content-container background">
    <confirmation-dialog></confirmation-dialog>
    <div class="content-area">
      <form #signUpForm>
        <section class="form-block">
          <div class="form-group group-margin">
            <label for="txtUsername" class="required">{{ 'ACCOUNT.USERNAME' | translate }}/{{ 'ACCOUNT.EMAIL' | translate }}</label>
            <label for="txtUsername"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md">
              <input
                  type="text"
                  id="txtUsername"
                  placeholder="{{ 'ACCOUNT.INPUT_USERNAME' | translate }}/{{ 'ACCOUNT.EMAIL' | translate }}"
                  name="txtUsername"
                  [(ngModel)]="credential">
            </label>
          </div>
          <div class="form-group">
            <label></label>
            <button
                type="submit"
                class="btn btn-primary"
                (click)="sendRequest()"
                [disabled]="credential.length == 0 || sendRequestWIP">{{ 'ACCOUNT.SEND_REQUEST' | translate }}
            </button>
            <button
                type="button"
                class="btn btn-default"
                [disabled]="sendRequestWIP"
                (click)="goBack()">{{ 'ACCOUNT.BACK' | translate }}
            </button>
            <span *ngIf="sendRequestWIP" class="spinner spinner-sm"></span>
          </div>
        </section>
      </form>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a href="javascript:void(0)" class="nav-link active">{{ 'ACCOUNT.FORGOT_PASSWORD' | translate }}</a>
      </section>
    </nav>
  </div>
</clr-main-container>