<header-content [isSignIn]="false" [hasSignedIn]="false"></header-content>
  <div class="content-container">
    <div class="container-area">
      <cs-input [inputLabelMinWidth]="200"
                [inputIsRequired]="true"
                [disabled]="sendRequestWIP"
                [inputLabel]="'ACCOUNT.FORGOT_PASSWORD_HINT_MSG' | translate "
                [simpleFiled]="credential"
                [inputPlaceholder]="'ACCOUNT.FORGOT_PASSWORD_HINT_MSG' | translate"
                [validatorMessage]="[{validatorKey:'required',validatorMessage:'ACCOUNT.FORGOT_PASSWORD_ERROR_MSG' | translate}]"
                (onCheck)="credential = $event">
      </cs-input>
      <div class="button-container">
        <button type="button"
                class="btn btn-default"
                [disabled]="sendRequestWIP"
                (click)="goBack()">
          {{ 'ACCOUNT.BACK' | translate }}
        </button>
        <button type="button"
                class="btn btn-primary"
                (click)="sendRequest()"
                [disabled]="sendRequestWIP">
          {{ 'ACCOUNT.SEND_REQUEST' | translate }}
        </button>
        <span *ngIf="sendRequestWIP" class="spinner spinner-sm"></span>
      </div>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a href="javascript:void(0)" class="nav-link active">{{ 'ACCOUNT.FORGOT_PASSWORD' | translate }}</a>
      </section>
    </nav>
  </div>