:host{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

div.container-area {
  margin: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

button.btn-custom-margin {
  margin-left: 170px;
}

div.button-container {
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: flex-end;
}