<header-content [isSignIn]="false" [hasSignedIn]="false"></header-content>
<div class="content-container">
  <div class="container-area">
    <lib-input-ex [inputLabelWidth]="200"
                  [inputIsRequired]="true"
                  [inputDisabled]="sendRequestWIP"
                  [inputLabel]="'ACCOUNT.FORGOT_PASSWORD_HINT_MSG' | translate "
                  [inputDefaultValue]="credential"
                  [inputPlaceholder]="'ACCOUNT.FORGOT_PASSWORD_HINT_MSG' | translate"
                  [validatorMessage]="[{key:'required',message:'ACCOUNT.FORGOT_PASSWORD_ERROR_MSG' | translate}]"
                  (commitEvent)="credential = $event">
    </lib-input-ex>
    <div class="button-container">
      <button type="button"
              class="btn btn-default"
              [disabled]="sendRequestWIP"
              (click)="goBack()">
        {{ 'ACCOUNT.BACK' | translate }}
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)="sendRequest()"
              [disabled]="sendRequestWIP">
        {{ 'ACCOUNT.SEND_REQUEST' | translate }}
      </button>
      <span *ngIf="sendRequestWIP" class="spinner spinner-sm"></span>
    </div>
  </div>
  <nav class="sidenav">
    <section class="sidenav-content">
      <a href="javascript:void(0)" class="nav-link active">{{ 'ACCOUNT.FORGOT_PASSWORD' | translate }}</a>
    </section>
  </nav>
</div>
