<div *ngIf="!isBuildImageWIP" class="image-list-container">
  <image-detail *ngIf="isShowDetail"
                [curImage]="curImage"
                [(isOpen)]="isShowDetail"
                (reload)="retrieve()">
  </image-detail>
  <button class="btn btn-primary build-image" (click)="createImage()">
    {{ 'IMAGE.CREATE_IMAGE_BUILD_IMAGE' | translate }}
  </button>
  <clr-datagrid [clrDgLoading]="loadingWIP">
    <clr-dg-placeholder>{{imageListErrMsg | translate}}</clr-dg-placeholder>
    <clr-dg-column>{{ 'IMAGE.COL_IMAGE_NAME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'IMAGE.COL_CREATION_TIME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'IMAGE.COL_UPDATE_TIME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'IMAGE.COL_OPERATION' | translate }}</clr-dg-column>
    <clr-dg-row *clrDgItems="let image of imageList">
      <clr-dg-cell>{{image.image_name}}</clr-dg-cell>
      <clr-dg-cell>{{image.image_creation_time | date: 'short'}}</clr-dg-cell>
      <clr-dg-cell>{{image.image_update_time | date: 'short'}}</clr-dg-cell>
      <clr-dg-cell>
        <a href="javascript:void(0)" (click)="showImageDetail(image)">
          <clr-icon shape="info-standard"></clr-icon>
        </a>
        <a href="javascript:void(0)">
          <clr-tooltip>
            <clr-icon shape="trash"
                      class="action"
                      clrTooltipTrigger
                      [ngClass]="{'disabled':!isSystemAdmin}"
                      (click)="confirmToDeleteImage(image.image_name)">
            </clr-icon>
            <clr-tooltip-content [hidden]="isSystemAdmin" [clrSize]="'md'" [clrPosition]="'left'">
              {{"ERROR.INSUFFICIENT_PRIVILEGE" | translate}}
            </clr-tooltip-content>
          </clr-tooltip>
        </a>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
      <clr-dg-pagination #pagination [clrDgTotalItems]="imageList.length" [clrDgPageSize]="imageCountPerPage">
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<div *ngIf="isBuildImageWIP" class="build-image-container">
  <span>{{"IMAGE.CREATE_IMAGE_SELECT_PROJECT"|translate}}:</span>
  <lib-dropdown-ex class="custom-margin"
                   [dropdownTip]="'IMAGE.CREATE_IMAGE_SELECT_PROJECT' | translate"
                   [dropdownMinWidth]="200"
                   [dropdownItems]="projectsList"
                   [dropdownKey]="'project_name'"
                   (dropdownChangeItem)="changeSelectProject($event)"
                   (dropdownEspecialClick)="clickSelectProject($event)">
    <ng-template libEspecialTemp >
      <span style="color: blue">{{'IMAGE.CREATE_IMAGE_CREATE_PROJECT' | translate}}</span>
    </ng-template>
  </lib-dropdown-ex>
  <span class="custom-margin">{{"IMAGE.CREATE_IMAGE_SELECT_DES"|translate}}</span>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromTemplate"
           [disabled]="selectedProjectId == 0"
           name="buildMethod"
           (click)="setCreateImageMethod(1)">
    <label for="fromTemplate"
           [ngClass]="{'disabled':selectedProjectId == 0,'enable':selectedProjectId > 0}">
      {{"IMAGE.CREATE_IMAGE_TEMPLATE"|translate}}
    </label>
  </div>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromDockerFile"
           [disabled]="selectedProjectId == 0"
           name="buildMethod"
           (click)="setCreateImageMethod(2)">
    <label for="fromDockerFile"
           [ngClass]="{'disabled':selectedProjectId == 0,'enable':selectedProjectId > 0}">
      {{"IMAGE.CREATE_IMAGE_DOCKER_FILE"|translate}}
    </label></div>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromImagePackage"
           [disabled]="selectedProjectId == 0"
           name="buildMethod"
           (click)="setCreateImageMethod(3)">
    <label for="fromImagePackage" [ngClass]="{'disabled':selectedProjectId == 0,'enable':selectedProjectId > 0}">
      {{"IMAGE.CREATE_IMAGE_IMAGE_PACKAGE"|translate}}
    </label>
  </div>
  <div class="build-btn-container">
    <button class="btn btn-default cancel-build"
            (click)="isBuildImageWIP = false">
      {{"BUTTON.CANCEL"|translate}}
    </button>
    <button class="btn btn-primary"
            [disabled]="createImageMethod == 0"
            (click)="createNewImage()">
      {{"BUTTON.CREATE"|translate}}
    </button>
  </div>
</div>
