<div *ngIf="!isInBuildingImage" class="image-list-container">
  <image-detail *ngIf="isShowDetail"
                [curImage]="curImage"
                [(isOpen)]="isShowDetail"
                (reload)="retrieve()">
  </image-detail>
  <button class="btn btn-primary build-image"
          (click)="createImage()">
    {{ 'IMAGE.CREATE_IMAGE_BUILD_IMAGE' | translate }}
  </button>
  <clr-datagrid [clrDgLoading]="loadingWIP">
    <clr-dg-placeholder>{{imageListErrMsg | translate}}</clr-dg-placeholder>
    <clr-dg-column>{{ 'IMAGE.COL_IMAGE_NAME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'IMAGE.COL_COMMENT' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'IMAGE.COL_DETAIL_INFO' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'IMAGE.COL_OPERATION' | translate }}</clr-dg-column>
    <clr-dg-row *clrDgItems="let image of imageList">
      <clr-dg-cell>{{image.image_name}}</clr-dg-cell>
      <clr-dg-cell>{{image.image_comment}}</clr-dg-cell>
      <clr-dg-cell>
        <a href="javascript:void(0)" (click)="showImageDetail(image)">
          <clr-icon shape="info-standard"></clr-icon>
        </a>
      </clr-dg-cell>
      <clr-dg-cell>
        <a href="javascript:void(0)">
          <clr-icon shape="trash" (click)="confirmToDeleteImage(image.image_name)"></clr-icon>
        </a>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
      <clr-dg-pagination #pagination [clrDgTotalItems]="imageList.length" [clrDgPageSize]="imageCountPerPage">
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<div *ngIf="isInBuildingImage" class="build-image-container">
  <span>{{"IMAGE.CREATE_IMAGE_SELECT_PROJECT"|translate}}:</span>
  <cs-dropdown class="custom-margin"
               [dropdownDefaultText]="'IMAGE.CREATE_IMAGE_SELECT_PROJECT'|translate"
               [dropdownWidth]="200"
               [dropdownList]="projectsList"
               [dropdownListTextKey]="'project_name'"
               (onChange)="changeSelectProject($event)"
               (onOnlyClickItem)="clickSelectProject($event)"></cs-dropdown>
  <span class="custom-margin">{{"IMAGE.CREATE_IMAGE_SELECT_DES"|translate}}</span>
  <div class="import-method-container">
    <input title=""
           type="radio"
           id="fromDevOps"
           [disabled]="true"
           name="buildMethod">
    <label for="fromDevOps" class="disabled">
      {{"IMAGE.CREATE_IMAGE_IMPORT_DEVOPES"|translate}}
    </label><br>
    <input title=""
           type="radio"
           id="fromDockerFile"
           [disabled]="selectedProjectId == 0"
           name="buildMethod"
           (click)="isOpenNewImage = true">
    <label for="fromDockerFile" [ngClass]="{'disabled':selectedProjectId == 0,'enable':selectedProjectId > 0}">
      {{"IMAGE.CREATE_IMAGE_IMPORT_DOCKER_FILE"|translate}}
    </label>
  </div>
  <button class="btn btn-default cancel-build" (click)="isInBuildingImage = false">Cancel</button>
  <create-image
    *ngIf="isOpenNewImage"
    [(isOpen)]="isOpenNewImage"
    [projectName]="selectedProjectName"
    [projectId]="selectedProjectId"
    (onBuildCompleted)="onBuildImageCompleted($event)">
  </create-image>
</div>