<clr-datagrid [clrDgLoading]="isInLoadWip">
  <clr-dg-column>{{ 'NODE.NODE_NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.NODE_IP' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.NODE_STATUS' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.OPERATION' | translate }}</clr-dg-column>
  <clr-dg-row *ngFor="let node of nodeList">
    <clr-dg-cell>{{node.node_name}}</clr-dg-cell>
    <clr-dg-cell>{{node.node_ip}}</clr-dg-cell>
    <clr-dg-cell>{{getStatus(node.status) | translate }}</clr-dg-cell>
    <clr-dg-cell>
      <a href="javascript:void(0)"
         *ngIf="node.status === 1"
         [title]="'NODE.STATUS_TO_UNSCHEDULABLE' | translate"
         (click)="confirmToToggleNodeStatus(node)">
        <clr-icon shape="shield-check" class="is-solid"></clr-icon>
      </a>
      <a href="javascript:void(0)"
         *ngIf="node.status === 2"
         [title]="'NODE.STATUS_TO_SCHEDULABLE' | translate"
         (click)="confirmToToggleNodeStatus(node)">
        <clr-icon shape="shield"></clr-icon>
      </a>
      <a *ngIf="node.status === 3">
        <clr-icon shape="no-access" class="is-solid"></clr-icon>
      </a>
      <a href="javascript:void(0)" (click)="openNodeDetail(node.node_name)">
        <clr-icon shape="info-standard"></clr-icon>
      </a>
      <a href="javascript:void(0)">
        <clr-icon shape="wrench"
                  class="action"
                  (click)="openNodeControl(node)">
        </clr-icon>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{nodeList ? nodeList.length : 0}} {{ 'DATAGRID.ITEMS' | translate }}</clr-dg-footer>
</clr-datagrid>
<node-detail></node-detail>
<node-control></node-control>