<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ 'NODE.NODE_GROUP_CREATE' | translate }}</h3>
  <div class="modal-body node-create-group-body">
    <lib-input-ex [inputIsRequired]="true"
                  [inputPattern]="patternNodeGroupName"
                  [inputMaxlength]="63"
                  [inputLabel]="'NODE.NODE_GROUP_NAME' | translate"
                  [inputDefaultValue]="newNodeGroupData.name"
                  [validatorMessage]="[{key: 'pattern', message: 'NODE.NODE_GROUP_CREATE_PATTERN_MESSAGE' | translate},
                                   {key:'nodeGroupExist', message:'NODE.NODE_GROUP_NAME_EXIST' | translate}]"
                  [validatorAsyncFn]="checkNodeGroupNameFun"
                  (commitEvent)="newNodeGroupData.name = $event">
    </lib-input-ex>
    <lib-input-ex [inputLabel]="'NODE.NODE_GROUP_COMMENT'  | translate"
                  [inputDefaultValue]="newNodeGroupData.comment"
                  (commitEvent)="newNodeGroupData.comment = $event">
    </lib-input-ex>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="commitNodeGroup()">
      {{ 'BUTTON.OK' | translate }}
    </button>
  </div>
</clr-modal>
