div.service-create-container {
  display: flex;
  min-height: 400px;
  margin-top: 10px;
}

div.build-btn-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

label.base-text {
  min-width: 220px;
  text-align: right;
}

input.upload-file-input {
  font-size: 12px;
  margin-left: 10px;
  min-width: 150px;
}

label.custom-margin {
  margin-left: 10px;
}

button.custom-margin {
  margin-left: 10px;
}

div.custom-margin {
  margin-left: 10px;
}

div.spinner-container {
  height: 30px;
  display: flex;
  align-items: center;
}

div.line-container {
  display: flex;
  margin-bottom: 10px;
  height: 30px;
  align-content: center;
}

div.service-name {
  min-width: 280px;
  line-height: 30px;
  height: 100%;
  margin-top: 0;
}

label.service-name {
  line-height: 30px;
  height: 100%;
}

div.info{
  max-width: 500px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
}

clr-icon.icon {
  width: 20px;
  height: 20px;
}

div.edit-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex-basis: 100%;
}

textarea.edit-file{
  flex-basis: 100%;
}
