<div class="service-create-container">
  <div>
    <div class="line-container">
      <lib-dropdown-ex [dropdownLabel]="'SERVICE.SERVICE_YAML_SELECT_PROJECT' | translate"
                       [dropdownTip]="'IMAGE.CREATE_IMAGE_SELECT_PROJECT' | translate"
                       [dropdownMinWidth]="280"
                       [dropdownLabelWidth]="220"
                       [dropdownItems]="projectsList"
                       [dropdownKey]="'project_name'"
                       (dropdownChangeItem)="changeSelectProject($event)"
                       (dropdownEspecialClick)="clickSelectProject()">
        <ng-template libEspecialTemp>
          <span style="color: blue">{{'IMAGE.CREATE_IMAGE_CREATE_PROJECT' | translate}}</span>
        </ng-template>
      </lib-dropdown-ex>
    </div>
    <div class="line-container">
      <label class="base-text">{{"SERVICE.SERVICE_YAML_SELECT_DEPLOYMENT_YAML" | translate}}:</label>
      <input type="file"
             class="upload-file-input"
             [disabled]="uploadFileBtnDisabled"
             (change)="uploadFile($event,true)"
             accept="*.*">
      <div *ngIf="uploadFileStatus == 'Executing'" class="custom-margin spinner-container">
        <span class="spinner spinner-sm"></span>
      </div>
      <a href="javascript:void(0)" *ngIf="isEditDeploymentEnable">
        <clr-icon (click)="editFile('deployment')" class="icon" shape="note"></clr-icon>
      </a>
    </div>
    <div class="line-container">
      <label class="base-text">{{"SERVICE.SERVICE_YAML_SELECT_SERVICE_YAML" | translate}}:</label>
      <input type="file"
             class="upload-file-input"
             [disabled]="uploadFileBtnDisabled"
             (change)="uploadFile($event,false)"
             accept="*.*">
      <div *ngIf="uploadFileStatus == 'Executing'" class="custom-margin spinner-container">
        <span class="spinner spinner-sm"></span>
      </div>
      <a href="javascript:void(0)" *ngIf="isEditServiceEnable">
        <clr-icon (click)="editFile('service')" class="icon" shape="note"></clr-icon>
      </a>
    </div>
    <div class="line-container">
      <label class="base-text service-name">{{"SERVICE.SERVICE_YAML_NER_SERVICE_NAME" | translate}}:</label>
      <div class="alert info custom-margin service-name" role="alert">
        {{newServiceName}}
      </div>
    </div>
    <div class="build-btn-container">
      <label class="base-text"></label>
      <button class="btn btn-default cancel-build custom-margin"
              [class.btn-danger]="createServiceStatus=='Failed'"
              [disabled]="createServiceStatus=='Executing' || uploadFileStatus == 'Executing'"
              (click)="btnCancelClick($event)">
        {{cancelBtnCaption | translate}}
      </button>
      <button class="btn btn-primary"
              [disabled]="isBtnUploadDisabled"
              (click)="btnUploadClick()">
        {{"SERVICE.SERVICE_YAML_UPLOAD" | translate}}
      </button>
      <button class="btn btn-primary"
              [disabled]="createBtnDisabled"
              (click)="btnCreateClick($event)">
        {{"BUTTON.CREATE"|translate}}
      </button>
      <div *ngIf="createServiceStatus=='Executing' || uploadFileStatus == 'Executing'"
           class="custom-margin spinner-container">
        <span class="spinner spinner-sm"></span>
      </div>
    </div>
  </div>
  <div *ngIf="isFileInEdit" class="edit-container">
    <a href="javascript:void(0)">
      <clr-icon (click)="saveFile()" class="icon" shape="check"></clr-icon>
    </a>
    <textarea class="edit-file" [title]="curFileName + ' file'" [(ngModel)]="curFileContent"></textarea>
  </div>
</div>
