div.build-btn-container {
  margin-top: 50px;
  display: flex;
}

label.base-text {
  min-width: 220px;
  text-align: right;
}

input.upload-file-input {
  font-size: 12px;
  margin-left: 10px;
  min-width: 150px;
}

cs-dropdown.custom-margin {
  margin-left: 10px;
}

label.custom-margin {
  margin-left: 10px;
}

button.custom-margin {
  margin-left: 10px;
}

div.custom-margin {
  margin-left: 10px;
}

div.spinner-container {
  height: 30px;
  display: flex;
  align-items: center;
}

div.line-container {
  display: flex;
  margin-bottom: 30px;
  height: 30px;
  align-content: center;
}

div.service-name {
  min-width: 200px;
  line-height: 30px;
  height: 100%;
  margin-top: 0;
}

label.service-name {
  line-height: 30px;
  height: 100%;
}

div.alert-info{
  max-width: 500px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
}