<div #container class="cs-input-container" [formGroup]="inputFormGroup">
  <label *ngIf="inputType == 0 || inputType == 1"
         (mousedown)="onEditClick()"
         (click)="onEditClick()"
         class="cs-input-label"
         [style.minWidth.px]="inputLabelMinWidth">
    {{inputLabel}}:<span *ngIf="inputIsRequired" class="asterisk">*</span>
  </label>
  <label *ngIf="inputType == 2 && inputIsRequired" class="cs-input-label">
    <span class="asterisk">*</span>
  </label>
  <label aria-haspopup="true"
         role="tooltip"
         class="cs-input-field-container tooltip tooltip-validation tooltip-md tooltip-bottom-left"
         (mousedown)="onEditClick()"
         [class.invalid]="inputControl.invalid && inputControl.touched">
    <input #input
           formControlName="inputControl"
           class="cs-input-input"
           [type]="inputFieldTypeName"
           [class.no-input-module]="!isDisabled && inputType == 1"
           [class.source-password]="sourcePassword"
           [class.verify-password]="verifyPassword"
           (keypress)="onInputKeyPressEvent($event)"
           (blur)="onInputBlur()"
           (focus)="onInputFocus()"
           [title]="inputPlaceholder"
           [placeholder]="inputPlaceholder">
    <span class="tooltip-content" style="width: 200px;" *ngIf="inputControl.errors">
      {{getValidatorMessage(inputControl.errors) | translate}}{{inputValidatorMessageParam}}
    </span>
  </label>
  <a *ngIf="inputField.status == 0 && inputControl.enabled"
     href="javascript:void(0)"
     class="cs-input-icon"
     (click)="onEditClick()">
    <clr-icon shape="note"></clr-icon>
  </a>
  <a *ngIf="inputField.status == 1 && inputType != 1"
     href="javascript:void(0)"
     class="cs-input-icon"
     (click)="onCheckClick()">
    <clr-icon shape="check"></clr-icon>
  </a>
  <a *ngIf="inputField.status == 1 && inputControl.errors"
     href="javascript:void(0)"
     class="cs-input-icon"
     (click)="onRevertClick()">
    <clr-icon shape="refresh"></clr-icon>
  </a>
  <span *ngIf="isInValidatorWIP" class="spinner spinner-sm"></span>
</div>
