div.cs-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

label.cs-input-label {
  white-space: nowrap;
  text-align: right;
  text-wrap: none;
  line-height: 30px;
}

label.cs-input-field-container {
  height: 30px;
  margin-left: 10px;
  flex-basis: 100%;
}

span.asterisk {
  color: #FF0000;
}

input.cs-input-input {
  text-align: left;
  line-height: 30px;
  height: 30px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input.cs-input-input.no-input-module {
  opacity: 1;
  cursor: pointer;
  color: darkblue;
}

a.cs-input-icon {
  margin-left: 5px;
  flex-basis: 20px;
}