<div #container class="cs-input-container" [formGroup]="inputFormGroup">
  <label *ngIf="inputType == 0 || inputType == 1"
         (mousedown)="onEditClick()"
         (click)="onEditClick()"
         class="cs-input-label"
         [style.minWidth]="inputLabelMinWidth">
    {{inputLabel}}:<span *ngIf="inputIsRequired" class="asterisk">*</span>
  </label>
  <label aria-haspopup="true"
         role="tooltip"
         class="cs-input-field-container tooltip tooltip-validation tooltip-md tooltip-bottom-left"
         (mousedown)="onEditClick()"
         [class.invalid]="inputErrors && (inputFormGroup.dirty || inputFormGroup.touched)">
    <input #input
           id="inputField"
           formControlName="inputControl"
           class="cs-input-input"
           [type]="inputFiledType == 0 ? 'text' : 'number'"
           [class.no-input-module]="!isDisabled && inputType == 1"
           (keypress)="onInputKeyPressEvent($event)"
           (blur)="onInputBlur()"
           [placeholder]="inputPlaceholder"
           [(ngModel)]="inputField.value">
    <span class="tooltip-content" style="width: 200px;" *ngIf="inputErrors">
      {{getValidatorMessage(inputErrors) | translate}}{{inputValidatorMessageParam}}
    </span>
  </label>
  <a *ngIf="inputField.status == 0 && !isDisabled"
     href="javascript:void(0)"
     class="cs-input-icon"
     (click)="onEditClick()">
    <clr-icon shape="note"></clr-icon>
  </a>
  <a *ngIf="inputField.status == 1 && inputType != 1"
     href="javascript:void(0)"
     class="cs-input-icon"
     (click)="onCheckClick()">
    <clr-icon shape="check"></clr-icon>
  </a>
  <a *ngIf="inputField.status == 1 && inputType != 1"
     href="javascript:void(0)"
     class="cs-input-icon"
     (click)="onRevertClick()">
    <clr-icon shape="refresh"></clr-icon>
  </a>
  <span *ngIf="isInValidatorWIP" class="spinner spinner-sm"></span>
</div>
