<clr-modal [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">{{ 'PROJECT.CREATE_PROJECT' | translate }}</h3>
  <div class="modal-body">
    <div class="input-container">
      <lib-input-ex [inputIsRequired]="true"
                    [inputLabel]="'PROJECT.PROJECT_NAME' | translate "
                    [inputDefaultValue]="createProject.projectName"
                    [inputLabelWidth]="110"
                    [inputMaxlength]="63"
                    [inputMinlength]="2"
                    appLibCheckItemExistingEx="project"
                    [inputPattern]="projectNamePattern"
                    [inputDisabled]="isCreateProjectWIP"
                    [validatorMessage]="[
                       {key:'required',message:'PROJECT.PROJECT_NAME_IS_REQUIRED' | translate},
                       {key:'pattern',message:'PROJECT.PROJECT_NAME_IS_ILLEGAL' | translate}]"
                    (commitEvent)="createProject.projectName = $event">
      </lib-input-ex>
      <lib-input-ex [inputLabel]="'PROJECT.COMMENT' | translate"
                    [inputDefaultValue]="createProject.comment"
                    [inputDisabled]="isCreateProjectWIP"
                    [inputMaxlength]="200"
                    [inputLabelWidth]="110"
                    (commitEvent)="createProject.comment = $event">
      </lib-input-ex>
      <div class="public-container">
        <label for="chkIsPublic" class="public-label">{{ 'PROJECT.PUBLIC' | translate }}:</label>
        <div class="checkbox public-checkbox">
          <input type="checkbox" id="chkIsPublic" [disabled]="isCreateProjectWIP" [(ngModel)]="createProject.publicity">
          <label for="chkIsPublic"></label>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" [disabled]="isCreateProjectWIP" (click)="modalOpened = false">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isCreateProjectWIP" (click)="confirm()">
      {{ 'BUTTON.CONFIRM' | translate }}
    </button>
    <span *ngIf="isCreateProjectWIP" class="spinner spinner-sm"></span>
  </div>
</clr-modal>
