span.tooltip-content {
  width: 200px !important;
}

span.arrange {
  font-size: 12px;
  color: darkgreen;
  font-style: italic;
  margin-left: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
