<clr-dropdown [style.width.px]="inputWidth" [formGroup]="inputFormGroup">
  <label aria-haspopup="true"
         role="tooltip"
         class="tooltip tooltip-md tooltip-validation tooltip-top-left"
         [class.invalid]="inputControl.invalid && inputControl.touched">
    <input type="number"
           clrDropdownTrigger
           formControlName="inputControl"
           [placeholder]="inputPlaceholder"
           [style.width.px]="inputWidth"
           [title]="inputPlaceholder"
           (blur)="onBlurEvent()"
           (input)="onChangeEvent()">
    <span class="tooltip-content" *ngIf="inputControl.errors">
      {{getValidatorMessage(inputControl.errors) | translate}}{{inputValidatorMessageParam}}
    </span>
  </label>
  <clr-dropdown-menu *clrIfOpen>
    <span *ngIf="dropdownMenuList.length == 0" class="arrange" [style.width.px]="inputWidth">
      {{'['+inputMin + '...' + inputMax +']'}}</span>
    <div *ngFor="let validNumber of dropdownMenuList;let i = index"
         clrDropdownItem
         [style.width.px]="inputWidth"
         (click)="onDropdownItemCLick(validNumber)">
      <span>{{validNumberStart(validNumber)}}</span>
      <span style="color: blue"><b>{{inputControl.value}}</b></span>
      <span>{{validNumberEnd(validNumber)}}</span>
    </div>
  </clr-dropdown-menu>
</clr-dropdown>