<clr-main-container>
  <header-content></header-content>
  <div class="content-container background">
    <confirmation-dialog></confirmation-dialog>
    <div class="content-area">
      <div>{{ 'ACCOUNT.RETRIEVE_PASS' | translate }}:({{ 'ACCOUNT.SEND_REQUEST' | translate }})</div>
      <form #signUpForm>
        <section class="form-block">
          <div class="form-group group-margin">
            <label for="txtUsername" class="required">{{ 'ACCOUNT.USERNAME' | translate }}/{{ 'ACCOUNT.EMAIL' | translate }}</label>
            <label for="txtUsername"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md">
              <input
                  type="text"
                  id="txtUsername"
                  placeholder="{{ 'ACCOUNT.INPUT_USERNAME' | translate }}/{{ 'ACCOUNT.EMAIL' | translate }}"
                  name="txtUsername"
                  [(ngModel)]="credential">
            </label>
          </div>
          <div class="form-group">
            <label></label>
            <button
                type="submit"
                class="btn btn-primary"
                (click)="sendRequest()"
                [disabled]="!credential || credential.length == 0">{{ 'ACCOUNT.SEND_REQUEST' | translate }}
            </button>
            &nbsp;&nbsp;
            <button
                type="button"
                class="btn btn-default"
                (click)="goBack()">{{ 'ACCOUNT.BACK' | translate }}
            </button>
          </div>
        </section>
      </form>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a href="javascript:void(0)" class="nav-link active">{{ 'ACCOUNT.RETRIEVE_PASS' | translate }}</a>
      </section>
    </nav>
  </div>
</clr-main-container>