<div class="button-container">
  <button class="btn btn-primary" (click)="showCreateNewGroup()">
    {{'NODE.NODE_GROUP_CREATE' | translate}}
  </button>
</div>
<clr-datagrid [clrDgLoading]="isInLoadWip">
  <clr-dg-column>{{ 'NODE.NODE_GROUP_NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.NODE_GROUP_COMMENT' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.CREATION_TIME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.NODE_GROUP_UPDATE_TIME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.CREATION_TIME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'NODE.OPERATION' | translate }}</clr-dg-column>
  <clr-dg-row *ngFor="let nodeGroup of nodeGroupList">
    <clr-dg-cell>{{nodeGroup.name}}</clr-dg-cell>
    <clr-dg-cell>{{nodeGroup.comment}}</clr-dg-cell>
    <clr-dg-cell>{{nodeGroup.creationTime | date: 'short'}}</clr-dg-cell>
    <clr-dg-cell>{{nodeGroup.updateTime | date: 'short'}}</clr-dg-cell>
    <clr-dg-cell>
      <span [innerHTML]="nodeListMap.get(nodeGroup.id)"></span>
    </clr-dg-cell>
    <clr-dg-cell>
      <a href="javascript:void(0)">
        <clr-icon shape="trash"
                  class="action"
                  (click)="confirmToDeleteNodeGroup(nodeGroup.name,nodeGroup.id)">
        </clr-icon>
      </a>
      <a href="javascript:void(0)">
        <clr-icon (click)="editGroup(nodeGroup)" class="edit" shape="edit"></clr-icon>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    {{nodeGroupList ? nodeGroupList.length : 0}} {{ 'DATAGRID.ITEMS' | translate }}
  </clr-dg-footer>
</clr-datagrid>
