<div class="clr-row flex-items-xs-right">
    <button class="btn btn-primary" (click)="createConfigMap()">
        {{ 'RESOURCE.CONFIG_MAP_LIST_CREATE' | translate }}</button>
</div>
<clr-datagrid (clrDgRefresh)="retrieve()" [clrDgLoading]="isInLoading">
    <clr-dg-column>{{ 'RESOURCE.CONFIG_MAP_LIST_NAME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'RESOURCE.CONFIG_MAP_LIST_PROJECT_NAME' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'RESOURCE.CONFIG_MAP_LIST_STATUS' | translate }}</clr-dg-column>
    <clr-dg-column>{{ 'RESOURCE.CONFIG_MAP_LIST_OPERATION' | translate }}</clr-dg-column>
    <clr-dg-row *ngFor="let configMap of configMapList">
        <clr-dg-cell>{{configMap.name}}</clr-dg-cell>
        <clr-dg-cell>{{configMap.namespace}}</clr-dg-cell>
        <clr-dg-cell>active</clr-dg-cell>
        <clr-dg-cell>
            <a href="javascript:void(0)">
                <clr-icon shape="trash" class="action" (click)="confirmToDeleteConfigMap(configMap)"></clr-icon>
            </a>
            <a href="javascript:void(0)" (click)="showConfigMapDetail(configMap)">
                <clr-icon shape="info-standard"></clr-icon>
            </a>
            <a href="javascript:void(0)" (click)="updateConfigMap(configMap)">
                <clr-icon shape="edit"></clr-icon>
            </a>
        </clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>
