<ng-container [formGroup]="form" [ngSwitch]="control.controlType">
  <div style="display: inline-block; margin-bottom: 12px;" class="form-group">
  <!-- <label [attr.for]="control.key">{{control.label}}</label> -->
    <input *ngSwitchCase="'text'" [id]="control.key + control.order" [type]="'text'" [formControlName]="control.key" [value]="control.value" (change)="onChange($event.target.value)">
    <ng-container *ngSwitchCase="'co-dropdown'">
      <label [attr.for]="control.key">{{control.label}}</label>
      <div class="select" style="display:inline-block; width: none;">
        <select  [id]="control.key + control.order" [formControlName]="control.key" (change)="onChange($event.target.value)">
          <option *ngFor="let option of control.options" [value]="option.key">{{ option.key }}</option>
        </select>
      </div>
      <div class="select" style="display:inline-block; width: none;">
        <select [id]="control.key + control.order + '_sub'" (change)="onSubChange($event.target.value)">
          <option *ngFor="let subOption of subOptions" [value]="subOption">{{ subOption }}</option>
        </select>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'dropdown'" >
      <!-- <label [attr.for]="control.key">{{control.label}}</label> -->
      <div class="select" style="padding-left: 12px;">
        <select [id]="control.key + control.order" [formControlName]="control.key" (change)="onChange($event.target.value)">
          <option *ngFor="let option of control.options" [value]="option">{{ option }}</option>
        </select>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'toggle-text'" >
      <label [attr.for]="control.key + control.order">{{ control.label }}</label>
      <input *ngIf="editable" [id]="control.key + control.order" [type]="control.type" [formControlName]="control.key" [value]="control.value" (keyup)="onChange($event.target.value)">
      <span *ngIf="!editable" [id]="control.key + control.order" style="width: 158px;">{{ control.value }}</span>
      <a href="javascript:void(0)" (click)="editable = !editable"><clr-icon shape="note"></clr-icon></a>
      <a href="javascript:void(0)" *ngIf="revertable"  (click)="revert()"><clr-icon shape="undo"></clr-icon></a>
    </ng-container>
  </div>
</ng-container>