<div *ngFor="let control of formControls; index as i">
  <form>
    <section class="form-block" style="margin-bottom: 0;">
      <a href="javascript:void(0)" (click)="removeControl()" [hidden]="formControls.length <= minimumCount"><clr-icon shape="minus-circle"></clr-icon></a>
      <df-control [control]="control" [form]="form"></df-control> 
    </section>  
  </form>
</div>
<div>
<a href="javascript:void(0)" (click)="addControl()" [hidden]="formControls.length >= maximumCount"><clr-icon shape="plus-circle"></clr-icon></a>
</div>