<clr-main-container>
  <header-content [isSignIn]="false" [hasSignedIn]="false"></header-content>
  <div class="content-container background">
    <confirmation-dialog></confirmation-dialog>
    <div class="input-container">
      <cs-input [inputIsRequired]="true"
                [inputLabel]="'ACCOUNT.USERNAME' | translate "
                [simpleFiled]="signUpModel.username"
                [disabled]="isSignUpWIP"
                checkItemPatternEx="username"
                checkItemExistingEx="username"
                [inputMaxlength]="40"
                [inputMinlength]="4"
                [inputPlaceholder]="'ACCOUNT.INPUT_USERNAME' | translate"
                [validatorMessage]="[{validatorKey: 'required', validatorMessage: 'ACCOUNT.USERNAME_IS_REQUIRED' | translate}]"
                (onCheck)="signUpModel.username = $event">
      </cs-input>
      <cs-input [inputIsRequired]="true"
                [inputLabel]="'ACCOUNT.EMAIL' | translate "
                [simpleFiled]="signUpModel.email"
                [disabled]="isSignUpWIP"
                [inputFiledType]="3"
                checkItemPatternEx="email"
                checkItemExistingEx="email"
                [inputPlaceholder]="'ACCOUNT.INPUT_EMAIL' | translate "
                [validatorMessage]="[{validatorKey: 'required', validatorMessage: 'ACCOUNT.EMAIL_IS_REQUIRED' | translate}]"
                (onCheck)="signUpModel.email = $event">
      </cs-input>
      <cs-input [inputIsRequired]="true"
                [inputLabel]="'USER_CENTER.PASSWORD' | translate "
                [simpleFiled]="signUpModel.password"
                [disabled]="isSignUpWIP"
                [inputFiledType]="2"
                [sourcePassword]="true"
                checkItemPatternEx="password"
                [inputPlaceholder]="'ACCOUNT.INPUT_PASSWORD' | translate"
                [validatorMessage]="[{validatorKey: 'required', validatorMessage: 'ACCOUNT.PASSWORD_IS_REQUIRED' | translate}]"
                (onCheck)="signUpModel.password = $event">
      </cs-input>
      <cs-input [inputIsRequired]="true"
                [inputLabel]="'ACCOUNT.CONFIRM_PASSWORD' | translate "
                [simpleFiled]="signUpModel.confirmPassword"
                [disabled]="isSignUpWIP"
                [inputFiledType]="2"
                [verifyPassword]="true"
                checkItemPatternEx="password"
                [inputPlaceholder]="'ACCOUNT.INPUT_CONFIRM_PASSWORD' | translate "
                (onCheck)="signUpModel.confirmPassword = $event">
      </cs-input>
      <cs-input [inputLabel]="'ACCOUNT.REALNAME' | translate "
                [simpleFiled]="signUpModel.realname"
                [disabled]="isSignUpWIP"
                (onCheck)="signUpModel.realname = $event">
      </cs-input>
      <cs-input [inputLabel]="'ACCOUNT.COMMENT' | translate "
                [simpleFiled]="signUpModel.comment"
                [disabled]="isSignUpWIP"
                (onCheck)="signUpModel.comment = $event">
      </cs-input>
      <div class="btn-container">
        <button type="button"
                class="btn btn-primary"
                (click)="signUp()"
                [disabled]="isSignUpWIP">
          {{'ACCOUNT.SIGN_UP' | translate}}
        </button>
        <button type="button"
                class="btn btn-default"
                (click)="goBack()">
          {{ 'ACCOUNT.BACK' | translate }}
        </button>
      </div>
    </div>
    <nav class="sidenav">
     <section class="sidenav-content">
       <a href="javascript:void(0)" class="nav-link active">{{ 'ACCOUNT.REGISTER' | translate }}</a>
     </section>
    </nav>
  </div>
</clr-main-container>
