<div class="card">
  <div class="card-header"
       (click)="toggle()">
    <clr-icon shape="caret down"
              [@rotateNega90]="card.cardStatus ? 'open' : 'closed'"></clr-icon>
    Jenkins
  </div>

  <div class="card-block"
       [@cardSlide]="card.cardStatus ? 'open' : 'closed'">

    <div class="clr-form clr-form-compact"
         *ngIf="card.showContent">

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_HOST_IP.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]="jenkins.jenkinsHostIp"
                        [inputPlaceholder]="'reg.domain.com'"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(0)"
                        (commitEvent)="jenkins.jenkinsHostIp = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[0]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_HOST_IP.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_HOST_PORT.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputCategory]="2"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]="jenkins.jenkinsHostPort"
                        [inputMin]="1"
                        [inputMax]="65535"
                        [inputPlaceholder]="'[1..65535]'"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(1)"
                        (commitEvent)="jenkins.jenkinsHostPort = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[1]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_HOST_PORT.TIPS' | translate }}
        </clr-control-helper>
      </div>


      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_NODE_IP.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]="jenkins.jenkinsNodeIp"
                        [inputPlaceholder]="'reg.domain.com'"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(2)"
                        (commitEvent)="jenkins.jenkinsNodeIp = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[2]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_NODE_IP.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_NODE_SSH_PORT.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputCategory]="2"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]="jenkins.jenkinsNodeSshPort"
                        [inputMin]="1"
                        [inputMax]="65535"
                        [inputPlaceholder]="'[1..65535]'"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(3)"
                        (commitEvent)="jenkins.jenkinsNodeSshPort = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[3]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_NODE_SSH_PORT.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_NODE_USERNAME.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]="jenkins.jenkinsNodeUsername"
                        [inputPlaceholder]="'node username'"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(4)"
                        (commitEvent)="jenkins.jenkinsNodeUsername = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[4]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_NODE_USERNAME.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <!-- <div class="config-line"
           *ngIf="!isInit">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_NODE_PASSWORD.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputCategory]="3"
                        [inputLabelWidth]='170'
                        [sourcePassword]="true"
                        [inputDefaultValue]=""
                        [inputPlaceholder]="'请输入旧密码'"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(5)"
                        (commitEvent)="jenkins.jenkinsNodePassword = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[5]">
          请输入旧密码用于系统验证，验证通过则可以在下方修改新密码
        </clr-control-helper>
      </div> -->

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_NODE_PASSWORD.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputCategory]="3"
                        [inputLabelWidth]='170'
                        [sourcePassword]="true"
                        [inputDefaultValue]=""
                        [inputPlaceholder]="'ACCOUNT.INPUT_PASSWORD' | translate"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(5)"
                        (commitEvent)="jenkins.jenkinsNodePassword = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[5]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_NODE_PASSWORD.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputIsRequired]="true"
                        [inputLabel]="'ACCOUNT.CONFIRM_PASSWORD' | translate"
                        [inputCategory]="3"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]=""
                        [verifyPassword]="true"
                        [inputPlaceholder]="'ACCOUNT.INPUT_CONFIRM_PASSWORD' | translate "
                        [validatorMessage]="[{key: 'verifyPassword', message: 'ACCOUNT.PASSWORDS_ARE_NOT_IDENTICAL' | translate}]"
                        (commitEvent)="passwordConfirm = $event"
                        (editEvent)="onEdit(5)"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[5]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_NODE_PASSWORD.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_NODE_VOLUME.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]="jenkins.jenkinsNodeVolume"
                        [inputPlaceholder]="'eg:/data/jenkins_node'"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(6)"
                        (commitEvent)="jenkins.jenkinsNodeVolume = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[6]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_NODE_VOLUME.TIPS' | translate }}
        </clr-control-helper>
      </div>

      <div class="config-line">
        <div class="config-container">
          <lib-input-ex [inputLabel]="'CONFIGURATIONS.JENKINS.JENKINS_EXECUTION_MODE.NAME' | translate"
                        [inputIsRequired]="true"
                        [inputLabelWidth]='170'
                        [inputDefaultValue]="jenkins.jenkinsExecutionMode"
                        [inputPlaceholder]="'single/multi'"
                        [inputPattern]="patternJenkinsExecutionMode"
                        [validatorMessage]="[{key:'pattern',message:'receive single/multi ONLY'}]"
                        [inputWidth]="'100%'"
                        (editEvent)="onEdit(7)"
                        (commitEvent)="jenkins.jenkinsExecutionMode = $event"
                        class="lib-input-ex">
          </lib-input-ex>
        </div>
        <clr-control-helper *ngIf="tipsList[7]">
          {{ 'CONFIGURATIONS.JENKINS.JENKINS_EXECUTION_MODE.TIPS' | translate }}
        </clr-control-helper>
      </div>

    </div>
  </div>
</div>