## Configuration file of Board

#The IP address or hostname to access admin UI and Kubernetes Cluster apiserver.
#DO NOT use localhost or 127.0.0.1, because Board needs to be accessed by external clients.
hostname = reg.mydomain.com
kubernetes_apiserver_host = 10.0.0.0
kubernetes_apiserver_port = 8080
mysql_ip = mysql
mysql_port = 3306

#The protocol for accessing the UI and token/notification service, by default it is http.
#It can be set to https if ssl is enabled on nginx.
#access_protocol = http

#The password for the root user of mysql db, change this before any production use.
db_password = root123

#The expiration seconds of token stored in cache.
token_cache_expire_seconds = 1800

#The expiration seconds of token.
token_expire_seconds = 300

#The secret key for token generation.
token_secret_key = VGhlUXVpY2tCcm93bkZveEp1bXBzT3ZlckFMYXp5RG9nLg==

#NOTES: The properties between BEGIN INITIAL PROPERTIES and END INITIAL PROPERTIES
#only take effect in the first boot, the subsequent changes of these properties 
#should be performed on web ui

#************************BEGIN INITIAL PROPERTIES************************

##The initial password of Board admin, only works for the first time when Board starts. 
#It has no effect after the first launch of Board.
#Change the admin password from UI after launching Board.
board_admin_password = 123456a?

##By default the auth mode is db_auth, i.e. the credentials are stored in a local database.
#Set it to ldap_auth if you want to verify a user's credentials against an LDAP server.
#auth_mode = db_auth

#The url for an ldap endpoint.
#ldap_url = ldaps://ldap.mydomain.com

#A user's DN who has the permission to search the LDAP/AD server. 
#If your LDAP/AD server does not support anonymous search, you should configure this DN and ldap_search_pwd.
#ldap_searchdn = uid=searchuser,ou=people,dc=mydomain,dc=com

#the password of the ldap_searchdn
#ldap_search_pwd = password

#The base DN from which to look up a user in LDAP/AD
#ldap_basedn = ou=people,dc=mydomain,dc=com

#Search filter for LDAP/AD, make sure the syntax of the filter is correct.
#ldap_filter = (objectClass=person)

# The attribute used in a search to match a user, it could be uid, cn, email, sAMAccountName or other attributes depending on your LDAP/AD  
#ldap_uid = uid 

#the scope to search for users, 0-LDAP_SCOPE_BASE, 1-LDAP_SCOPE_ONELEVEL, 2-LDAP_SCOPE_SUBTREE
#ldap_scope = 2 

#Timeout (in seconds)  when connecting to an LDAP Server. The default value (and most reasonable) is 5 seconds.
#ldap_timeout = 5

#The expiration time (in minute) of token created by token service, default is 30 minutes
#token_expiration = 30

#************************END INITIAL PROPERTIES************************
#############
