div.chart-title {
  display: flex;
  align-items: center;
}

div.chart-title-action {
  margin-left: auto;
  display: flex;
  align-items: center;
}

div.chart-title-action button {
  margin-left: 20px;
}

div.chart-title-action clr-icon {
  border-radius: 3px;
  height: 20px;
  width: 20px;
}

div.chart-title-action clr-icon.active {
  background-color: #007cbb;
  color: white;
}

label.base-text {
  min-width: 180px;
  text-align: right;
}

div.line-container {
  margin-top: 10px;
  display: flex;
  height: 34px;
  align-items: center;
}

div.base-margin-top {
  margin-top: 5px;
}

.base-margin-left {
  margin-left: 10px;
}

div.card-container {
  display: flex;
  flex-wrap: wrap;
}

div.card {
  margin: 10px;
  border: 1px solid silver;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

div.card img {
  align-self: center;
}

span.card-name {
  font-size: 18px;
  align-self: center;
}

span.card-title {
  color: blue;
  font-size: 14px;
}

span.card-content {
  color: black;
}

div.card-action-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}