<div *ngIf="showList" class="clr-row clr-justify-content-end">
  <button class="btn btn-primary" (click)="createJob()">
    {{ 'JOB.JOB_LIST_CREATE_JOB' | translate }}
  </button>
</div>
<clr-datagrid *ngIf="showList" [clrDgLoading]="loadingWIP" (clrDgRefresh)="retrieve()">
  <clr-dg-column>{{ 'JOB.JOB_LIST_NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'JOB.JOB_LIST_PROJECT_NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'JOB.JOB_LIST_CREATION_TIME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'JOB.JOB_LIST_UPDATE_TIME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'JOB.JOB_LIST_OWNER_NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'JOB.JOB_LIST_COMMENT' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'JOB.JOB_LIST_STATUS' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'JOB.JOB_LIST_OPERATION' | translate }}</clr-dg-column>
  <clr-dg-row *ngFor="let job of paginationJobs">
    <clr-dg-cell>{{job.jobName}}</clr-dg-cell>
    <clr-dg-cell>{{job.jobProjectName}}</clr-dg-cell>
    <clr-dg-cell>{{job.jobCreationTime | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{job.jobUpdateTime | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{job.jobOwnerName}}</clr-dg-cell>
    <clr-dg-cell>{{job.jobComment}}</clr-dg-cell>
    <clr-dg-cell>
      <span [ngClass]="getStatusClass(job.jobStatus)">
        {{getJobStatus(job.jobStatus) | translate}}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <a href="javascript:void(0)" (click)="showJobDetail(job)">
        <clr-icon shape="info-standard"></clr-icon>
      </a>
      <a href="javascript:void(0)" (click)="deleteJob(job)">
        <clr-icon shape="trash"></clr-icon>
      </a>
      <a href="javascript:void(0)" (click)="showJobLogs(job)">
        <clr-icon shape="help-info"></clr-icon>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    {{"DATAGRID.TOTAL" | translate}}{{paginationJobs.pagination.TotalCount}}{{"DATAGRID.ITEMS" | translate}}
    <clr-dg-pagination #pagination
                       [clrDgTotalItems]="paginationJobs.pagination.TotalCount"
                       [(clrDgPage)]="pageIndex"
                       [clrDgPageSize]="pageSize">
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
<app-job-create-guide *ngIf="createNewJobGuide"
                      [paginationJobs]="paginationJobs"
                      (confirmEvent)="afterMethodSelect($event)"
                      (cancelEvent)="afterMethodCancel()">
</app-job-create-guide>
<app-job-create *ngIf="createNewJob"
                [newJobDeployment]="jobDeployment"
                (afterDeployment)="afterDeployment($event)">
</app-job-create>

