<clr-main-container>
  <header-content [isSignIn]="false" [hasSignedIn]="true"></header-content>
  <global-message></global-message>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard" [queryParams]="{ 'token': token }">
          {{ 'SIDE_NAV.DASHBOARD' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/services" [queryParams]="{ 'token': token }">
          {{ 'SIDE_NAV.SERVICES' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/projects" [queryParams]="{ 'token': token }">
         {{ 'SIDE_NAV.PROJECTS' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/nodes" [queryParams]="{ 'token': token }">
          {{ 'SIDE_NAV.NODES' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/images" [queryParams]="{ 'token': token }">
          {{ 'SIDE_NAV.IMAGES' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/profiles" [queryParams]="{ 'token': token }">
          {{ 'SIDE_NAV.PROFILES' | translate }}
        </a>
      </section>
    </nav>
    <div class="content-area">
      <inline-alert></inline-alert>
      <confirmation-dialog></confirmation-dialog>
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>