:host {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div.content-container-1 {
  display: flex;
  flex-basis: 100%;
  overflow: auto;
}

div.outlet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 5px 5px 20px;
  overflow-y: auto;
}

div.outlet-container-grafana{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
