<clr-main-container>
  <header-content [isSignIn]="false" [hasSignedIn]="true"></header-content>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard">
          {{ 'SIDE_NAV.DASHBOARD' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/services">
          {{ 'SIDE_NAV.SERVICES' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/projects">
         {{ 'SIDE_NAV.PROJECTS' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/nodes">
          {{ 'SIDE_NAV.NODES' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/images">
          {{ 'SIDE_NAV.IMAGES' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/admin-options">
          {{ 'SIDE_NAV.ADMIN_OPTIONS' | translate }}
        </a>
        <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']" routerLink="/profiles">
          {{ 'SIDE_NAV.PROFILES' | translate }}
        </a>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>