<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'">
  <h3 class="modal-title">{{ 'RESOURCE.CREATE_CONFIG_MAP_TITLE' | translate }}
    <span *ngIf="isLoadWip" class="spinner spinner-sm"></span>
  </h3>
  <div class="modal-body">
    <lib-dropdown-ex [dropdownLabel]="'RESOURCE.CREATE_CONFIG_MAP_PROJECT' | translate"
                     [dropdownTip]="'RESOURCE.CREATE_CONFIG_MAP_PROJECT_DES' | translate"
                     [dropdownMinWidth]="310"
                     [dropdownDisabled]="isCreateWip"
                     [dropdownIsRequired]="true"
                     [dropdownItems]="projectList"
                     [dropdownKey]="'projectName'"
                     (dropdownChangeItem)="changeSelectProject($event)">
    </lib-dropdown-ex>
    <lib-input-ex [inputIsRequired]="true"
                  [inputDisabled]="isCreateWip"
                  [inputLabel]="'RESOURCE.CREATE_CONFIG_MAP_NAME' | translate"
                  [inputDefaultValue]="newConfigMap.name"
                  [inputPattern]="configMapNamePattern"
                  [inputMaxlength]="50"
                  [validatorMessage]="[{key:'pattern', message: 'RESOURCE.CREATE_CONFIG_MAP_NAME_PATTERN' | translate }]"
                  (commitEvent)="newConfigMap.name = $event">
    </lib-input-ex>
    <div class="dynamic-line-container">
      <span>{{'RESOURCE.CONFIG_MAP_DETAIL_DATA_LIST' | translate}}:</span>
    </div>
    <div *ngFor="let data of newConfigMap.dataList;index as i" class="dynamic-container">
      <div class="dynamic-line-container">
        <div class="dynamic-icon-container">
          <clr-icon class="dynamic-icon" shape="minus" (click)="removeKeyValue(i)"></clr-icon>
        </div>
        <lib-input-ex [inputIsRequired]="true"
                      [inputDisabled]="isCreateWip"
                      [inputDefaultValue]="data.key"
                      (commitEvent)="data.key = $event">
        </lib-input-ex>
        <lib-input-ex [inputIsRequired]="true"
                      [inputDisabled]="isCreateWip"
                      [inputDefaultValue]="data.value"
                      (commitEvent)="data.value = $event">
        </lib-input-ex>
      </div>
    </div>
    <div class="plus-container">
      <clr-icon class="dynamic-icon" shape="plus" (click)="addKeyValue()"></clr-icon>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="isCreateWip" (click)="modalOpened = false">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isCreateWip" (click)="createConfigMap()">
      {{ 'BUTTON.CREATE' | translate }}
    </button>
    <span *ngIf="isCreateWip" class="spinner spinner-sm"></span>
  </div>
</clr-modal>
