<div class="select-image-container">
  <div class="image-source-container">
    <span class="base-text">{{"SERVICE.STEP_2_SELECT_IMAGE_SOURCE" | translate}}:</span>
    <div class="btn-group base-margin-left">
      <button class="btn" [class.btn-primary]="curContainerType === 0" (click)="changeContainerType(0)">
        Containers
      </button>
      <button class="btn" [class.btn-primary]="curContainerType === 1" (click)="changeContainerType(1)">
        Init containers
      </button>
    </div>
  </div>
  <div *ngFor="let container of curStep2Data.containerList;let iBuf = index" class="dynamic-container">
    <div class="dynamic-line-container">
      <div class="dynamic-icon-container">
        <clr-icon shape="minus"
                  class="dynamic-icon"
                  [class.disabled]="iBuf == 0 && curContainerType === 0"
                  (click)="minusSelectImage(iBuf)"></clr-icon>
      </div>
      <lib-dropdown-ex class="base-margin-left"
                       [dropdownMinWidth]="300"
                       [dropdownItems]="imageSourceList"
                       [dropdownTip]="'SERVICE.STEP_2_SELECT_IMAGE' | translate"
                       [dropdownKey]="'image_name'"
                       [dropdownActiveItem]="getActiveImage(iBuf)"
                       [dropdownItemSelectEnableFn]="canChangeSelectImageFun"
                       (dropdownChangeItem)="changeSelectImage(iBuf, $event)"
                       (dropdownEspecialClick)="createNewCustomImage(iBuf)">
        <ng-template libEspecialTemp>
          <span style="color: blue">{{"SERVICE.STEP_2_CREATE_IMAGE" | translate}}</span>
        </ng-template>
      </lib-dropdown-ex>
      <button class="btn btn-default get-tag"
              (click)="getImageDetailList(container).subscribe()"
              *ngIf="imageTagNotReadyList.get(container)">
        {{"SERVICE.STEP_2_GET_IMAGE_TAG"|translate}}
      </button>
      <lib-dropdown-ex class="base-margin-left"
                       *ngIf="imageDetailSourceList.get(container.image.image_name)"
                       [dropdownMinWidth]="150"
                       [dropdownTip]="container.image.image_tag"
                       [dropdownItems]="imageDetailSourceList.get(container.image.image_name)"
                       [dropdownKey]="'image_tag'"
                       (dropdownChangeItem)="changeSelectImageDetail(container.image.image_name,$event)">
      </lib-dropdown-ex>
      <a href="javascript:void(0)">
        <clr-icon *ngIf="imageDetailSourceList.get(container.image.image_name)"
                  shape="wrench"
                  class="action"
                  (click)="showConfigParams(container)">
        </clr-icon>
      </a>
    </div>
  </div>
  <div class="plus-container">
    <clr-icon class="dynamic-icon" shape="plus" (click)="addEmptyWorkItem()"></clr-icon>
    <span class="base-margin-left">{{"SERVICE.STEP_2_ADD_NEW_IMAGE_DES"|translate}}</span>
  </div>
</div>
<button class="btn btn-default" (click)="cancelBuildService()">
  {{"BUTTON.CANCEL"|translate}}
</button>
<button class="btn btn-default" (click)="backStep()">
  {{"BUTTON.BACK" | translate}}
</button>
<button class="btn btn-default" [disabled]="!isCanNextStep" (click)="forward()">
  {{"BUTTON.NEXT"|translate}}
</button>
