
div.select-image-container {
  width: 100%;
  min-height: 400px; /*fixed height*/
  display: flex;
  flex-direction: column;
}

div.dynamic-icon-container {
  flex-basis: 20px;
  display: flex;
  justify-content: flex-end;
}

div.image-source-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

div.dynamic-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.dynamic-line-container {
  display: flex;
  margin-top: 10px;
}

div.dynamic-line-container.config-container {
  flex-direction: column;
  margin-top: 0;
  width: 500px;
}

.dynamic-icon {
  color: white;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

label.base-text {
  min-width: 180px;
  text-align: right;
}

button.default-primary {
  font-size: 10px;
}

div.plus-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.base-margin-left {
  margin-left: 10px;
}

button.get-tag {
  margin-left: 10px;
  height: 30px;
  font-size: 10px;
  line-height: 30px;
}

clr-icon.action{
  margin-left: 10px;
}

div.volume-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 195px;
  margin-top: 10px;
}