<lib-dropdown-ex [dropdownTip]="'JOB.JOB_CREATE_SELECT_PROJECT' | translate"
                 [dropdownLabel]="'JOB.JOB_CREATE_SELECT_PROJECT' | translate"
                 [dropdownMinWidth]="300"
                 [dropdownItems]="projectList"
                 [dropdownIsRequired]="true"
                 [dropdownKey]="'project_name'"
                 [dropdownItemSelectEnableFn]="canChangeSelectImageFun"
                 (dropdownEspecialClick)="clickSelectProject()"
                 (dropdownChangeItem)="changeSelectProject($event)">
  <ng-template libEspecialTemp>
    <span style="color: blue">{{'JOB.JOB_CREATE_CREATE_PROJECT' | translate}}</span>
  </ng-template>
</lib-dropdown-ex>
<lib-input-ex [inputIsRequired]="true"
              [inputDisabled]="isActionWip || newJobDeployment.projectId == 0"
              [inputPattern]="patternServiceName"
              [inputMaxlength]="63"
              [inputWidth]="'500px'"
              [inputLabel]="'JOB.JOB_CREATE_JOB_NAME' | translate"
              [validatorMessage]="[{key:'pattern', message:'JOB.JOB_CREATE_JOB_NAME_PATTERN_NSG' | translate},
                                   {key:'jobNameExists', message: 'JOB.JOB_CREATE_JOB_NAME_EXISTS' | translate}]"
              [validatorAsyncFn]="checkJobNameFun"
              [inputDefaultValue]="newJobDeployment.jobName"
              [inputPlaceholder]="'JOB.JOB_CREATE_JOB_NAME'| translate"
              (commitEvent)="newJobDeployment.jobName = $event">
</lib-input-ex>
<div class="clr-row" *ngFor="let container of newJobDeployment.containerList;let i = index">
  <span class="filed-text">{{"JOB.JOB_CREATE_CONTAINER" | translate}}{{i + 1}}->{{container.name}}:</span>
  <a href="javascript:void(0)" (click)="editContainer(container, true)">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a href="javascript:void(0)" (click)="deleteContainer(i)">
    <clr-icon shape="trash"></clr-icon>
  </a>
</div>
<div class="clr-row">
  <span class="filed-text">{{"JOB.JOB_CREATE_ADD_CONTAINER"|translate}}:</span>
  <a (click)="addNewContainer()">
    <clr-icon class="dynamic-icon"
              [class.disabled]="isActionWip || newJobDeployment.projectId == 0"
              shape="plus"></clr-icon>
  </a>
</div>
<div class="clr-row">
  <span class="filed-text">{{"JOB.JOB_CREATE_SET_AFFINITY"|translate}}:</span>
  <clr-icon shape="wrench"
            class="dynamic-icon"
            [ngClass]="{'disabled':isActionWip || newJobDeployment.projectId == 0}"
            (click)="setAffinity()"></clr-icon>
</div>
<lib-dropdown-ex [dropdownItems]="nodeSelectorList"
                 [dropdownLabel]="'JOB.JOB_CREATE_NODE_SELECTOR' |translate"
                 [dropdownTip]="'JOB.JOB_CREATE_NODE_DEFAULT' | translate"
                 [dropdownKey]="'name'"
                 [dropdownMinWidth]="300"
                 (dropdownChangeItem)="newJobDeployment.nodeSelector = $event['value']">
  <ng-template libItemTemp let-name="name" let-tag="tag">
    <div class="temp-container">
      {{name | translate}}
      <span *ngIf="tag" class="tag label" [ngClass]="getItemTagClass(tag)">
        {{tag['description'] | translate}}</span>
    </div>
  </ng-template>
  <ng-template libTitleTemp let-name="name" let-tag="tag">
    <div class="temp-container">
      {{name | translate}}
      <span *ngIf="tag" class="tag label" [ngClass]="getItemTagClass(tag)">
        {{tag['description'] | translate}}</span>
    </div>
  </ng-template>
</lib-dropdown-ex>
<lib-input-ex [inputCategory]="2"
              [inputMin]="1"
              [inputDisabled]="isActionWip"
              [inputWidth]="'500px'"
              [inputLabel]="'JOB.JOB_CREATE_PARALLELISM' | translate"
              [inputDefaultValue]="newJobDeployment.parallelism"
              (commitEvent)="newJobDeployment.parallelism = $event">
</lib-input-ex>
<lib-input-ex [inputCategory]="2"
              [inputMin]="1"
              [inputWidth]="'500px'"
              [inputDisabled]="isActionWip"
              [inputLabel]="'JOB.JOB_CREATE_COMPLETIONS' | translate"
              [inputDefaultValue]="newJobDeployment.completions"
              (commitEvent)="newJobDeployment.completions = $event">
</lib-input-ex>
<lib-input-ex [inputCategory]="2"
              [inputMin]="1"
              [inputWidth]="'500px'"
              [inputDisabled]="isActionWip"
              [inputLabel]="'JOB.JOB_CREATE_ACTIVE_DEADLINE_SECONDS' | translate"
              [inputDefaultValue]="newJobDeployment.activeDeadlineSeconds"
              (commitEvent)="newJobDeployment.activeDeadlineSeconds = $event">
</lib-input-ex>
<lib-input-ex [inputCategory]="2"
              [inputMin]="1"
              [inputDisabled]="isActionWip"
              [inputWidth]="'500px'"
              [inputLabel]="'JOB.JOB_CREATE_BACKOFF_LIMIT' | translate"
              [inputDefaultValue]="newJobDeployment.backOffLimit"
              (commitEvent)="newJobDeployment.backOffLimit = $event">
</lib-input-ex>
<div class="clr-row clr-align-items-center">
  <button class="btn btn-default" [disabled]="isActionWip" (click)="cancelDeploymentJob()">
    {{ 'BUTTON.CANCEL' | translate }}
  </button>
  <button class="btn btn-primary" [disabled]="isActionWip" (click)="deploymentJob()">
    {{ 'JOB.JOB_LIST_CREATE_JOB' | translate }}
  </button>
  <span *ngIf="isActionWip" class="spinner spinner-sm"></span>
</div>
