<clr-vertical-nav [clrVerticalNavCollapsible]="false">
  <clr-vertical-nav-group>
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>Compute
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink
         routerLink="node-list"
         routerLinkActive="active">
        Node list
      </a>
      <a clrVerticalNavLink
         routerLink="node-logs"
         routerLinkActive="active">
        Node operation logs
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group
    routerLinkActive="active">
    <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
    Storage Resource
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink
         routerLink="./fire/charmander"
         routerLinkActive="active">
        Sub-label
      </a>
      <a clrVerticalNavLink
         routerLink="./fire/charizard"
         routerLinkActive="active">
        Sub-label2
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group
    routerLinkActive="active">
    <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
    Network Resource
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink
         routerLink="./electric/pikachu"
         routerLinkActive="active">
        Sub-label 4
      </a>
      <a clrVerticalNavLink
         routerLink="./electric/raichu"
         routerLinkActive="active">
        Sub-label 5
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
</clr-vertical-nav>
<div style="flex-basis: 100%;padding: 10px;">
  <router-outlet></router-outlet>
</div>
