<clr-modal [(clrModalOpen)]="opened">
  <h3 class="modal-title">{{ confirmationMessage.title | translate }}</h3>
  <div class="modal-body">
    <p>{{ confirmationMessage.message | translate }}</p>
  </div>
  <div class="modal-footer" [ngSwitch]="confirmationMessage.buttons">
    <ng-template [ngSwitchCase]="1">
      <button type="button" class="btn btn-outline" (click)="opened = false">{{ 'BUTTON.CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="confirm()">{{ 'BUTTON.CONFIRM' | translate }}</button>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
      <button type="button" class="btn btn-outline" (click)="opened = false">{{ 'BUTTON.CANCEL' | translate }}</button>
      <button type="button" class="btn btn-danger" (click)="confirm()">{{ 'BUTTON.DELETE' | translate }}</button>
    </ng-template>
    <ng-template [ngSwitchCase]="3">
      <button type="button" class="btn btn-outline" (click)="opened = false">{{ 'BUTTON.NO' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="confirm()">{{ 'BUTTON.YES' | translate }}</button>
    </ng-template>
  </div>
</clr-modal>