div.modal-body {
  min-height: 42vh;
}

div.list-container {
  margin-top: 24px;
  height: 200px;
  display: flex;
}

div.left-list-container {
  flex-basis: 45%;
  display: flex;
  flex-flow: column;
}

div.list-action-container {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  margin: 0 5px 0;
}

div.right-list-container {
  flex-basis: 45%;
  display: flex;
  flex-flow: column;
}

select.member {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}