<div class="step6-container">
  <div class="step6-deploy-container">
    <span>{{"SERVICE.STEP_6_DEPLOY"|translate}}:</span>
    <div class="step6-icon-container"
         (click)="serviceDeploy()"
         [ngClass]="{'deploy':isDeployed}">
      <div class="step6-start-icon"></div>
    </div>
    <span *ngIf="isInDeployWIP" class="spinner spinner-md step6-spinner"></span>
  </div>
  <div class="step6-journal-container">
    <label for="areaJournal">{{"SERVICE.STEP_6_JOURNAL"|translate}}:</label>
    <textarea id="areaJournal" rows="10" class="step6-journal" readonly>{{consoleText | translate}}</textarea>
  </div>
</div>
<button class="btn btn-primary default-primary"
        [disabled]="isDeploySuccess || !isDeployed"
        (click)="deleteDeploy()">
  {{"SERVICE.STEP_6_DELETE" | translate}}
</button>
<button class="btn btn-default" [disabled]="isDeployed" (click)="backStep()">
  {{"BUTTON.BACK" | translate}}
</button>
<button class="btn btn-default" [disabled]="!isDeployed || isInDeployWIP" (click)="deployComplete()">
  {{"BUTTON.OK" | translate}}
</button>